#boot-camp .mat-form-field-infix {
	    padding: 0 0.5rem;
    border: 1px solid #cacaca;
    margin: 0;
    line-height: 1.5em;
    color: #8a8a8a;
}
#boot-camp .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
}
#boot-camp .mat-form-field-appearance-legacy .mat-form-field-underline {
	display: none;
}