<div class="modal-options">
    <div class="custom-modal-sm">
        <div class="custom-modal-content score-modal-wrap">
		<div class="custom-modal-body">
            <div class="modal-header">
                <button type="button" class="close-button" (click)="close()"><span aria-hidden="true">&times;</span></button>

                <div *ngIf="scoreObj.isLoggedIn;then loggedin else loggedout"></div>
                <ng-template #loggedout>
                    <div>
                        <h3 class="modal-title">Create Account</h3>
                    </div>
                </ng-template>
                <ng-template #loggedin>
                    <div>
                        <h3 class="modal-title">Relevant Service Composite Score(s)</h3>
                    </div>
                </ng-template>
            </div>
            <div class="modal-body">
                <div class="row">
                    <br />

                    <!-- Not Logged in - display create account-->
                    <div *ngIf="!scoreObj.isLoggedIn" class="small-12 columns">
                        <p>
                            Create an account to access exclusive website features.<br />
                            <a (click)="openLoginDialog()"><strong>Create an Account</strong></a>
                        </p>
                        <p>
                            Did you participate in ASVAB CEP?<br />
                            Log in using the same account!<br />
                            <a href="https://www.asvabprogram.com/asvab-cep-at-your-school"><strong>Bring ASVAB CEP to
                                    your
                                    school</strong></a>
                        </p>
                    </div>
                    <!-- Air Force-->
                    <!-- Logged in - display service composite info-->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'F'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of serviceOffering">
                                <div *ngIf="s.compScoreOne && s.svc === 'F' && afCompositeScores(s.compScoreOne) && s.condition !== 'AND'">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the {{afCompositeScores(s.compScoreOne)}} composite for
                                                jobs
                                                related to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}}
                                                requires a minimum {{afCompositeScores(s.compScoreOne)}} composite score of: 
                                                <strong>{{s.requiredScoreOne}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreOne)}} composite
                                                    score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreOne)}}</strong>
                                                </span>
                                                <a *ngIf="isCompOneEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                <!-- <span *ngIf="!compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
											<a (click)="retrieveScore()">Retrieve Score</a>
										</span> -->
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, here. <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #faCheckbox type="checkbox" id="faCheckbox" (click)="addRemoveFavComposite(afCompositePropertyName(s.compScoreOne), faCheckbox.checked)" [checked]="afCompositeCheckBox(s.compScoreOne)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="s.compScoreTwo && s.svc === 'F' && afCompositeScores(s.compScoreTwo) && s.condition !== 'AND'">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the {{afCompositeScores(s.compScoreTwo)}} composite for
                                                jobs
                                                related to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}}
                                                requires a minimum {{afCompositeScores(s.compScoreTwo)}} composite score of: 
                                                <strong>{{s.requiredScoreTwo}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreTwo)}} composite
                                                    score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreTwo)}}</strong>
                                                    <a *ngIf="isCompTwoEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #fbCheckbox type="checkbox" id="fbCheckbox" (click)="addRemoveFavComposite(afCompositePropertyName(s.compScoreTwo), fbCheckbox.checked)" [checked]="afCompositeCheckBox(s.compScoreTwo)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="s.compScoreOne && s.svc === 'F' && afCompositeScores(s.compScoreOne) 
                                    && afCompositeScores(s.compScoreTwo) && s.condition === 'AND'">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the {{afCompositeScores(s.compScoreOne)}} composite {{s.condition | lowercase}} 
                                                {{afCompositeScores(s.compScoreTwo)}} composite for jobs
                                                related to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}}
                                                requires a minimum {{afCompositeScores(s.compScoreOne)}} composite score of: 
                                                <strong>{{s.requiredScoreOne}}</strong> {{s.condition | lowercase}}
                                                requires a minimum {{afCompositeScores(s.compScoreTwo)}} composite score of: 
                                                <strong>{{s.requiredScoreTwo}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreOne)}} composite score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreOne)}}</strong>
                                                    {{s.condition | lowercase}} your
                                                    {{scoreObj.serviceName}} {{afCompositeScores(s.compScoreTwo)}} composite score is:
                                                    <strong>{{afUserCompositeScores(s.compScoreTwo)}}</strong>
                                                    <a *ngIf="isCompOneEligible(s) || isCompTwoEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about Service composite scores, here. <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #fccheckbox type="checkbox" id="fccheckbox"
                                                (click)="addRemoveFavComposite([afCompositePropertyName(s.compScoreOne), afCompositePropertyName(s.compScoreTwo)], fccheckbox.checked)"
                                                [checked]="afCompositeCheckBox(s.compScoreOne) && afCompositeCheckBox(s.compScoreTwo)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <p>
                                ASVAB requirements are subject to change without notice.<br />
                                For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
                                    (click)="modalOptions.close()">Contact
                                    a Recruiter</a>.
                            </p>
                            <p *ngIf="compositeScores">
                                <a (click)="redirect('composite-scores')">How were these scores calculated?</a>
                            </p>
                        </div>
                    </div>

                    <!-- Navy -->
                    <!-- Logged in - display service composite info-->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'N'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of serviceOffering">
                                <div *ngIf="s.compScoreOne && s.svc === 'N' && navyCompositeScores(s.compScoreOne)">
                                    <div class="row">
                                        <div class="small-12 columns">

                                            <p>The {{scoreObj.serviceName}} uses the
                                                {{navyCompositeScores(s.compScoreOne)}} composite for jobs related
                                                to
                                                {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                minimum {{navyCompositeScores(s.compScoreOne)}} composite score of:
                                                <strong>{{s.requiredScoreOne}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{navyCompositeScores(s.compScoreOne)}} composite score is:
                                                    <strong>{{navyUserCompositeScores(s.compScoreOne)}}</strong>
                                                    <a *ngIf="isCompOneEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #naCheckBox type="checkbox" id="naCheckbox" [checked]="navyCompositeCheckBox(s.compScoreOne)" (click)="addRemoveFavComposite(navyCompositePropertyName(s.compScoreOne), naCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>

                                <div *ngIf="s.compScoreTwo && s.svc === 'N' && navyCompositeScores(s.compScoreTwo)">
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <p>The {{scoreObj.serviceName}} uses the
                                                {{navyCompositeScores(s.compScoreTwo)}} composite for jobs related
                                                to
                                                {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                minimum {{navyCompositeScores(s.compScoreTwo)}} composite score of:
                                                <strong>{{s.requiredScoreTwo}}</strong>.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{navyCompositeScores(s.compScoreTwo)}} composite score is:
                                                    <strong>{{navyUserCompositeScores(s.compScoreTwo)}}</strong>
                                                    <a *ngIf="isCompTwoEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #nbCheckBox type="checkbox" id="nbCheckbox" [checked]="navyCompositeCheckBox(s.compScoreTwo)" (click)="addRemoveFavComposite(navyCompositePropertyName(s.compScoreTwo), nbCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <p>
                                ASVAB requirements are subject to change without notice.<br />
                                For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
                                    (click)="modalOptions.close()">Contact
                                    a Recruiter</a>.
                            </p>
                            <p *ngIf="compositeScores">
                                <a (click)="redirect('composite-scores')">How were these scores calculated?</a>
                            </p>
                        </div>
                    </div>

                    <!-- Army -->
                    <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'A'">
                        <div class="small-12 columns">
                            <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                {{scoreObj.serviceName}}</h3>

                            <div *ngFor="let s of armyOffering">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <p>The {{scoreObj.serviceName}} uses the <span>{{armyCompositeScores(s.compositeCd)}}
                                                composite for jobs related to {{s.mocTitle}}.</span>
                                            For this job, the {{scoreObj.serviceName}} requires a minimum
                                            <span>{{armyCompositeScores(s.compositeCd)}}
                                                composite score of: <strong>{{s.score}}</strong><span>{{s.opId
                                                    == 1 ? ' and ' : s.opId == 2 ? ' or ' : ''}}</span><span>.</span></span></p>
                                    </div>
                                </div>
                                   <div class="row">
                                        <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                    {{scoreObj.serviceName}}
                                                    {{armyCompositeScores(s.compositeCd)}} composite score is:
                                                    <strong>{{armyUserCompositeScores(s.compositeCd)}}</strong>
                                                    <a *ngIf="isCompOneEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                </span>
                                                <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                    Our records show you did not participate in ASVAB CEP. Learn more
                                                    about
                                                    Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                </span>
                                        </div>
                                        <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <input #aaCheckBox type="checkbox" id="aaCheckbox" [checked]="armyCompositeCheckBox(s.compositeCd)" (click)="addRemoveFavComposite(armyCompositePropertyName(s.compositeCd), aaCheckBox.checked)">
                                        </div>
                                    </div>
                                    <hr style="margin-top: 0; margin-bottom: 0">
                                    <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                        <ul>
                                            <li>Select to display in your portfolio</li>
                                        </ul>
                                    </div>
                                </div>
								<p>
									ASVAB requirements are subject to change without notice.<br />
									For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
										(click)="modalOptions.close()">Contact
										a Recruiter</a>.
								</p>
								<p *ngIf="compositeScores" style="margin: 0;">
									<a (click)="redirect('composite-scores')">How were these scores calculated?</a>
								</p>
							</div>
                        </div>

                        <!-- Coast Guard -->
                        <div *ngIf="scoreObj.isLoggedIn && scoreObj.serviceId == 'C'">
                            <div class="small-12 columns">
                                <h3 class="branch"><img src="assets/images/{{scoreObj.imageType}}.png">
                                    {{scoreObj.serviceName}}</h3>
    
                                <div *ngFor="let s of serviceOffering">
                                    <div *ngIf="s.compScoreOne && s.svc === 'C' && coastGuardCompositeScores(s.compScoreOne)">
                                        <div class="row">
                                            <div class="small-12 columns">
    
                                                <p>The {{scoreObj.serviceName}} uses the
                                                    {{coastGuardCompositeScores(s.compScoreOne)}} composite for jobs related
                                                    to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                    minimum {{coastGuardCompositeScores(s.compScoreOne)}} composite score of:
                                                    <strong>{{s.requiredScoreOne}}</strong>
                                                    <span *ngIf="s.condition && s.condition.toLowerCase() === 'and' && s.additionalRequirementOne">
                                                        {{s.condition.toLowerCase()}} {{s.additionalRequirementOne}}
                                                    </span>.</p>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                    <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                        {{scoreObj.serviceName}}
                                                        {{coastGuardCompositeScores(s.compScoreOne)}} composite score is:
                                                        <strong>{{coastGuardUserCompositeScores(s.compScoreOne)}}</strong>
                                                        <span *ngIf="s.condition && s.condition.toLowerCase() === 'and' && s.additionalRequirementOne">
                                                            {{s.condition.toLowerCase()}} your {{getTestAbbreviation(s.additionalRequirementOne)}} score is 
                                                            {{getTestScore(getTestAbbreviation(s.additionalRequirementOne))}}
                                                            <a *ngIf="isCompOneEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                        </span>
                                                    </span>
                                                    <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                        Our records show you did not participate in ASVAB CEP. Learn more
                                                        about Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                    </span>
                                            </div>
                                            <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                                <input #naCheckBox type="checkbox" id="naCheckbox" [checked]="coastGuardCompositeCheckBox(s.compScoreOne)" (click)="addRemoveFavComposite(coastGuardCompositePropertyName(s.compScoreOne), naCheckBox.checked)">
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0; margin-bottom: 0">
                                        <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>
    
                                    <div *ngIf="s.compScoreTwo && s.svc === 'C' && coastGuardCompositeScores(s.compScoreTwo)">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <p>The {{scoreObj.serviceName}} uses the
                                                    {{coastGuardCompositeScores(s.compScoreTwo)}} composite for jobs related
                                                    to {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                    minimum {{coastGuardCompositeScores(s.compScoreTwo)}} composite score of:
                                                    <strong>{{s.requiredScoreTwo}}</strong>.</p>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                    <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">Your
                                                        {{scoreObj.serviceName}}
                                                        {{coastGuardCompositeScores(s.compScoreTwo)}} composite score is:
                                                        <strong>{{coastGuardUserCompositeScores(s.compScoreTwo)}}</strong>
                                                        <a *ngIf="isCompTwoEligible(s)" (click)="openDescription('Eligible-text')" class="occufind-checkmark small"></a>
                                                    </span>
                                                    <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                        Our records show you did not participate in ASVAB CEP. Learn more
                                                        about Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                    </span>
                                            </div>
                                            <div class="small-2 columns" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                                <input #nbCheckBox type="checkbox" id="nbCheckbox" [checked]="coastGuardCompositeCheckBox(s.compScoreTwo)" (click)="addRemoveFavComposite(coastGuardCompositePropertyName(s.compScoreTwo), nbCheckBox.checked)">
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0; margin-bottom: 0">
                                        <div class="see-my-scores-fav-prompt" *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                            <ul>
                                                <li>Select to display in your portfolio</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div *ngIf="s.afqt && s.svc === 'C'">
                                        <div class="row">
                                            <div class="small-12 columns">
    
                                                <p>The {{scoreObj.serviceName}} uses the
                                                    AFQT for jobs related to
                                                    {{s.mocTitle}}. For this job, the {{scoreObj.serviceName}} requires a
                                                    minimum AFQT score of:
                                                    <strong>{{s.afqt}}</strong>.</p>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div [ngClass]="compositeScores ? 'small-10 columns' : 'small-12 columns'">
                                                    <span *ngIf="compositeScores && userSystem && userSystem.results === 'CEP-CITM'">
                                                        Your AFQT score is:
                                                        <strong>{{compositeScores.afqt}}</strong>
                                                    </span>
                                                    <span *ngIf="!compositeScores && (!userSystem || userSystem.results != 'CEP-CITM')">
                                                        Our records show you did not participate in ASVAB CEP. Learn more
                                                        about Service composite scores, <a (click)="redirect('composite-scores')">here</a>.
                                                    </span>
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0; margin-bottom: 0">
                                    </div>
                                </div>
    
                                <p>
                                    ASVAB requirements are subject to change without notice.<br />
                                    For the most accurate, up-to-date requirements, <a (click)="redirect('options-contact-recruiter')"
                                        (click)="modalOptions.close()">Contact a Recruiter</a>.
                                </p>
                                <p *ngIf="compositeScores">
                                    <a (click)="redirect('composite-scores')">How were these scores calculated?</a>
                                </p>
                            </div>
                        </div>
                    </div>
			<div class="small-12 columns"><hr></div>
            <div class="close-button-div row">
                <div class="small-12 columns">
				<button class="button" type="button" (click)="close()">close</button>
				</div>
            </div>
        </div>
	   	</div>
    </div>

</div>