<div class="custom-modal-content">
	<div class="custom-modal-body">
		<h4 class="popup-title">Privacy and Security</h4>
		<mat-dialog-content>
			<div *ngIf="showSpinner">
				<i class="fas fa-cog fa-spin"></i>
			</div>
			<div *ngIf="pageHtml">
				<div [innerHTML]="pageHtml[0]"></div>
			</div>
		<div class="modal-footer ng-scope">
			<button class="button" type="button" (click)="onNoClick()">Close</button>
		</div>
		</mat-dialog-content>
	</div>
</div>