<mat-dialog-content>
	<div class="modal-options">
		<!-- <div class="custom-modal-backdrop"></div> -->
		<div class="">
			<div class="custom-modal-content table-contents-wrap marine-modal">
				<div class="custom-modal-body">
					<div class="titles">
						<h4>{{service == 'A' ? 'Army' : service == 'N' ? 'Navy' :
						service == 'F' ? 'Air Force' : service == 'M' ? 'Marine' : service
						== 'C' ? 'Coast Guard' : service == 'S' ? 'Space Force' : ''}}</h4>
						<button type="button" class="close-button" (click)="close()">
							<span aria-hidden="true">&#215;</span>
						</button>
					</div>
					<div class="contents">
						<div class="row">
							<div class="medium-2 column text-center">
								<div class="military-img-modal">
									<img *ngIf="service == 'A'" src="/assets/images/military-army.png">
									<img *ngIf="service == 'M'" src="/assets/images/military-marines.png">
									<img *ngIf="service == 'N'" src="/assets/images/military-navy.png">
									<img *ngIf="service == 'F'" src="/assets/images/military-airforce.png">
									<img *ngIf="service == 'C'" src="/assets/images/military-coastguard.png">
									<img *ngIf="service == 'S'" src="/assets/images/military-spaceforce.png">
								</div>
							</div>
							<div class="medium-10 column">
								<div *ngIf="service == 'A'" class="military-text-modal">
									<p>As the oldest branch of the U.S. Military, founded in
										1775, the Army defends the nation by land, sea and air.</p>
									<p>The Army offers over 990,000 members 150 career
										opportunities across various disciplines, including aviation,
										information technology, health care, aircraft maintenance and
										Special Forces.</p>
								</div>

								<div *ngIf="service == 'N'" class="military-text-modal">
									<p>The U.S. Navy makes the seas safe for travel and trade.
										George Washington founded the Navy in 1775, but it was too
										expensive to maintain. Then, in 1794, pirate attacks and
										increasing international conflicts cemented the Navy as a
										military branch.</p>
									<p>Today's Navy is made up of approximately 320,000
										personnel equipped to handle operations both on and under the
										sea, in the air and on the ground.</p>
									<p>The Navy offers career in over 60 different fields for
										Sailors, scientists, artists, and aviators to name a few. Elite
										groups within the Navy, such as the SEALs and Navy Divers,
										specialize in advanced warfare situations.</p>
								</div>

								<div *ngIf="service == 'F'" class="military-text-modal">
									<p>The Air Force was born as a subdivision of the U.S. Army
										in 1920. In 1947, following World War II, the Air Force was
										recognized as its own military branch.</p>
									<p>The primary mission of more than 300,000 troops in
										today's Air Force is focused on air, space and cyberspace
										superiority.</p>
									<p>The Air Force offers 200 careers. Pilots and flight crew,
										mechanics, electronics technicians, air traffic controllers,
										medical staff and other personnel all fulfill Air Force
										objectives.</p>
								</div>

								<div *ngIf="service == 'M'" class="military-text-modal">
									<p>Also founded in 1775, the United States Marine Corps is
										known as the nation's rapid response force. These warriors live
										by the core values of honor, courage and commitment, on and off
										the battle field.</p>
									<p>A Marine is, above all else, a Marine. There are
										approximately 180,000 Marines skilled in the art of warfare.
										Marines are the first boots on the ground in most conflicts.</p>
								</div>

								<div *ngIf="service == 'C'" class="military-text-modal">
									<p>In 1915, a congressional act combined two separate
										federal services to form the Coast Guard.</p>
									<p>The Coast Guard operates under the Department of Homeland
										Security during peacetime and under the Navy during wartime, or
										by special presidential order. In addition to protecting our
										nation's waterways, approximately 40,000 active-duty members of
										the Coast Guard perform search and rescue, law enforcement, and
										environmental cleanup operations.</p>
								</div>

								<div *ngIf="service == 'S'" class="military-text-modal">
									<p>The U.S. Space Force was established on Dec. 20, 2019 to help the 
										Department of Defense meet the challenges of the future security 
										environment in the space domain.</p>
									<p>The mission of the U.S. Space Force is to organize, train, and 
										equip space forces in order to protect U.S. and allied interests in 
										space and to provide space capabilities to the joint force.</p>
								</div>
							</div>
						</div>
						<div class="close-button-div text-center">
							<button type="button" class="button" (click)="close()">close</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>