<div>

  <div ng-include="'citm/page-partials/header.html'" ng-controller="HeaderController"></div>

  <div id="main" class="section career-cluster-pathway">

    <mat-card class="row column search-bar">
      <div class="row">
        <div class="medium-12 columns">
          <a routerLink="/career-cluster">
            <i class="icon-left hide-for-medium"></i>
            <span class="show-for-medium">Back to</span> Career Cluster List
          </a>
        </div>
      </div>
      <hr class="show-for-medium" />
    </mat-card>

    <div id="boot-camp" style="margin-top: 30px;">
      <mat-card class="row">
        <div class="small-9 columns">
          <h1 class="title" *ngIf="careerCluster">{{careerCluster.title}}</h1>
        </div>
        <div class="small-3 columns">
          <h2>
            <span class="actions">
                <span *ngIf="careerCluster" class=" actions" [ngStyle]="myStyle">
                  <a (click)="onFavoriteClick()">
					
				  	<i *ngIf="!careerCluster.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					<i *ngIf="careerCluster.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
					
				  </a> 
                </span>
            </span>
          </h2>
        </div>
      </mat-card>
      <div class="row all-data">

        <div class="medium-12 column full-black-text career-cluster">
          <mat-card class="row">
            <div *ngIf="pathwayList" class="small-12 medium-12 large-12 column">
              <div *ngFor="let p of pathwayList; let  i = index" class="pathway-list">
                <p><b>Pathway {{p.pathwayId}}: {{p.pathwayTitle}}</b></p>
                <p> {{p.pathwayDescription}} </p>
                <div class="row">
                  <div class="medium-7 column">
                    <p><b>Sample Occupations</b></p>
                    <ul *ngIf="careerCluster">
                      <li *ngFor="let s of pathwayList[i].sampleJobs"><a routerLink="/career-detail/{{s.slug}}">{{s.title}}</a></li>
                      <li *ngIf="pathwayList[i].sampleJobs.length === 0">There are no military careers assigned to this pathway at
                        this time.</li>
                    </ul>
                  </div>
                  <div class="medium-5 column">
                    <div *ngIf="p.imageId" class="pathway-img">
                      <a routerLink="/career-detail/{{p.slug}}"><img align="right" [src]="p.imageUrl"
                          [title]="p.imageId ? getPhotoCredit(p.imageId) : ''">
                        <span>{{p.imageDescription}}</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
          <mat-card class="row search-bar">
            <div class="small-6 columns">
              <a routerLink="/career-cluster">
                <i class="icon-left hide-for-medium"></i>
                <span class="show-for-medium">Back to</span> Career Cluster List
              </a>
            </div>
            <div class="small-6 columns text-right">
              <a (click)="scrollTop()">Back to Top</a>
            </div>
            <div class="small-12 columns mt-30">
              <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may
                use
                a different set of career clusters. Contact your career counselor to fnd out more information.</p>

              <a href="http://www.careertech.org/career-clusters/" target="_blank"><img
                  src="assets/images/career-cluster-logo.jpg" class="career-cluster-logo"></a>

            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>