.career-cluster {

	.career-cluster-logo {
	    display: block;
	    margin: 0 auto 20px;
	} 
	.pathway-list {
	    border-bottom: 1px solid #cacaca;
	    margin-bottom: 30px;
	    padding-bottom: 30px;

	    .pathway-img {
		    display: inline-block;
		    float: right;
		    max-width: 276px;
		}
		&:last-child {
		    margin-bottom: 10px;
		}

	}
}
.mt-30 {
    margin-top: 30px;
}

.career-cluster-pathway .mat-card {
	font-family: "Open Sans",sans-serif;
}

.fa-heart {
	width: 30px;
    height: 30px;
}

@media screen and (max-width: 39.9375em) and (min-width: 0em) {
	.career-cluster .pathway-list {
		margin-bottom: 15px;
		padding-bottom: 15px;
	
		.pathway-img {
		    display: block;
		    float: none;
		}
	}
}
