<div class="modal-options">
  <div class="custom-modal-lg">
    <div class="custom-modal-content table-contents-wrap">
      <div class="custom-modal-body">
        <div class="titles">
          <h4>Contact a Recruiter</h4>
          <button type="button" class="close-button" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <br />
            <div class="small-2 columns">
              <h3 class="branch">
                <img src="assets/images/army.png" />
              </h3>
            </div>

            <ng-container *ngFor="let s of serviceContacts">
              <div class="small-10 columns" *ngIf="s.serviceCode == 'A'">
                <div class="small-5 columns">
                  <a href="{{ s.link }}"
                    ><b>{{ s.name }}</b></a
                  >
                </div>
                <div class="small-7 columns">
                  <b>{{ s.phone }}</b>
                </div>
              </div>
            </ng-container>

            <div class="small-12 columns"><hr /></div>

            <div class="small-2 columns">
              <h3 class="branch">
                <img src="assets/images/marines.png" />
              </h3>
            </div>
            <div class="small-10 columns" *ngFor="let s of serviceContacts">
              <ng-container *ngIf="s.serviceCode == 'M'">
                <div class="small-5 columns">
                  <a href="{{ s.link }}"
                    ><b>{{ s.name }}</b></a
                  >
                </div>
                <div class="small-7 columns">
                  <b>{{ s.phone }}</b>
                </div>
              </ng-container>
            </div>

            <div class="small-12 columns"><hr /></div>

            <div class="small-2 columns">
              <h3 class="branch">
                <img src="assets/images/navy.png" />
              </h3>
            </div>
            <div class="small-10 columns" *ngFor="let s of serviceContacts">
              <ng-container *ngIf="s.serviceCode == 'N'">
                <div class="small-5 columns">
                  <a href="{{ s.link }}"
                    ><b>{{ s.name }}</b></a
                  >
                </div>
                <div class="small-7 columns">
                  <b>{{ s.phone }}</b>
                </div>
              </ng-container>
            </div>

            <div class="small-12 columns"><hr /></div>

            <div class="small-2 columns">
              <h3 class="branch">
                <img src="assets/images/air-force.png" />
              </h3>
            </div>
            <div class="small-10 columns" *ngFor="let s of serviceContacts">
              <ng-container *ngIf="s.serviceCode == 'F'">
                <div class="small-5 columns">
                  <a href="{{ s.link }}"
                    ><b>{{ s.name }}</b></a
                  >
                </div>
                <div class="small-7 columns">
                  <b>{{ s.phone }}</b>
                </div>
              </ng-container>
            </div>

            <div class="small-12 columns"><hr /></div>

            <div class="small-2 columns">
              <h3 class="branch">
                <img src="assets/images/coast-guard.png" />
              </h3>
            </div>
            <div class="small-10 columns" *ngFor="let s of serviceContacts">
              <ng-container *ngIf="s.serviceCode == 'C'">
                <div class="small-5 columns">
                  <a href="{{ s.link }}"
                    ><b>{{ s.name }}</b></a
                  >
                </div>
                <div class="small-7 columns">
                  <b>{{ s.phone }}</b>
                </div>
              </ng-container>
            </div>

            <div class="small-12 columns"><hr /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
