<div class="table-contents table2">
	<div class="row">
		<div class="small-12">
			<p class="nav-base-head">
				<strong></strong>
			</p>
			<table>
				<tbody>
					<tr>
						<td><b>Event</b></td>
						<td><b>Male (under 30)</b></td>
						<td><b>Female (under 30)</b></td>
					</tr>
					<tr>
						<td>Push-ups</td>
						<td>29</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Sit-ups</td>
						<td>38</td>
						<td>32</td>
					</tr>
					<tr>
						<td>Run (1.5 mile)</td>
						<td>12.51</td>
						<td>15.26</td>
					</tr>
					<tr>
						<td>Complete Swim Circuit Test</td>
						<td>*</td>
						<td>*</td>
					</tr>
				</tbody>
			</table>
			<p>*Swim Assessment: Enter water from a 1.5-meter platform, swim 100-meters in 5 minutes, and float for 5 minutes.</p>
		</div>
	</div>
</div>