<app-spinner></app-spinner>
<div class="section job-family" id="main">
	<div id="boot-camp">
		<div class="row column">
			<h1 class="page-title">Job Family</h1>
		</div>
		<div class="row all-data">
			<div class="medium-12 column full-black-text">
				<div class="row">
					<div *ngIf="jobFamilyData" class="small-12 medium-12 large-12 column">
						<p class="smallp">The {{jobFamilyData.length}} job families are:</p>
						<mat-accordion> <mat-expansion-panel *ngFor="let j of jobFamilyData">
						<mat-expansion-panel-header class="transform_auto">{{j.title}}</mat-expansion-panel-header>
						<div class="ac-text-wrap">
							<p>{{j.description}}</p>
							<p>
								<strong>Military Careers:</strong>
							</p>

							<div *ngIf="!(allJobList != null && allJobList.length > 0)">
								<mat-progress-spinner diameter="30" mode="indeterminate" color="primary"> </mat-progress-spinner>
							</div>
							<ul *ngIf="allJobList" class="list-space">
								<li *ngFor="let a of filterMilitaryCareer(allJobList, j.id)"><a
									routerLink="/career-detail/{{a.slug}}">{{a.title}}</a></li>
							</ul>
						</div>
						</mat-expansion-panel> </mat-accordion>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
