span.mleftright.fas.fa-angle-right {
    margin: 0 4px;
}
.career-detail-service {

	.mat-card {
	    box-shadow: none;
	}

	.career-detail {

		h1 {
		    color: #2f2a6a;
		    font-size: 1.25rem;
		    margin-bottom: 1em;
		    text-transform: none;
		    font-weight: bold;
		    font-family: "Open Sans", sans-serif;

		    span {
			    color: #616060;
			    font-weight: normal;
			    margin-right: 5px;
			    text-transform: uppercase;
			}
		}

		.snapshot-sec {

			.garybg-samlltitle {
			    background: #efefef;
			    font-size: 15px;
			    font-weight: bold;
			    padding: 1px 0 2px;
			    margin-bottom: 22px;
			    margin-top: 10px;
			}

			.small-toggle {
				p {
			    	margin-bottom: 7px;
				}
			}

			.life-list {
				p {
    				margin-bottom: 7px;
				}

				ul {
				    list-style-type: none;
				    margin: 0;

				    li {
				    	font-size: 13px;
				    }
				}
			}	
		}
	
		.i-line {
		    display: inline-block;
		    font-size: 16px;
		    font-weight: bold;

		    img {
			    display: inline-block;
			    margin-right: 5px;
			}

			span {
			    position: relative;
			    top: 3px;
			    color: #000;
			}
		}

		.learn-more-box {
		    display: table;
		    margin: 28px 0 47px;

		    .learn-more-box-left {
			    background-color: #efefef;
			    display: table-cell;
			    text-align: center;
			    vertical-align: middle;
			    width: 139px;
			}

			.learn-more-box-right {
			    display: table-cell;
			    vertical-align: middle;
				padding: 0;

			    .learn-more-box-right-inner {
				    background-color: #efefef;
				    display: table;
				    margin-left: 7px;
				    padding: 20px 0 3px 37px;

				    .learn-more-box-right-item {
					    position: relative;
					    margin-bottom: 6px;
					    float: left;
					    width: 100%;
					    background: transparent;

					    i,
						img {
						    left: 0;
						    position: absolute;
						    top: 0;
						}
						svg {
						    position: absolute;
							top: -2px;
							color: #000;
						    width: 30px;
    						height: 24px;
						}
						a {
							text-decoration: none;
						}

						h6 {
						    padding-left: 51px;
						    text-transform: capitalize;
						    margin-bottom: .5rem;

						    >div {
						    	display: inline-block;
						    }
						}

						.learn-more-box-greentext {
						    color: #1f8d92;
						}

						a {
							i.favorite {
								color: #000 !important;
								font-size: 28px;
								float: left;
							}	
						}		
					}
				}
			}
		}

		.army-contant {

			.learn-more-box-right-item {
			    margin-bottom: 10px !important;
			}
		}

		strong, b {
		    font-weight: bold;
		    font-size: 13px;
		    line-height: inherit;
		}
	}

}


a:focus, a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 39.9375em) and (min-width: 0em) {
	.career-detail-service .career-detail {
		.learn-more-box {
		    margin: 5px 0 20px;
		    display: inline-block;
		    width: 100%;

			.learn-more-box-left {
				display: block;
				padding-top: 20px;
				width: 100%;
			}
			.learn-more-box-right {
				display: inline-block;
				vertical-align: middle;
				width: 100%;

				.learn-more-box-right-inner {
				    margin-left: 0;
				    padding: 20px 20px 7px;
				    display: inline-block;
				    width: 100%;

				    .learn-more-box-right-item {
						position: relative;
						margin-bottom: 6px;
						float: left;
						width: 100%;

						> img {
						    max-width: 25px;
						}
						h6 {
						    font-size: 14px;
						    padding-left: 40px;

						    span {
						        white-space: inherit !important;
						    }
						}
					}
				}
			}
		}
	}
}