<app-spinner></app-spinner>
<div id="main" class="section career-detail-service">
  <div class="row column search-bar back-top-link">
    <div class="row">
      <div class="medium-12 columns">
        <a routerLink="/advanced-search">Search Results</a> >
        <br class="show-for-small-only">
        <a *ngIf="milCareer" routerLink="/career-detail/{{mcId}}">{{milCareer.title}}</a>
      </div>
    </div>
    <hr class="show-for-medium" />
  </div>

  <div class="row column">
    <div class="career-detail citm-detail-service-specific">
      <div class="row">
        <div *ngIf="serviceDetail" class="small-12 columns">
          <h1>
            <span>{{serviceName}}: </span>
            {{serviceDetail.title}}
            <span class="actions show-for-medium">
            </span>
          </h1>
        </div>
      </div>

      <!-- Air Force Beginning -->
      <div *ngIf="serviceDetail && service == 'F'" class="row">
        <div class="small-12 medium-6 large-8 columns" [ngClass]="{'medium-12' : !videoId, 'large-12' : !videoId}">
          <div [innerHtml]="serviceDetail.specialty"></div>
          <p *ngIf="serviceDetail.task"><strong>Job Tasks:</strong> {{serviceDetail.task}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.educationLevel !== 'NONE' 
            && serviceDetail.requirement.educationLevel !== 'NA'"><strong>Minimum Education:</strong> {{serviceDetail.requirement.educationLevel}}</p>
          <p *ngIf="serviceDetail.basicTraining"><strong>Basic Training:</strong> {{serviceDetail.basicTraining}}</p>
          <p *ngIf="serviceDetail.technicalTraining"><strong>Technical Training:</strong>
            {{serviceDetail.technicalTraining}}</p>
          <p *ngIf="serviceDetail.techSchoolLocation"><strong>Tech School Location:</strong>
            {{serviceDetail.techSchoolLocation}}</p>
          <p *ngIf="requiredHSCourses.length > 0"><strong>Required High School Courses:</strong>
            {{requiredHSCourses}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.heightRequirement !== 'NONE'"><strong>Height Min/Max Required:</strong>
            {{serviceDetail.requirement.heightRequirement}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.colorVisionRequirement"><strong>Normal Color Vision:</strong>
            {{serviceDetail.requirement.colorVisionRequirement === 'Y' ? 'Yes' : 'No'}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.noFearOfHeightsRequirement !== 'NONE'"><strong>No Fear of Heights (Acrophobia):</strong>
            {{serviceDetail.requirement.noFearOfHeightsRequirement === 'Y' ? 'Yes' : 'No'}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.noFearOfClosedSpacesRequirement"><strong>No Fear of Enclosed Spaces (Claustrophobia):</strong>
            {{serviceDetail.requirement.noFearOfClosedSpacesRequirement === 'Y' ? 'Yes' : 'No'}}</p>
          <p *ngIf="serviceDetail.requirement && serviceDetail.requirement.validDriversLicenseRequirement"><strong>Valid Driver's License Required:</strong>
            {{serviceDetail.requirement.validDriversLicenseRequirement === 'Y' ? 'Yes' : 'No'}}</p>
        </div>

        <!--  Play youtube video without popping up modal -->
        <mat-card class="small-12 medium-6 large-4 columns" *ngIf="mediaCollection.length > 0">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide snap-shot-inner" *ngFor="let m of mediaCollection">
              <div *ngIf="m.type === 'video'" class="h_iframe">
                <iframe width="854" height="480" [src]="m.content" frameborder="0" allowfullscreen></iframe>
              </div>
              <img *ngIf="m.type === 'image'" [src]="m.content"/>
            </div>
          </ngx-slick-carousel>
        </mat-card>

      </div>

      <div  *ngIf="serviceDetail && service == 'F' && ((airForceCommunityMap && airForceCommunityMap.length > 0) || (airForceContextMap && airForceContextMap.length > 0) || (airForceActivityMap && airForceActivityMap.length > 0))" class="row">
        <div class="small-12 medium-12 large-12 columns snapshot-sec">
          <div class="garybg-samlltitle text-center">OCCUPATION SNAPSHOT</div>
          <div class="row">
            <mat-card class="medium-5 columns"
              *ngIf="serviceDetail && service == 'F' && airForceCommunityMap.length > 0">
              <div class="small-toggle">
                <p><b>FUNCTIONAL COMMUNITIES:</b></p>
                <mat-accordion *ngFor="let c of airForceCommunityMap" id="air-force-community" #firstAccordion="matAccordion">
                  <mat-expansion-panel #panel1>
                    <mat-expansion-panel-header>{{c.communityTitle}}</mat-expansion-panel-header>
                    {{c.communityDefinition}}
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-card>
            <mat-card class="medium-3 columns"
              *ngIf="serviceDetail && service == 'F' && airForceContextMap.length > 0">
              <div class="life-list">
                <p><b>JOB CONTEXT:</b></p>
                <ul>
                  <li *ngFor="let c of airForceContextMap">{{c.jobContext}}</li>
                </ul>
              </div>
            </mat-card>
            <mat-card class="medium-4 columns"
              *ngIf="serviceDetail && service == 'F' && airForceActivityMap.length > 0">
              <div class="small-toggle">
                <p class="samll-toggle-title"><b>WORK ACTIVITIES:</b></p>

                <mat-accordion *ngFor="let a of airForceActivityMap"  id="air-force-activity"  #secondAccordion="matAccordion">
                    <mat-expansion-panel #panel1>
                        <mat-expansion-panel-header>{{a.activityTitle}} </mat-expansion-panel-header>
                    {{a.activityDefinition}}
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      
      <div *ngIf="serviceDetail && service == 'F' && (serviceDetail.airforceOfficerActivityMap.length > 0 && serviceDetail.airforceOfficerAttributeMap.length > 0 && serviceDetail.airforceOfficerCommunityMap.length > 0 && serviceDetail.airforceOfficerContextMap.length > 0)" class="row">
            <div class="small-12 medium-12 large-12 columns snapshot-sec">
            	<div class="garybg-samlltitle text-center">OCCUPATION SNAPSHOT</div>
                <div class="row">
                    <div class="small-6 medium-6 large-6 columns">
                    	<div class="small-toggle">
                            <p class="samll-toggle-title"><b>WORK ACTIVITIES:</b></p>
                            <div *ngIf="serviceDetail.airforceOfficerActivityMap.length > 0">
                            <mat-accordion *ngFor="let a of serviceDetail.airforceOfficerActivityMap"  id="air-force-activity"  #secondAccordion="matAccordion">
			                    <mat-expansion-panel #panel1>
			                        <mat-expansion-panel-header>{{a.officerActivitiesTitle}} </mat-expansion-panel-header>
									{{a.officerActivitiesDefinition}}
			                  </mat-expansion-panel>
			                </mat-accordion>
							</div>
                        	<!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerActivityMap"> 
                                  <uib-accordion-heading>{{c.officerActivitiesTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerActivitiesDefinition}}
                              </uib-accordion-group>
                      		</uib-accordion> -->
                        </div>
                    </div>
                    
                    <div class="small-6 medium-6 large-6 columns">
                    	<div class="small-toggle">
                            <p class="samll-toggle-title"><b>JOB ATTRIBUTES:</b></p>
                            <div  *ngIf="serviceDetail.airforceOfficerAttributeMap.length > 0">
                            <mat-accordion *ngFor="let a of serviceDetail.airforceOfficerAttributeMap" id="air-force-activity"  #secondAccordion="matAccordion">
			                    <mat-expansion-panel #panel1>
			                        <mat-expansion-panel-header>{{a.officerJobAttributeTitle}} </mat-expansion-panel-header>
			                    <span>{{a.officerJobAttributeDefinition}}</span>
			                  </mat-expansion-panel>
			                </mat-accordion>
			                </div>
                        	<!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerAttributeMap"> 
                                  <uib-accordion-heading>{{c.officerJobAttributeTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerJobAttributeDefinition}}
                              </uib-accordion-group>
                      		</uib-accordion> -->
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    
                    <div class="small-6 medium-6 large-6 columns">
                    	<div class="small-toggle">
                            <p class="samll-toggle-title"><b>FUNCTIONAL COMMUNITIES:</b></p>
                            <div *ngIf="serviceDetail.airforceOfficerCommunityMap.length > 0">
                            <mat-accordion *ngFor="let a of serviceDetail.airforceOfficerCommunityMap" id="air-force-activity"  #secondAccordion="matAccordion">
			                    <mat-expansion-panel #panel1>
			                        <mat-expansion-panel-header>{{a.officerCommunityTitle}} </mat-expansion-panel-header>
			                    <span> {{a.officerfCommunityDefinition}}</span>
			                  </mat-expansion-panel>
			                </mat-accordion>
			                </div>
                        	<!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerCommunityMap"> 
                                  <uib-accordion-heading>{{c.officerCommunityTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerfCommunityDefinition}}
                              </uib-accordion-group>
                      		</uib-accordion> -->
                        </div>
                    </div>
                    
                    <div class="small-6 medium-6 large-6 columns">
                    	<div class="small-toggle">
                            <p class="samll-toggle-title"><b>JOB CONTEXT:</b></p>
                            <div *ngIf="serviceDetail.airforceOfficerContextMap.length > 0">
                            <mat-accordion *ngFor="let a of serviceDetail.airforceOfficerContextMap" id="air-force-activity"  #secondAccordion="matAccordion">
			                    <mat-expansion-panel #panel1>
			                        <mat-expansion-panel-header>{{a.officerJobContext}} </mat-expansion-panel-header>
			                    <span > {{a.officerJobContextDefinition}}</span>
			                  </mat-expansion-panel>
			                </mat-accordion>
			                </div>
                        	<!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerContextMap"> 
                                  <uib-accordion-heading>{{c.officerJobContext}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerJobContextDefinition}}
                              </uib-accordion-group>
                      		</uib-accordion> -->
                        </div>
                    </div>
                </div>   
            </div>
        </div>  
      <div *ngIf="service == 'F'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a
              recruiter below for more details about this job.</span> </div>
          <div class="learn-more-box">
            <mat-card class="learn-more-box-left">
              <a href="http://www.airforce.com" target="_blank"><img src="assets/images/airforce_big_icon.png"></a>
            </mat-card>
            <mat-card class="learn-more-box-right">
              <div class="learn-more-box-right-inner" >
                <div class="learn-more-box-right-item">
                  <img src="assets/images/website-icon.png">
                  <h6  (click)="ga('#CITM_LEARNMORE')" style="text-transform:none;">Learn
                    More
                    <span *ngIf="!serviceDetail || !serviceDetail.link">
                      About
                      <a target="_blank" href="http://www.airforce.com">the Air Force</a>
                    </span>
                    <span *ngIf="serviceDetail && serviceDetail.link">
                      at
                      <a target="_blank" (click)="openNewTab(serviceDetail.link)">airforce.com</a>
                    </span>
                  </h6>
                </div>
                <div class="learn-more-box-right-item">
                  <img src="assets/images/recruiter.png">
                  <h6 class="learn-more-box-greentext" 
                    (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_AIR_FORCE_'+mcId+'_'+mocId)"
                    style="cursor: pointer">Contact an Air Force recruiter</h6>
                </div>
                <div class="learn-more-box-right-item">
                  <span [ngStyle]="myStyle">
                    <a (click)="onFavoriteClick()">
					  
					  <i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					  <i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
						
                      <h6 class="learn-more-box-greentext">
                        <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Air Force To Favorites</span>
                        <span *ngIf="favorited">Remove Air Force From Favorites</span>
                      </h6>
                    </a>
                  </span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- Air Force End -->

      <!-- Space Force Beginning -->
      <div *ngIf="serviceDetail && service == 'S'" class="row">
        <div class="small-12 medium-6 large-8 columns" [ngClass]="{'medium-12' : !videoId, 'large-12' : !videoId}">
          <div [innerHtml]="serviceDetail.specialty"></div>
          <p *ngIf="serviceDetail.task"><strong>Job Tasks:</strong> {{serviceDetail.task}}</p>
          <p *ngIf="serviceDetail.minimumEducation"><strong>Minimum Education:</strong> {{serviceDetail.minimumEducation}}</p>
          <p *ngIf="serviceDetail.basicTraining"><strong>Basic Training:</strong> {{serviceDetail.basicTraining}}</p>
          <p *ngIf="serviceDetail.technicalTraining"><strong>Technical Training:</strong>
            {{serviceDetail.technicalTraining}}</p>
          <p *ngIf="serviceDetail.techSchoolLocation"><strong>Tech School Location:</strong>
            {{serviceDetail.techSchoolLocation}}</p>
          <p *ngIf="serviceDetail.desiredHSCourse"><strong>Desired High School Courses:</strong>
            {{serviceDetail.desiredHSCourse}}</p>
        </div>

        <!--  Play youtube video without popping up modal -->
        <mat-card class="small-12 medium-6 large-4 columns">
        
            <div *ngIf="videoId" class="h_iframe">
                <iframe width="854" height="480" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
            </div>
            <div *ngIf="mcId == '0008.00' && mocId == '1C1X1'">
                <div class="h_iframe">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/nWAKxfq6PLk" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </mat-card>

      </div>

      <div  *ngIf="serviceDetail && service == 'S' && (airForceCommunityMap || airForceContextMap || airForceActivityMap)" class="row">
        <div class="small-12 medium-12 large-12 columns snapshot-sec">
          <div class="garybg-samlltitle text-center">OCCUPATION SNAPSHOT</div>
          <div class="row">
            <mat-card class="medium-5 large-4 columns"
              *ngIf="serviceDetail && service == 'F' && airForceCommunityMap">
              <div class="small-toggle">
                <p><b>FUNCTIONAL COMMUNITIES:</b></p>
                <mat-accordion id="air-force-community" #firstAccordion="matAccordion">
                  <mat-expansion-panel #panel1>
                    <mat-expansion-panel-header>{{airForceCommunityTitle}}</mat-expansion-panel-header>
                    <span *ngFor="let c of airForceCommunityMap">{{c.communityDefinition}}</span>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-card>
            <mat-card class="medium-3 large-4 columns"
              *ngIf="serviceDetail && service == 'S' && airForceContextMap">
              <div class="life-list">
                <p><b>JOB CONTEXT:</b></p>
                <ul>
                  <li *ngFor="let c of airForceContextMap">{{c.jobContext}}</li>
                </ul>
              </div>
            </mat-card>
            <mat-card class="medium-4 large-4 columns"
              *ngIf="serviceDetail && service == 'F' && airForceActivityMap">
              <div class="small-toggle">
                <p class="samll-toggle-title"><b>WORK ACTIVITIES:</b></p>

                <mat-accordion  id="air-force-activity"  #secondAccordion="matAccordion">
                    <mat-expansion-panel #panel1>
                        <mat-expansion-panel-header>{{airForceActivityTitle}} </mat-expansion-panel-header>
                    <span *ngFor="let a of airForceActivityMap"> {{a.activityDefinition}}</span>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      
      
      <div *ngIf="serviceDetail && service == 'S' && (serviceDetail.airforceOfficerActivityMap.length > 0 && serviceDetail.airforceOfficerAttributeMap.length > 0 && serviceDetail.airforceOfficerCommunityMap.length > 0 && serviceDetail.airforceOfficerContextMap.length > 0)" class="row">
            <div class="small-12 medium-12 large-12 columns snapshot-sec">
              <div class="garybg-samlltitle text-center">OCCUPATION SNAPSHOT</div>
                <div class="row">
                    <div class="small-6 medium-6 large-6 columns">
                      <div class="small-toggle">
                            <p class="samll-toggle-title"><b>WORK ACTIVITIES:</b></p>
                            
                            <mat-accordion  id="air-force-activity"  #secondAccordion="matAccordion">
                          <mat-expansion-panel #panel1>
                              <mat-expansion-panel-header>{{serviceDetail.airforceOfficerActivityMap[0].officerActivitiesTitle}} </mat-expansion-panel-header>
                          <span *ngFor="let a of serviceDetail.airforceOfficerActivityMap"> {{a.officerActivitiesDefinition}}</span>
                        </mat-expansion-panel>
                      </mat-accordion>
                          <!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerActivityMap"> 
                                  <uib-accordion-heading>{{c.officerActivitiesTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerActivitiesDefinition}}
                              </uib-accordion-group>
                          </uib-accordion> -->
                        </div>
                    </div>
                    
                    <div class="small-6 medium-6 large-6 columns">
                      <div class="small-toggle">
                            <p class="samll-toggle-title"><b>JOB ATTRIBUTES:</b></p>
                            
                            <mat-accordion  id="air-force-activity"  #secondAccordion="matAccordion">
                          <mat-expansion-panel #panel1>
                              <mat-expansion-panel-header>{{serviceDetail.airforceOfficerAttributeMap[0].officerJobAttributeTitle}} </mat-expansion-panel-header>
                          <span *ngFor="let a of serviceDetail.airforceOfficerAttributeMap"> {{a.officerJobAttributeDefinition}}</span>
                        </mat-expansion-panel>
                      </mat-accordion>
                      
                          <!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerAttributeMap"> 
                                  <uib-accordion-heading>{{c.officerJobAttributeTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerJobAttributeDefinition}}
                              </uib-accordion-group>
                          </uib-accordion> -->
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    
                    <div class="small-6 medium-6 large-6 columns">
                      <div class="small-toggle">
                            <p class="samll-toggle-title"><b>FUNCTIONAL COMMUNITIES:</b></p>
                            
                            <mat-accordion  id="air-force-activity"  #secondAccordion="matAccordion">
                          <mat-expansion-panel #panel1>
                              <mat-expansion-panel-header>{{serviceDetail.airforceOfficerCommunityMap[0].officerCommunityTitle}} </mat-expansion-panel-header>
                          <span *ngFor="let a of serviceDetail.airforceOfficerCommunityMap"> {{a.officerfCommunityDefinition}}</span>
                        </mat-expansion-panel>
                      </mat-accordion>
                      
                          <!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerCommunityMap"> 
                                  <uib-accordion-heading>{{c.officerCommunityTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerfCommunityDefinition}}
                              </uib-accordion-group>
                          </uib-accordion> -->
                        </div>
                    </div>
                    
                    <div class="small-6 medium-6 large-6 columns">
                      <div class="small-toggle">
                            <p class="samll-toggle-title"><b>JOB CONTEXT:</b></p>
                            
                            <mat-accordion  id="air-force-activity"  #secondAccordion="matAccordion">
                          <mat-expansion-panel #panel1>
                              <mat-expansion-panel-header>{{serviceDetail.airforceOfficerContextMap[0].officerJobContext}} </mat-expansion-panel-header>
                          <span *ngFor="let a of serviceDetail.airforceOfficerContextMap"> {{a.officerJobContextDefinition}}</span>
                        </mat-expansion-panel>
                      </mat-accordion>
                      
                          <!-- <uib-accordion> 
                              <uib-accordion-group is-open="status.open" template-url="template/accordion/accordion-group.html" ng-repeat="c in serviceDetail.airforceOfficerContextMap"> 
                                  <uib-accordion-heading>{{c.officerJobContext}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    {{c.officerJobContextDefinition}}
                              </uib-accordion-group>
                          </uib-accordion> -->
                        </div>
                    </div>
                </div>   
            </div>
        </div>  
      <div *ngIf="service == 'S'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a
              recruiter below for more details about this job.</span> </div>
          <div class="learn-more-box">
            <mat-card class="learn-more-box-left">
              <a href="http://www.spaceforce.mil" target="_blank"><img src="assets/images/spaceforce_big_icon.png"></a>
            </mat-card>
            <mat-card class="learn-more-box-right">
              <div class="learn-more-box-right-inner" >
                <div class="learn-more-box-right-item">
                  <img src="assets/images/website-icon.png">
                  <h6  (click)="ga('#CITM_LEARNMORE')" style="text-transform:none;">Learn
                    More
                    <!-- <span *ngIf="!serviceDetail || !serviceDetail.link">
                      About
                      <a target="_blank" href="http://www.airforce.com">the Space Force</a>
                    </span> -->
                    <!-- <span *ngIf="serviceDetail && serviceDetail.link"> -->
                      <a target="_blank" (click)="openNewTab(serviceDetail.link)">Here</a>
                    <!-- </span> -->
                  </h6>
                </div>
                <!-- <div class="learn-more-box-right-item">
                  <img src="assets/images/recruiter.png">
                  <h6 class="learn-more-box-greentext" 
                    (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_SPACE_FORCE_'+mcId+'_'+mocId)"
                    style="cursor: pointer">Contact an Space Force recruiter</h6>
                </div> -->
                <div class="learn-more-box-right-item">
                  <span [ngStyle]="myStyle">
                    <a (click)="onFavoriteClick()">
            
            <i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

            <i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
            
                      <h6 class="learn-more-box-greentext">
                        <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Space Force To Favorites</span>
                        <span *ngIf="favorited">Remove Space Force From Favorites</span>
                      </h6>
                    </a>
                  </span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- Space Force End -->

      <!-- Army Beginning -->
      <div *ngIf="serviceDetail && service == 'A'" class="row">
        <mat-card class="small-12 medium--12 large-12 columns">
          <div *ngIf="serviceDetail.overview" [innerHtml]="serviceDetail.overview"></div>
        </mat-card>
        <mat-card  *ngIf="videoId" class="small-12 medium-6 large-4 columns">
          <div *ngIf="videoUrl" class="h_iframe">
            <iframe width="854" height="480" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
          </div>
        </mat-card>
        <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
        <!-- <div class="small-12 medium-6 large-4 columns">
            <p><img style="cursor: pointer;" class="service-video-modal" src="https://img.youtube.com/vi/{{videoId}}/0.jpg"/></p>
            <p><img class="video-modal1" src="assets/images/citm-detail-service-specific-video-img.jpg"/></p>
          </div> -->
      </div>

      <div *ngIf="service == 'A'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a
              recruiter below for more details about this job.</span> </div>
          <div class="learn-more-box">
            <mat-card class="learn-more-box-left">
              <a href="http://www.goarmy.com" target="_blank"><img src="assets/images/army_big_icon.png"></a>
            </mat-card>
                <div class="learn-more-box-right">
                  <div class="learn-more-box-right-inner" >
                    <mat-card class="learn-more-box-right-item">
                      <img src="assets/images/website-icon.png">
                      <h6  (click)="ga('#CITM_LEARNMORE')" style="text-transform: none;">
                        Learn More
                        <span
                          *ngIf="!serviceDetail || (!serviceDetail.activeDutyLink && !serviceDetail.reserveLink && serviceDetail.mpc != 'W')">
                          About
                          <a target="_blank" href="https://www.goarmy.com">the Army</a>
                        </span>
                        <ng-container *ngIf="serviceDetail">
                        <span *ngIf="serviceDetail && serviceDetail.activeDutyLink">
                          About
                          <a target="_blank" (click)="openNewTab(serviceDetail.activeDutyLink)">Active Duty</a>
                        </span>
                        <span *ngIf="serviceDetail.reserveLink">
                          <span *ngIf="serviceDetail.activeDutyLink"> | </span>
                          <span *ngIf="!serviceDetail.activeDutyLink"> About </span>
                          <a target="_blank" (click)="openNewTab('https://www.goarmy.com' + serviceDetail.reserveLink)">Reserves</a>
                        </span>
                        <span *ngIf="serviceDetail.nationalGuardLink">
                          <span *ngIf="serviceDetail.activeDutyLink || serviceDetail.reserveLink"> | </span>
                          <span *ngIf="(!serviceDetail.activeDutyLink && !serviceDetail.reserveLink)"> About </span>
                          <a target="_blank" (click)="openNewTab(serviceDetail.nationalGuardLink)">the National Guard</a>
                        </span>
                        <span *ngIf="serviceDetail.mpc == 'W'">
                          <span
                            *ngIf="serviceDetail.activeDutyLink || serviceDetail.reserveLink || serviceDetail.nationGuardLink">
                            | </span>
                          <span
                            *ngIf="(!serviceDetail.activeDutyLink && !serviceDetail.reserveLink && !serviceDetail.nationGuardLink)">
                            About </span>
                          <a target="_blank"
                            href="https://www.goarmy.com/careers-and-jobs/current-and-prior-service/advance-your-career/warrant-officer.html">Warrant
                            Officers</a>
                        </span>
                      </ng-container>
                       <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
                        <!-- 
                            <a *ngIf="!serviceDetail.activeDutyLink && !serviceDetail.reserveLink && serviceDetail.mpc != 'W'" href="http://www.goarmy.com" target="_blank">the Army's </a>
                            <span *ngIf="serviceDetail.activeDutyLink || serviceDetail.reserveLink || serviceDetail.mpc || serviceDetail.nationalGuardLink == 'W'">{{serviceDetail.title}}:</span>
                            <span class="active-duty" style="white-space: nowrap"><a *ngIf="serviceDetail.activeDutyLink" href="https://www.goarmy.com{{serviceDetail.activeDutyLink}}" target="_blank">Active Duty </a></span>
                            <span *ngIf="serviceDetail.activeDutyLink && serviceDetail.reserveLink">|</span>
              <span class="reserve" style="white-space: nowrap"><a *ngIf="serviceDetail.reserveLink" href="https://www.goarmy.com{{serviceDetail.reserveLink}}" target="_blank">Reserve </a></span> 
                <span *ngIf="serviceDetail.nationalGuardLink">|</span>
              <span class="national guard" style="white-space: nowrap"><a *ngIf="serviceDetail.nationalGuardLink" href="{{serviceDetail.nationalGuardLink}}" target="_blank">National Guard</a></span>
              <span *ngIf="serviceDetail.mpc == 'W'">|</span>
              <span class="warrant officer" style="white-space: nowrap"><a *ngIf="serviceDetail.mpc == 'W'" href="https://www.goarmy.com/careers-and-jobs/current-and-prior-service/advance-your-career/warrant-officer.html" target="_blank">Warrant Officers </a></span>
              -->
                      </h6>
                    </mat-card>
                    <mat-card class="learn-more-box-right-item">
                      <img src="assets/images/recruiter.png">
                      <h6><span class="army-recruiter" style="white-space: nowrap"><a class="learn-more-box-greentext"
                        (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_ARMY_'+mcId+'_'+mocId)"
                            style="cursor: pointer">Contact an Army recruiter</a></span>
                        |
                        <span class="national-guard-recruiter" style="white-space: nowrap"><a
                            class="learn-more-box-greentext" 
                            (click)="openServiceContactUsDialog('Army National Guard'); ga('#CITM_CONTACTRECRUITERSENT_ARMY_NATIONAL_GUARD_'+mcId+'_'+mocId)"
                            style="cursor: pointer">Contact a National Guard recruiter</a></span></h6>
                    </mat-card>
                    <mat-card class="learn-more-box-right-item">
                      <span [ngStyle]="myStyle">
                        <a (click)="onFavoriteClick()">							
						  <i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					  	  <i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                    
                          <h6 class="learn-more-box-greentext">
                            <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Army To Favorites</span>
                            <span *ngIf="favorited">Remove Army From Favorites</span>
                          </h6>
                        </a>
                      </span>
                    </mat-card>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <!-- Army End -->

      <!-- Coast Guard Beginning -->
      <div *ngIf="serviceDetail && service == 'C'" class="row">
        <div class="small-12 medium-6 large-8 columns" ngClass="{'medium-12' : !videoId, 'large-12' : !videoId}">
          <div [innerHtml]="serviceDetail.description"></div>
          <p *ngIf="serviceDetail.duties"><strong>Duties:</strong> {{serviceDetail.duties}}</p>
          <p *ngIf="serviceDetail.training"><strong>Training:</strong> {{serviceDetail.training}}</p>
          <p *ngIf="serviceDetail.qualifications"><strong>Qualifications:</strong> {{serviceDetail.qualifications}}
          </p>
          <p *ngIf="serviceDetail.techTrainingLocation"><strong>Technical Training Location:</strong> {{serviceDetail.techTrainingLocation}}</p>
          <p *ngIf="serviceDetail.courseDuration"><strong>Course Duration:</strong> {{serviceDetail.courseDuration}}</p>
          <p *ngIf="serviceDetail.securityClearanceAndCitizenship"><strong>Security Clearance & U.S. Citizenship:</strong> {{serviceDetail.securityClearanceAndCitizenship}}</p>
          <p *ngIf="serviceDetail.serviceObligation"><strong>Service Obligation:</strong> {{serviceDetail.serviceObligation}}</p>
          <p *ngIf="serviceDetail.normalColorVisionRequired"><strong>Normal Color Vision Required:</strong>
            {{serviceDetail.normalColorVisionRequired === 'Y' ? 'Yes' : 'No'}}</p>
          <p *ngIf="serviceDetail.normalHearingRequired"><strong>Normal Hearing Required:</strong>
            {{serviceDetail.normalHearingRequired === 'Y' ? 'Yes' : 'No'}}</p>
          <p *ngIf="serviceDetail.specialNotes"><strong>Special Note:</strong> {{serviceDetail.specialNotes}}</p>
        </div>
          <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
          <!-- <div class="small-12 medium-6 large-4 columns">
            <p><img style="cursor: pointer;" class="service-video-modal" src="https://img.youtube.com/vi/{{videoId}}/0.jpg"/></p>
            <p><img class="video-modal1" src="assets/images/citm-detail-service-specific-video-img.jpg"/></p>
          </div> -->
        <div *ngIf="videoId" class="small-12 medium-6 large-4 columns">
          <p>
            <div class="h_iframe">
              <iframe width="854" height="480" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>
            <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
            <!--               <p><img style="cursor: pointer;" class="service-video-modal" src="https://img.youtube.com/vi/{{videoId}}/0.jpg"/></p>
               <p *ngIf="!videoId"><img class="video-modal1" src="assets/images/citm-detail-service-specific-video-img.jpg"/></p> -->
        </div>

        <div *ngIf="mediaCollection.length > 0">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide snap-shot-inner" *ngFor="let m of mediaCollection">
              <div *ngIf="m.type === 'video'" class="h_iframe">
                <iframe width="854" height="480" [src]="m.content" frameborder="0" allowfullscreen></iframe>
              </div>
              <img *ngIf="m.type === 'image'" [src]="m.content"/>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>

      <div *ngIf="serviceDetail && service == 'C'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a
              recruiter below for more details about this job.</span> </div>
          <div class="learn-more-box">
            <mat-card class="learn-more-box-left">
              <a href="http://www.gocoastguard.com" target="_blank"><img src="assets/images/coast_guard_big_icon.png"></a>
            </mat-card>
            <mat-card class="learn-more-box-right">
              <div class="learn-more-box-right-inner" >
                <div class="learn-more-box-right-item">
                  <img src="assets/images/website-icon.png">
                  <h6 (click)="ga('#CITM_LEARNMORE')" style="text-transform: none;">Learn
                    More
                    <span *ngIf="!serviceDetail || !serviceDetail.goCom">About <a href="http://www.gocoastguard.com"
                        target="_blank">the Coast Guard</a></span>
                    <span *ngIf="serviceDetail && serviceDetail.goCom">at <a (click)="openNewTab(serviceDetail.goCom)"
                        target="_blank">goCoastGuard.com</a></span>
                  </h6>
                </div>
                <div class="learn-more-box-right-item">
                  <img src="assets/images/recruiter.png">
                  <h6 class="learn-more-box-greentext" 
                  (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_COAST_GUARD_'+mcId+'_'+mocId)"
                    style="cursor: pointer">Contact a Coast Guard recruiter</h6>
                </div>
                <div class="learn-more-box-right-item">
                  <span [ngStyle]="myStyle">
                    <a (click)="onFavoriteClick()">
					  <i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					  <i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                
                      <h6 class="learn-more-box-greentext">
                        <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Coast Guard To Favorites</span>
                        <span *ngIf="favorited">Remove Coast Guard From Favorites</span>
                      </h6>
                    </a>
                  </span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- Coast Guard End -->

      <!-- Marine Beginning -->
      <div *ngIf="service == 'M'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="serviceDetail" [innerHtml]="serviceDetail.description"></div>
        </div>
        <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
        <!-- <div class="small-12 medium-6 large-4 columns">
            <p><img style="cursor: pointer;" class="service-video-modal" src="https://img.youtube.com/vi/{{videoId}}/0.jpg"/></p>
            <p><img class="video-modal1" src="assets/images/citm-detail-service-specific-video-img.jpg"/></p>
          </div> -->
      </div>

      <div *ngIf="service == 'M'" class="row">
        <div class="small-12 medium-12 large-12 columns">
          <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a
              recruiter below for more details about this job.</span> </div>
          <div class="learn-more-box">
            <mat-card class="learn-more-box-left">
              <a href="https://www.marines.com" target="_blank"><img src="assets/images/marine_big_icon.png"></a>
            </mat-card>
            <mat-card class="learn-more-box-right">
              <div class="learn-more-box-right-inner" >
                <div class="learn-more-box-right-item">
                  <img src="assets/images/website-icon.png">
                  <h6 (click)="ga('#CITM_LEARNMORE')" style="text-transform: none;">Learn
                    More About
                    <a href="https://www.marines.com" target="_blank">the Marine Corps</a>
                  </h6>
                </div>
                <div class="learn-more-box-right-item">
                  <img src="assets/images/recruiter.png">
                  <h6 class="learn-more-box-greentext" 
                  (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_MARINE_'+mcId+'_'+mocId)"
                    style="cursor: pointer">Contact a Marine Corps recruiter</h6>
                </div>
                <div class="learn-more-box-right-item">
                  <span [ngStyle]="myStyle">
                    <a (click)="onFavoriteClick()">
						
					  <i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					  <i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                
                      <h6 class="learn-more-box-greentext">
                        <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Marines To Favorites</span>
                        <span *ngIf="favorited">Remove Marines From Favorites</span>
                      </h6>
                    </a>
                  </span>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- Marine End -->

      <!-- Navy Beginning -->
      <div *ngIf="serviceDetail && service == 'N'" class="row">
        <mat-card  class="small-12 medium-6 large-8 columns"
          ngClass="{'medium-12' : !serviceDetail.rating, 'large-12' : !serviceDetail.rating}">
          <div *ngIf="serviceDetail.description" [innerHtml]="serviceDetail.description"></div>
          <p *ngIf="serviceDetail.physicalRequirement"><strong>Physical Requirements:</strong>
            {{serviceDetail.physicalRequirement}}</p>
          <p *ngIf="serviceDetail.minEducation"><strong>Minimum Education:</strong> {{serviceDetail.minEducation}}</p>
          <p *ngIf="serviceDetail.basicTraining"><strong>Basic Training:</strong> {{serviceDetail.basicTraining}}</p>
          <p *ngIf="serviceDetail.technicalTrainingDuration"><strong>Technical Training:</strong>
            {{serviceDetail.technicalTrainingDuration}}</p>
          <p *ngIf="serviceDetail.techTrainingLocation"><strong>Tech School Location:</strong>
            {{serviceDetail.techTrainingLocation}}</p>
          <p *ngIf="serviceDetail.desiredHighSchoolCourses"><strong>Desired High School Courses:</strong>
            {{serviceDetail.desiredHighSchoolCourses}}</p>
          <p *ngIf="serviceDetail.citizenshipRequirement"><strong>U.S. Citizenship Required:</strong>
            {{serviceDetail.citizenshipRequirement}}</p>
      </mat-card>

        <!-- THIS WAS COMMENTED OUT IN THE ANGULARJS VERSION -->
      <!-- <div class="small-12 medium-6 large-4 columns">
            <p><img style="cursor: pointer;" class="service-video-modal" src="https://img.youtube.com/vi/{{videoId}}/0.jpg"/></p>
            <p><img class="video-modal1" src="assets/images/citm-detail-service-specific-video-img.jpg"/></p>
          </div> -->

      <mat-card class="small-12 medium-6 large-4 columns" *ngIf="mediaCollection.length > 0">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem class="slide snap-shot-inner" *ngFor="let m of mediaCollection">
            <div *ngIf="m.type === 'video'" class="h_iframe">
              <iframe width="854" height="480" [src]="m.content" frameborder="0" allowfullscreen></iframe>
            </div>
            <img *ngIf="m.type === 'image'" [src]="m.content"/>
          </div>
        </ngx-slick-carousel>
      </mat-card>
    </div>

    <div *ngIf="service == 'N'" class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div *ngIf="displayInfoIcon()" class="i-line"> <img src="assets/images/i-icon.png"><span>Contact a recruiter
            below for more details about this job.</span> </div>
        <div class="learn-more-box">
          <mat-card class="learn-more-box-left">
            <a href="https://www.navy.com" target="_blank"><img src="assets/images/navy_big_icon.png"></a>
          </mat-card>
          <mat-card class="learn-more-box-right">
            <div class="learn-more-box-right-inner" >
              <div class="learn-more-box-right-item">
                <img src="assets/images/website-icon.png">
                <h6 (click)="ga('#CITM_LEARNMORE')" style="text-transform:none;">
                  Learn More
                  <div *ngIf="serviceDetail">
                  <span *ngIf="!serviceDetail.linkToNavy && !serviceDetail.link">
                    About <a target="_blank" href="https://www.navy.com">the Navy</a>
                  </span>
                  <span *ngIf="serviceDetail.linkToNavy">
                    at <a target="_blank" (click)="openNewTab(serviceDetail.linkToNavy)">Navy.com</a>
                  </span>
                  <span *ngIf="serviceDetail.link">
                    <span *ngIf="serviceDetail.linkToNavy"> or </span>
                    at <a target="_blank" (click)="openNewTab(serviceDetail.link)">Navy COOL</a>
                  </span>
                </div>
                </h6>
              </div>
              <div class="learn-more-box-right-item">
                <img src="assets/images/recruiter.png">
                <h6 class="learn-more-box-greentext" 
                (click)="openServiceContactUsDialog(); ga('#CITM_CONTACTRECRUITERSENT_NAVY_'+mcId+'_'+mocId)"
                  style="cursor: pointer">Contact a Navy recruiter</h6>
              </div>
              <div class="learn-more-box-right-item">
                <span [ngStyle]="myStyle">
                  <a (click)="onFavoriteClick()">
					<i *ngIf="!favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

					<i *ngIf="favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
					  
                    <h6 class="learn-more-box-greentext">
                      <span *ngIf="!favorited" (click)="ga('#CITM_SRVADDFAV')">Add Navy To Favorites</span>
                      <span *ngIf="favorited">Remove Navy From Favorites</span>
                    </h6>
                  </a>
                </span>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- Navy End -->

    <app-related-careers [mcId]="mcId" [mocId]="mocId" [service]="service"></app-related-careers>
  </div>
</div>