/* modal Structure CSS */

body {
	margin: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.text-center {
	text-align: center;
}
p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizelegibility;
	margin-top: 0;
}
.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.custom-modal-content {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cacaca;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    outline: 0;
    font-size: 13px;
}
.custom-modal-body {
    position: relative;
    padding: 15px;
}
.modal-options {
    color: #3d4243;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 34px;
}
.modal-options .contents {
	display: inline-block;
	padding: 45px 0 0;
	width: 100%;
}

/* Column css */
.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 66.4375rem;
}
.column, .columns {
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
}

/* Modal Title */
.titles {
	position:relative;
}
button {
	-moz-appearance: none;
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	cursor: auto;
	line-height: 1;
	padding: 0;
}
.modal-options .close-button {
	color: #2f2a6a;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
}
.modal-options h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
	margin:0px;
	font-weight: normal;
}
.login-titles h4 {
	background-color: transparent;
	font-size: 16px;
	padding-top: 80px;
	text-align: center;
}

/* Buttons */
.button {
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0 1rem 1rem 0;
	padding: 8px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	width: 100%;
}
.button:hover, .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}
