$body-font-family: "Open Sans", sans-serif;
$white: #fff;
$light-gray: #f5f5f5;
$burgundy: #911a07;
$primary-color: #178388;
$secondary-color: #777777;
$navy: #2f2a6a;

.table-info {
	font-size: 15px;
	font-family: $body-font-family;

	a {
		font-weight: bold;
		padding: 0 5px;
	}
	> .medium-6:nth-child(2) {
		text-align: right;
	}
}
.explore-group {
	padding: 0;
}
.button {
	padding: 5px;
}
.portfolio-group,
.explore-group {

	.actions {
		font-size: 13px;
		text-align: right;

		a {
			color: $burgundy;
			padding: 0 3px;
			text-transform: uppercase;

			&:last-child {
				padding-right: 0;
			}
		}
	}
	.row.column {
		margin-left: 0;
		margin-right: 0; 
	}	
	.heading {
		background: $light-gray;
		padding: 5px;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
	}
	input {
		margin: 0;
	}
	input[type="checkbox"] {
		margin-right: 6px;
	}
	.entry {
		border-bottom: 1px solid #b3b3b3;
	}
	.entry,
	.add form {
		padding: 5px 26px;
	}
	.add {
		.add.button {
			display: block;
			margin: .75rem auto;	
		}
		form {
			padding-top: 20px;

			input {
				display: inline;
				margin: 0 0 15px;

				&[type="text"] {
					max-width: 300px;
				}
				&.small {
					max-width: 75px; 
				}
			}
			.buttons {
				text-align: center;

				button {
					width: 100px;

					&:last-child {
						margin-right: 0;
					}

				}
			}
			&.inline-labels {
				label {
					display: inline;
					margin-right: 10px;
				}
			}
		}
	}
}


	hr {
	  margin: 10px 0;
	}
	table {
		margin: 0;

		.input {
			width: 20px;
			padding-right: 0;
		}
		.actions {
			font-size: inherit;
			width: 70px;

			i {
				font-size: 100%;
			}
		}
	}
	[type="checkbox"] + label {
		display: inline;
		margin-right: 0;
	}
	.compare {
		margin: 0;
		background: #e9f7f7;
		padding: 10px 0;

		button {
			float: right;
			margin-bottom: 0;
			margin-right: 0;
			margin-top: 7px;
			width: 140px;
			
			@media only screen and (max-width: 40em) {
				display: block;
				float: none;
				margin: 7px auto 0;
			}
		}
	}
	.table {
		padding: 0;
		position: relative;

		.background {
			background: #f5f5f5;
		}
		.info,
		.description {
			padding: 22px;
			padding-bottom: 0;
		}
		.info-container {
			background: #fff;

			#tools {
				margin-bottom: 20px;
				text-align: left;

				> div {
					line-height: normal;
					padding: 0;

					&:after {
						content: initial;
					}
				}
				.actions {
					font-size: 26px;
					float: right;
					position: static;
					width: 100px;
				}
			}
			.image {
				background: #444;
				background-size: cover;
				min-height: 216px;
				padding: 0;
			}
			.guided-heading {
				color: $secondary-color;

				span {
					color: $navy;
					margin-right: 10px;	
				}
			}
			.pagination {
				margin-top: 20px;

				li {
					background: #7c7c7c;
					display: inline-block;
					height: 2px;
					margin-right: 3px;
					overflow: hidden;
					text-indent: -999px;
					width: 46px;

					&.active {
						background: $primary-color;
					}
				}
			}
			.next {
				float: right;
				margin-top: 15px;
				margin-right: 0;
				text-transform: uppercase;
			}
		}
	}
