#footer {
    background: #4c4c4c;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    padding: 60px 0;
}
#footer .top-row h5 {
    margin-bottom: 0;
}
#footer .top-row img {
    display: block;
    margin: 0 auto 1em;
}
@media screen and (min-width: 40em) {
    #footer .top-row {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
   }
    #footer .top-row img {
        float: right;
        margin-bottom: 6px;
   }
   .left0link{
      margin-left: 0 !important;
    }
}

#footer a {
    color: #fff;
}
#footer .menu.vertical a, #footer .medium-pull-3 h5, #footer .show-for-medium a {
    color: #ccfcfe;
}
#footer h5 {
    color: #a4a4a4;
    text-transform: uppercase;
}
#footer h5 a {
    color: inherit;
    margin: 0 20px;
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #footer {
        padding: 10px 0;
        font-size: 11px;
   }
    #footer hr {
        margin: 0.75rem auto;
   }
    #footer img {
        max-width: 120px;
   }
    #footer p, #footer h5 {
        text-align: center;
        width: 100%;
   }
    #footer .menu.vertical {
        margin-bottom: 10px;
        text-align: center;
   }
    #footer .menu.vertical a {
        padding: 0.3rem 1rem;
   } 

   .versionp {
    text-transform: none;
    font-size:10px;
}

}
