<header>
    <div *ngIf="displayBanner" class="alert-banner text-center" style="color: #fff; background-color: #8b2e33; padding: 10px; font-size:15px;">   		
        <span><span class="fa fa-exclamation-triangle"></span> {{ bannerText }} </span>
      </div>
    <!-- <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="expended"> -->
  <div class="row">
    <div id="logo" class="small-10 medium-3 columns">
      <a routerLink="/home"><img src="assets/images/logo.png"/></a>
    </div>
    <div id="main-menu" class="small-2 medium-9 columns menu-centered">
      <ul mat-nav-list id="menu-options" class="menu">
        <li *ngIf="notHomePage()" id="home"><a routerLink="/home">HOME</a></li>
        <!-- <li><a (click)="routeToAnchor('home', 'browse-home')">BROWSE</a></li> -->
        <li><a (click)="routeToAnchor('browse-home')">BROWSE</a></li>
	  </ul>
      <ul mat-nav-list id="learn-more" class="menu">
        <li class="heading">Learn More About the Military</li>
		    <li><a routerLink="/options">OPTIONS</a></li>
        <li><a routerLink="/parent">PARENTS</a></li>
        <li><a routerLink="/contact-us">CONTACT US</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/composite-scores">SCORES</a></li>
      </ul>
      <ul mat-nav-list id="login" class="menu">
        <li *ngIf="isLoggedIn() && !disableLogin"><a (click)="onLogOff()">Log Out</a></li>
        <li *ngIf="isLoggedIn() && !disableLogin"><a routerLink="/profile">My Profile</a></li>
        <li *ngIf="!isLoggedIn() && !disableLogin"><a (click)="openLoginDialog()">Log In</a></li>
        <li *ngIf="!isLoggedIn() && !disableLogin"><a (click)="openLoginDialog()">Create an Account</a></li>
        <li *ngIf="disableLogin" text="Login is currently disabled due to maintenance. We apologize for the inconvenience.">
          <p style="margin:0">
            <span class="fa fa-exclamation-triangle"></span>
            <span style="font-size: 14px;">&nbsp;(Login is disabled temporarily.)</span>
          </p>
        </li>
      </ul>

      <ul mat-nav-list id="tabbed" class="menu">
        <li id="guided"><a routerLink="/guided-exploration">Guided Exploration</a></li>
        <li id="advanced"><a routerLink="/advanced-search">Advanced Search</a></li>
      </ul>
      <button class="menu-icon" type="button" (click)="onOpenSlideOut()"></button>
    </div>
  </div>
</header>  

<div id="slide-menu" [ngClass]="showSlideMenu ? 'open' : ''">
  <ul>
    <li><a id="close" (click)="onClose()">&times;</a>
      <ul>
        <li><a (click)="onRouteChange('/home')">Home</a></li>
        <li *ngIf="isLoggedIn() && !disableLogin"><a (click)="onLogOff()">Log Out</a></li>
        <li *ngIf="isLoggedIn() && !disableLogin"><a (click)="onRouteChange('/profile')">My Profile</a></li>
        <li *ngIf="!isLoggedIn() && !disableLogin"><a (click)="openLoginDialog()">Log In</a></li>
        <li *ngIf="!isLoggedIn() && !disableLogin"><a (click)="openLoginDialog()">Create an Account</a></li>
      </ul>
    </li>
    <li><span>Explore</span>
      <ul>
        <li><a (click)="onRouteChange('/guided-exploration')">Guided Exploration</a></li>
        <li><a (click)="onRouteChange('/advanced-search')">Advanced Search</a></li>
        <li><a (click)="onRouteChange('/home#browse-home')">Browse</a></li>
      </ul>
    </li>
    <li><span>Careers</span>
      <ul>
        <li><a (click)="onRouteChange('/career-cluster')">Career Cluster</a></li>
      </ul>
    </li>
    <li><span>About the Military</span>
      <ul>
        <li><a routerLink="/options" (click)="onClose()">Options</a></li>
        <li><a (click)="onRouteChange('/parent')">Parents</a></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a (click)="onRouteChange('/contact-us')">Contact Us</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="onRouteChange('/composite-scores')">Scores</a></li>
      </ul>
    </li>
  </ul>
</div>    