.form-group {
    margin-bottom: 15px;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.contact-form {
	.form-column {
		float: left;
		max-width: 370px;
		width: 100%;
	}
	label {
		color: #231f20;
		float: left;
		font-weight: bold;
		max-width: 102px;
		width: 100%;
	}
	select {
		background-color: transparent;
		height: 1.25rem;
		max-width: 186px;
		border-radius: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: #757575;
		display: inline;
		font-size: 12px;
		width: 250px;
	}
	input {
		color: black;
		font-size: 12px;
		display: inherit;
		height: 1.3rem;
		max-width: 236px;
		padding: 0 5px;
	}
	input[type="radio"], input[type="checkbox"] {
		left: 0;
		margin: 0; 
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.checkbox {
	    margin: 0;
		
		label {
			float: none;
			font-size: 15px;
			margin: 0;
			max-width: inherit;
			padding-left: 25px;
		
			&:after {
				border: 1px solid #999999;
				content: "";
				display: inline-block;
				height: 14px;
				left: 0;
				margin-left: 0;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				vertical-align: middle;
				width: 14px;
			}
		}
		input:checked + label::before, input[checked] + label::before {
			background-color: #29afb5;
			content: "";
			display: inline-block;
			height: 10px;
			left: 2px;
			position: absolute;
			top: 50%; 
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			vertical-align: middle;
			width: 10px;
		}		
	}			
	.radio-group{ 
		label {
			line-height: 12px;
			margin: 0;
			max-width: inherit;
			position: relative;
			width: auto;
			
			&:after {
				border: 1px solid #999999;
				border-radius: 50%;
				content: "";
				display: inline-block;
				height: 14px;
				margin-left: 16px;
				vertical-align: middle;
				width: 14px;
			}
		}
		.form-column {
			position: relative;
		}
		input:checked + label:before {
			background-color: #29afb5;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: 10px;
			position: absolute;
			right: 2px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			vertical-align: middle;
			width: 10px;
		}
	}
	.form-ssq {
		> p {
			margin: 10px 0 14px;
		}		 	
		> ul {
			margin-bottom: 15px;
			
			> li {
				float: left;
				width: 20%;
			}
		}
		ul ul .checkbox > label {
			font-size: 12px;
			font-weight: normal;
		}
	}
	textarea {
		height: 119px;
		max-width: 601px;
	}
	.btn-submit {
		background-color: #29afb5;
		color: white;
		font-weight: bold;
		height: 21px;
		margin-left: 102px;
		margin-top: 55px;
		padding: 0 21px;
		border-radius: 0;
	}
	.conatct-question-radio {
		margin-top: 35px;
	}
	.zip-code > input {
		max-width: 93px;
	}
	.city, .state {
		> input {
			max-width: 186px;
		}	
	}
}



@media (max-width: 1023px) {
	.contact-form {
		.form-ssq > ul > li {
			margin-bottom: 10px;
			min-height: 98px;
			width: 33.33%;
		}
		textarea {
			max-width: 480px;
		}
		.form-column {
			max-width: 300px;
		}	
		select, input {
			max-width: 180px;
			margin-bottom: 0;
		}
		.form-group.radio-group {
			margin-top: 35px;
		}		
	}
}

@media (max-width: 639px) {
	.contact-form {
		.form-column {
			max-width: 100%;
			
			&:first-child {
				margin-bottom: 15px;
			}
		}
		.conatct-question-radio {
			.form-group.radio-group {
				display: inline-block;
				margin: 0;
				
				strong {
					margin-bottom: 16px;
					width: 100% !important;
				}		
			}
		}		
		textarea {
			margin: 0;
			max-width: 300px;
		}
		.form-ssq {
			> ul {
				> li {
					margin-bottom: 15px;
					min-height: auto;
					width: 100%;
					
					&:last-child {
						margin-bottom: 0;
					}					
				}
			}
		}		
	}
}

@media (min-width: 640px) {
	.recaptcha {
		margin-left: 100px;
	}	
}