<app-spinner></app-spinner>
<div id="main" class="section conatct">
	<div id="boot-camp">
		<div class="row column">
			<h1 class="page-title">Contact Us</h1>
		</div>
		<div class="row all-data">

			<div class="medium-12 column full-black-text contact-us">
				<div class="row">
					<div class="small-12 medium-12 large-12 column">
						<form [formGroup]="aFormGroup" class="contact-form"
							(ngSubmit)="emailUs()" ngNativeValidate>
							<p>
								Many of the questions you have about the Military have been
								asked before. Explore our <a routerLink="/faq"><b>Frequently
										Asked Questions</b></a> to find the answers you're looking for. If you
								need more complete answers to specific questions, don't hesitate
								to contact us.
							</p>
							<div class="form-group">
								<label>I am a</label> <select [(ngModel)]="userType"
									name="userType" [disabled]="formDisabled"
									required [ngModelOptions]="{standalone: true}">
									<option *ngFor="let u of userTypeOptions" [ngValue]="u.value">{{u.name}}</option>

								</select>
							</div>
							<div class="form-group clearfix">
								<div class="form-column">
									<label>First Name</label> <input type="text" name="firstName"
										[(ngModel)]="firstName" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-column">
									<label>Last Name</label> <input type="text" name="lastName"
										[(ngModel)]="lastName" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="form-column">
									<label>Email</label> <input type="email" [(ngModel)]="email"
										name="email" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-column zip-code">
									<label>Zip Code</label> <input type="text" [(ngModel)]="zip"
										name="zip" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
							</div>
							<div class="form-group clearfix">
								<div class="form-column city">
									<label>City</label> <input type="text" [(ngModel)]="city"
										name="city" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
								<div class="form-column state">
									<label>State</label> <input type="text" [(ngModel)]="state"
										name="state" required [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
								</div>
							</div>
							<div class="form-group radio-group clearfix">
								<div class="form-column">
									<input type="radio" onClick="" name="QuestionType" required
										id="ssQuestion" [(ngModel)]="questionType" [value]="1"
										[ngModelOptions]="{standalone: true}"> <label>Service
										Specific Question</label>
								</div>
								<div class="form-column">
									<input type="radio" onClick="" name="QuestionType" required
										id="acQuestion" [(ngModel)]="questionType" [value]="2"
										[ngModelOptions]="{standalone: true}"> <label>ASVAB
										CEP Question</label>
								</div>
							</div>
							<div class="conatct-question-radio">
								<div class="form-group radio-group"
									style="padding-bottom: 20px;">
									<strong
										style="color: #231f20; float: left; line-height: 12px; width: 250px; font-size: 0.875rem;">I
										am interested in:</strong>
									<div class="form-column"
										style="width: auto; margin-right: 15px;">
										<input id="enlisted" type="radio" required name="contactType"
											[(ngModel)]="contactType" [value]="1"
											[disabled]="formDisabled"
											[ngModelOptions]="{standalone: true}"> <label>Enlisted</label>
									</div>
									<div class="form-column"
										style="width: auto; margin-right: 15px;">
										<input id="officer" type="radio" required name="contactType"
											[(ngModel)]="contactType" [value]="2"
											[disabled]="formDisabled"
											[ngModelOptions]="{standalone: true}"> <label>
											Officer</label>
									</div>
									<div class="form-column"
										style="width: auto; margin-right: 15px;">
										<input id="both" type="radio" required name="contactType"
											[(ngModel)]="contactType" [value]="3"
											[disabled]="formDisabled"
											[ngModelOptions]="{standalone: true}"> <label>Both</label>
									</div>
								</div>
								<div class="form-group radio-group"
									style="padding-bottom: 20px;">
									<strong
										style="color: #231f20; float: left; line-height: 12px; width: 250px; font-size: 0.875rem;">I
										participated in the ASVAB CEP:</strong>
									<div class="form-column"
										style="width: auto; margin-right: 15px;">
										<input type="radio" required name="asvabParticipant"
											[(ngModel)]="asvabParticipant" [value]="true"
											[disabled]="formDisabled"
											[ngModelOptions]="{standalone: true}"> <label>Yes</label>
									</div>
									<div class="form-column"
										style="width: auto; margin-right: 15px;">
										<input type="radio" required name="asvabParticipant"
											[(ngModel)]="asvabParticipant" [value]="false"
											[disabled]="formDisabled"
											[ngModelOptions]="{standalone: true}"> <label>No</label>
									</div>
								</div>
							</div>
							<div id="form_ssq" class="form-ssq form-group clearfix"
								*ngIf="questionType == 1">
								<p style="margin-bottom: 0px">Check all that apply.</p>
								<p style="margin-top: 0px">*Space Force inquiries should be sent to the Air Force.</p>
								<ul class="clearfix">
									<li>
										<div class="checkbox">
											<input type="checkbox" name="army_all"
												[(ngModel)]="data.armyContact" (change)="armyCheckAll()"
												[disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Army
												All</label>
										</div>
										<ul mat-list>
											<li>
												<div class="checkbox">
													<input name="army_adc" type="checkbox"
														[(ngModel)]="data.armyActiveDutyContact"
														(change)="armyCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Army
														Active Duty</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="army_rc" type="checkbox"
														[(ngModel)]="data.armyReserveContact"
														(change)="armyCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Army
														Reserve</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="army_ngc" type="checkbox"
														[(ngModel)]="data.armyNationalGuardContact"
														(change)="armyCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Army
														National Guard</label>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="checkbox">
											<input type="checkbox" name="marine_corps_all"
												[(ngModel)]="data.marineContact" (change)="marineCheckAll()"
												[disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Marine
												Corps All</label>
										</div>
										<ul mat-list>
											<li>
												<div class="checkbox">
													<input name="marine_corps_adc" type="checkbox"
														[(ngModel)]="data.marineActiveDutyContact"
														(change)="marineCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Marine
														Corps Active Duty</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="marine_corps_rc" type="checkbox"
														[(ngModel)]="data.marineReserveContact"
														(change)="marineCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Marine
														Corps Reserve</label>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="checkbox">
											<input type="checkbox" name="navy_all"
												[(ngModel)]="data.navyContact" (change)="navyCheckAll()"
												[disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Navy
												All</label>
										</div>
										<ul mat-list>
											<li>
												<div class="checkbox">
													<input name="navy_adc" type="checkbox"
														[(ngModel)]="data.navyActiveDutyContact"
														(change)="navyCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Navy
														Active Duty</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="navy_rc" type="checkbox"
														[(ngModel)]="data.navyReserveContact"
														(change)="navyCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Navy
														Reserve</label>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="checkbox">
											<input type="checkbox" name="air_force_all"
												[(ngModel)]="data.airForceContact"
												(change)="airForceCheckAll()" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Air
												Force All</label>
										</div>
										<ul mat-list>
											<li>
												<div class="checkbox">
													<input name="air_force_adc" type="checkbox"
														[(ngModel)]="data.airForceActiveDutyContact"
														(change)="airForceCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Air
														Force Active Duty</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="air_force_rc" type="checkbox"
														[(ngModel)]="data.airForceReserveContact"
														(change)="airForceCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Air
														Force Reserve</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="air_force_ngc" type="checkbox"
														[(ngModel)]="data.airForceNationalGuardContact"
														(change)="airForceCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Air
														National Guard</label>
												</div>
											</li>
										</ul>
									</li>
									<li>
										<div class="checkbox">
											<input type="checkbox" name="coast_guard_all"
												[(ngModel)]="data.coastGuardContact"
												(change)="coastGuardCheckAll()" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Coast
												Guard All</label>
										</div>
										<ul mat-list>
											<li>
												<div class="checkbox">
													<input name="coast_guard_adc" type="checkbox"
														[(ngModel)]="data.coastGuardActiveDutyContact"
														(change)="coastGuardCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Coast
														Guard Active Duty</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<input name="coast_guard_rc" type="checkbox"
														[(ngModel)]="data.coastGuardReserveContact"
														(change)="coastGuardCheckOne()" [disabled]="formDisabled"
														[ngModelOptions]="{standalone: true}"> <label>Coast
														Guard Reserve</label>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div id="form_acq" class="form-acq" *ngIf="questionType == 2">
								<p>ASVAB CEP cannot answer questions related to military
									scores required for individual jobs.  If you have a score
									related question about a military job, please select service
									specific questions or contact a recruiter.</p>
								<div class="form-group">
									<label>Topic</label> <select [(ngModel)]="topics"
										name="topics" [disabled]="formDisabled"
										[ngModelOptions]="{standalone: true}">
										<option value="General Questions">General Questions</option>
										<option value="Website Issues">Website Issues</option>
										<option value="I Can't Find What I'm Looking For">I
											Can't Find What I'm Looking For</option>
										<option value="I Don't Understand My ASVAB CEP scores">I
											Don't Understand My ASVAB CEP scores</option>
										<option value="I want more info about ASVAB CEP">I
											want more info about ASVAB CEP</option>
										<option value="Other">Other</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Message</label>
								<textarea [(ngModel)]="message" name="message"
									required [disabled]="formDisabled"
									[ngModelOptions]="{standalone: true}"></textarea>
							</div>
							<div class="form-group">
								<div class="recaptcha">
									<ngx-recaptcha2 [siteKey]="recaptchaKey"
										[useGlobalDomain]="false" formControlName="recaptcha">
									</ngx-recaptcha2>
								</div>
								<p *ngIf="validation !=undefined "
									style="position: absolute; margin-left: 102px; color: #cc0000">{{validation}}</p>
								<button class="btn btn-submit" type="submit" value="submit">Submit</button>
							</div>
						</form>
					</div>


				</div>
			</div>


		</div>
	</div>
</div>