
    <div class="row column">
        <h3>Frequently Asked Questions</h3>
        <p>Many of your questions you have were asked before. Search the commonly asked questions & answers, below. If you don't find what you're looking for, <a (click)="redirect('contact-us')"> contact us.</a></p>
    </div>
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Anyone can create an account on CareersintheMilitary.com to access exclusive site features.</p>
        <p>If you are an ASVAB CEP participant, and you created an account on asvabprogram.com, use the same email and password to login here.</p>
        <p>If you already created an account, go to the login page. Then, enter in your username and password.</p>
        <p>If you can't remember your password, select forgot your password.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>No. Any information you enter on this website will only be shared if you choose to share it with a recruiter.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p><a href="https://www.careersinthemilitary.com" target="_blank">Careersinthemilitary.com</a> is a companion website to <a target="_blank" href="https://www.asvabprogram.com">asvabprogram.com</a>. This site was built to house public access to in-depth military career information. While ASVAB CEP participants enjoy the richest experience, anyone can create an account and utilize the features available here.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>No. Unless you have spoken to your recruiter and have completed a USMEPCOM FORM 680-3A-E, then the ASVAB CEP will be your test of record.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>For ASVAB CEP, it's up to the school. </p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The ASVAB CEP calculates your scores for career exploration only. The only score that is the same as the score for an enlistment test is the AFQT. That is why careersinthemilitary.com converts your scores to what the military sees.</p>
        <p>If you were to participate in the enlistment testing program you would have to choose a service to sponsor you to take the ASVAB. Only that service would have access to your scores and you would only chose a job from that service. You would be limited to job choices offered by that service.</p>
        <p>One of the many benefits of participating in ASVAB CEP is you can use you ASVAB CEP score to enlist in any service and we encourage you to have meaningful discussions with each service to see which one offers the job, mission and environment that fits you best. If you are interested in the Military you ASVAB CEP scores can help you negotiate with each of the services before committing. Contact a recruiter discuss your options.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The Armed Forces Qualification Test (AFQT) score is what the Military will use to determine enlistment eligibility. Minimum AQFT requirements are subject to change without notice. If you are interested in exploring the Military and want to know what score you need, your best resource is a <a (click)="redirect('options-contact-recruiter')">recruiter</a>.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Each job in each Service requires a qualifying service-specific composite score. These scores are subject to change without notice. Learn more about composite scores, <a (click)="openServiceScoreInfo()">here.</a> </p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Your ASVAB score and the need of the Service will determine the jobs you are offered. It is important to talk to all Services who offer the particular job you're interested in to find out if they have a need in that area. <a (click)="redirect('options-contact-recruiter')">Contact a recruiter</a> to find out more.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>You can use the Service-specific score information included on this website to see how services view your scores. Some Services publish needed scores for certain occupations. We encourage you to visit each service-specific page to view this information. See what your scores mean to the Services.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The ASVAB Summary Results (ASR) Sheet provides a Military Entrance Score or AFQT. This score is the only score on the ASR that relates directly to military service. Each Service sets a score requirement for people entering the service. This score varies depending on the recruiting environment and the need for new military applicants. To find out if you qualify for military service, you need to contact a recruiter.</p>
        <p>Each job in each service requires a unique service composite score separate from the AFQT. A recruiter is the best resource to determine which occupations you qualify for in a particular branch of service.</p>
        <p>If you participated in ASVAB CEP, be sure to tell the recruiter. You're service composite scores are calculated, here.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Yes, please explore! However, some of the information provided is related directly to the ASVAB CEP and the assessments included.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
    <p>Creating an account on Careers in the Military gives you a chance to explore job opportunities across all Services. However, ASVAB Career Exploration Program and Careers in the Military personnel are not involved in direct recruiting activities. For information on how to join the Military, you will need to <a (click)="redirect('options-contact-recruiter')">contact a recruiter</a> for information.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
    <p>Traditional high school juniors have a chance to enlist and reserve their place in select military careers. You must be 17 years of age or older to participate, and if you are 17, you must have parental consent. These programs run from April through September of your junior year. Participants will be entered into the Delayed Entry Program, but will not attend Basic Training until after receiving a high school diploma. Applicants must meet normal enlistment qualifications. For more details, <a (click)="redirect('options-contact-recruiter')">contact a recruiter</a>.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
    <p>You must be a U.S. citizen to serve in the U.S. Military. However, if you are seeking citizenship, the U.S. Citizenship and Immigration Services (USCIS) can fast-track your naturalization. For more information click, <a target="_blank" href="https://www.uscis.gov/military">here</a>. </p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Yes. <a (click)="redirect('options-contact-recruiter')">Contact a recruiter</a> from each of the Services that offers that job to determine the best option. </p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Federal mandates Family Educational Rights and Privacy Act (FERPA) and Every Student Succeeds Act (ESSA) require schools to disclose "directory" information such as a student's name, address, telephone number, date and place of birth, honors and awards, and dates of attendance. ESSA (formerly, No Child Left Behind (NCLB)) requires the release of all school directory information to the Military, regardless of ASVAB CEP participation.</p>
        <p>Colleges, universities and the Military all use the same methods to recruit students. So, if your child receives college information in the mail, or other employment opportunities, expect the Military to also try to recruit your high caliber student.</p>
        <p>Read more about <a target="_blank" href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html">Family Educational Rights and Privacy Act (FERPA)</a>.</p>
        <p>Read more about <a target="_blank" href="http://www2.ed.gov/policy/elsec/leg/essa/index.html">Every Student Succeeds Act (ESSA)</a>.</p>
        <p>Read more about <a target="_blank" href="https://www2.ed.gov/policy/gen/guid/fpco/pdf/military-recruiter.pdf">access to student information from the Department of Education</a>.</p>
    </div>                                    
                                                          
      <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The Department of Defense provides high schools with the Career Exploration Program as a career planning and exploration program. This is free to the schools and students and can provide career path information that students may not be considering. As part of the program, the ASVAB can be used in multiple ways. Your ASVAB results will help interpret your strengths from the interest inventory and to identify areas where you have an aptitude. Many people will also use the program results to help provide focus for their college major. Additionally, for those who think that a military career is a direction that they would like to pursue, the ASVAB results can be used for military enlistment.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Schools determine if results are released to the Military. If you do not desire for your results to be released, contact your school counselor, or complete the "opt out of score release" form on asvabprogram.com. Regardless of the release option selected, students participating in the ASVAB Career Exploration Program have no obligation to the Military or to talk to a recruiter. Recruiters may still contact your student since they obtain directory information via other means.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The ASVAB Career Exploration Program is funded by the Department of Defense. The ASVAB Career Exploration Program is administered to high school and post-secondary students across the United States, Puerto Rico, Guam and the Marianas, and Department of Defense Education Activities (DODEA) overseas. The program is not available in other areas.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Please contact your high school counselor to find out when the ASVAB Career Exploration Program is coming to your school.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Accommodations are provided for in the ASVAB Career Exploration Program (CEP), including reading the test aloud, extra time, and enlarged print tests. However, all testing completed using an accommodation is coded Option 7 (Invalid for enlistment purposes). Official ASVAB testing sites (Military Entrance Processing Stations and Military Entrance Test sites) do not provide accommodations during testing.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>The ASVAB Career Exploration Program is offered in schools. If affiliated with a Homeschool Association or Network that can provide a testing facility, we can provide the program to the group. If not affiliated with an Association or Network, you can contact a local Education Services Specialist at 1-800-323-0513 to find out if area schools provide the program. If they do, you can make arrangements with the school counselor to participate in the program.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>It's easy! Complete the <a target="_blank" href="https://www.asvabprogram.com/asvab-cep-at-your-school">Bring ASVAB CEP to Your School</a> request form. Your request will be routed to the nearest program office for assistance.</p>
        <p>As an alternative, dial 1-800-323-0513. You will automatically be connected to the closest ASVAB Career Exploration Program office. Calls are routed based on the area code and number from which you are dialing. Caution: If you are calling from a cell phone number that you obtained in another state, you will be connected to an Education Services Specialist in that area.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>Scores will generate differently for recruiters than those presented on the ASVAB Summary Results (ASR) sheet. Scores on the ASR are provided for career exploration purposes. Scores provided from our database are converted for use by the Military recruiting services. The only score on the ASR that is the same for military recruiting use is the AFQT or Military Entrance Score.</p>
        <p>Note: MEPCOM can only retrieve scores from tests taken in 11th and 12th grade and post-secondary schools. All 10th grade scores are invalid for enlistment purposes and are not available through the USMIRS database.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>In order to access <a target="_blank" href="https://www.asvabprogram.com">asvabprogram.com</a>, you must be an ASVAB CEP participant. Your access code is provided on your ASVAB Summary Results (ASR) Sheet. We encourage you to register your email address the first time you login in case you lose your ASR.</p>
        <p>I lost my access code, can I get a new one?</p>
        <p>Yes, please request a temporary access code to utilize the career exploration tools on the website. Unfortunately, your scores will not be associated with this temporary access code.</p>
    </div>                                    
    <div data-type="section-break"><hr /></div>
    <div class="ac-text-wrap">
        <p>We recommend you visit the Official ASVAB web site at http://www.officialasvab.com/faq_app.htm for the answers to many possible questions. This web site also provides sample test questions.</p>
        <p>How do I sign up for the ASVAB Career Exploration Program?</p>
        <p>It's easy! Complete the <a target="_blank" href="https://www.asvabprogram.com/asvab-cep-at-your-school">Bring ASVAB CEP to Your School</a> request form. Your request will be routed to the nearest program office for assistance.</p>
        <p>As an alternative, dial 1-800-323-0513. You will automatically be connected to the closest ASVAB Career Exploration Program office. Calls are routed based on the area code and number from which you are dialing. Caution: If you are calling from a cell phone number that you obtained in another state, you will be connected to an Education Services Specialist in that area.</p>
    </div>                                    
