<app-spinner></app-spinner> 
<div *ngIf="pageHtml">
    <div class="section full-black-text  faq" id="main">
        <div id="boot-camp">
            <div [innerHTML]="pageHtml[0]"></div>
            <div class="row all-data">
                <div class="medium-12 column content-text">
                    <div class="row">
                        <div class="small-12 medium-12 large-12 column">
                            <h6 class="title6">ABOUT CAREERS IN THE MILITARY </h6>
                            <mat-accordion id="faq" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                                <mat-expansion-panel #panel1>
                                    <mat-expansion-panel-header>How do I access Careers in the Military? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[1]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel2>
                                    <mat-expansion-panel-header>If I make an account on this site will my information be shared with the Military? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[2]"></div>                                    
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel3>
                                    <mat-expansion-panel-header>What does Careers in the Military have to do with ASVAB CEP? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[3]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel4>
                                    <mat-expansion-panel-header>Does ASVAB CEP count against me for enlistment? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[4]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel5>
                                    <mat-expansion-panel-header>Can I retake the ASVAB CEP? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[5]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel6>
                                    <mat-expansion-panel-header>What's the difference between ASVAB CEP and the Enlistment ASVAB? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[6]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel7>
                                    <mat-expansion-panel-header>What score do I need on the ASVAB to enlist?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[7]"></div>                               
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel8>
                                    <mat-expansion-panel-header>What score do I need on the ASVAB to get the job I want?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[8]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel9>
                                    <mat-expansion-panel-header>How does the Military determine which job I go into?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[9]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel10>
                                    <mat-expansion-panel-header>What do my ASVAB CEP scores qualify me for?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[10]"></div>                                    
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel11>
                                    <mat-expansion-panel-header>Which occupations do I qualify for in the Military?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[11]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel12>
                                    <mat-expansion-panel-header>I took the ASVAB at a Military Entrance Processing Station. Can I use this website?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[12]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel13>
                                    <mat-expansion-panel-header>I want to join the Military. How will this website help me?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[13]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel14>
                                    <mat-expansion-panel-header>Can I join before high school graduation?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[14]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel15>
                                    <mat-expansion-panel-header>Can I enlist if I'm not a U.S. citizen?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[15]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel16>
                                    <mat-expansion-panel-header>Do Services offer different bonuses for the same job?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[16]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel17>
                                    <mat-expansion-panel-header>Our school participated in the ASVAB CEP and chose option 8. A recruiter contacted my child, how did this happen?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[17]"></div>                                  
                                </mat-expansion-panel>
      
                            </mat-accordion> 
                            
                            <p class="small">Frequently Asked Questions about life in the Military, visit <a target="_blank" href="http://www.todaysmilitary.com" (click)="trackClick('JAMRSs_TodaysMilitary_Link_Clicked')">TodaysMilitary.com</a></p>
                            <h6 class="title6">ABOUT ASVAB CEP</h6>
                            <mat-accordion id="faq_ASVABCEP" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                                <mat-expansion-panel #panel1>
                                    <mat-expansion-panel-header>What is the purpose of the ASVAB CEP?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[18]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel2>
                                    <mat-expansion-panel-header>If I take the ASVAB will recruiters contact me?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[19]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel3>
                                    <mat-expansion-panel-header>Is the ASVAB Career Exploration Program available outside of the United States?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[20]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel4>
                                    <mat-expansion-panel-header>How do I know if my school offers ASVAB CEP? When is my high school testing?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[21]"></div>                                 
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel5>
                                    <mat-expansion-panel-header>Can reasonable accommodations be requested for the ASVAB CEP?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[22]"></div>                                  
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel6>
                                    <mat-expansion-panel-header>Can students who are homeschooled take the ASVAB CEP?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[23]"></div>                               
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel7>
                                    <mat-expansion-panel-header>How do I request the ASVAB Career Exploration Program for my school?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[24]"></div>                               
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel8>
                                    <mat-expansion-panel-header>The scores I received in school are different from the scores my recruiter has ... which are correct?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[25]"></div>                                   
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel9>
                                    <mat-expansion-panel-header>How do I access asvabprogram.com?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[26]"></div>                               
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel10>
                                    <mat-expansion-panel-header>Where can I find more information about the ASVAB?</mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[27]"></div>                                 
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>