<app-spinner></app-spinner> 
<div id="main" class="section">
   <div id="boot-camp" class="career-profile">
      <div class="row column">
         <div class="row">
            <div *ngIf="toMilitaryCareerList" class="medium-8 columns">
               <h1 class="career-profile title">
                  Profile:
                  
                  <span> {{ profileTitle }} </span>
               </h1>
               <span class="career-profile sub-title">Career Field(s):   </span>
               <span *ngFor="let e of toMilitaryCareerList; first as isFirst" >
               <a routerLink="/career-detail/{{e.mcId}}"><span *ngIf="isFirst">  </span><span *ngIf="!isFirst">, </span><span> {{ e.title }}</span></a>
               </span>
            </div>
            <div class="medium-4 columns share share-topspace">
				<mat-card> Share:
			  		<!-- <a (click)="onSocialShareClick('facebook')"><mat-icon class="fab fa-facebook-f"></mat-icon></a>
			  		<a (click)="onSocialShareClick('twitter')"><mat-icon class="fab fa-twitter"></mat-icon></a>
			  		<a (click)="onSocialShareClick('linkedin')"><mat-icon class="fab fa-linkedin-in"></mat-icon></a> -->
					<share-button class="sl-margin" button="facebook" [title]="customTitle  + ' | Life in the Military'" 
					  [description]="careerProfile.teaserText" [image]="slides[0].imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Facebook')"></share-button>
					<share-button class="sl-margin" button="twitter" [title]="customTitle  + ' | Life in the Military'" 
					  [description]="getShortenDescription()" [image]="slides[0].imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('Twitter')"></share-button>
					<share-button class="sl-margin" button="linkedin" [title]="customTitle  + ' | Life in the Military'" 
					  [description]="careerProfile.teaserText" [image]="slides[0].imageUrl" [url]="getShareUrl()" (click)="trackSocialShare('LinkedIn')"></share-button>
	  				<share-button button="email" [title]="getTitle()" [description]="getDescription()"  (click)="trackSocialShare('Email')"></share-button>
				</mat-card>
		  </div>
         </div>
         <hr>
      </div>
      <div *ngIf="careerProfile" class="row column">
		 <div class="medium-12 column full-black-text">
			 <div class="row">
				 <mat-card  class="small-12 medium-6 large-6 column show-for-medium" >
				 	<h4 class="career-inner-title"><span>{{careerProfile.teaserText}}</span></h4>
					 <hr>
					 <div class="home-profile-text" *ngFor="let f of jobQuestionList">
						<p></p> 
						 <h5><span class="home-profile-text" >{{f.question}}</span></h5>
						 <span [innerHtml]="f.answer"></span>
					 </div>
               	 </mat-card>
				 <div class="small-12 medium-6 large-6 column">
					 <mat-card class="career-slider-main">
						<section class="career-slider slider row">
						  
						 <div class="small-6 column show-for-small-only">
							   <strong>Name:</strong> <span style="cursor: default"> {{careerProfile.firstName}} {{careerProfile.lastName}}</span><br>
							   <strong>Service:</strong> <span> <a routerLink="/options-types-of-service"> {{ careerProfile.svcName }}</a></span> <br>
							   <strong>Career Cluster:</strong> <span> <a routerLink="/career-cluster-pathway/{{ccId}}"> {{ customTitle }}</a></span>
							 
							 <h4 class="career-inner-title"><span>{{careerProfile.teaserText}}</span></h4>
						 </div>
							
						 <div class="career-slider-details show-for-medium">
							   <strong>Name:</strong> <span style="cursor: default"> {{careerProfile.firstName}} {{careerProfile.lastName}}</span> <br>
							   <strong>Service:</strong> <span> <a routerLink="/options-types-of-service" style="color: white"> {{ careerProfile.svcName }}</a></span> <br>
							   <strong>Career Cluster:</strong> <span> <a routerLink="/career-cluster-pathway/{{ccId}}" style="color: white"> {{ customTitle }}</a></span>
						 </div>
						 <ngx-slick-carousel class="carousel column small-6 medium-12" #slickModal="slick-carousel" [config]="slideConfig">
							<div ngxSlickItem class="slide" *ngFor="let slide of slides">
								 <div>
								      <img src="{{ slide.imageUrl }}">
								 </div>
							  </div>
						   </ngx-slick-carousel>
						</section>
					 </mat-card>
					   <mat-card class="snap-shot-slides-main">
						  <section class="snap-shot-slides">
							 <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
								<div ngxSlickItem class="slide snap-shot-inner" *ngFor="let d of snapshotQuestionList">
								   <div class="home-profile-text">
									  <h4>{{d.question}}</h4>
									  <span [innerHtml]="d.answer"></span>
								   </div>
								</div>
							 </ngx-slick-carousel>
						  </section>
						  <div class="snap-small">SNAP Shot</div>
					   </mat-card>
                  </div>
				 <mat-card  class="small-12 medium-6 large-6 column show-for-small-only" >
				 	<div class="home-profile-text" *ngFor="let f of jobQuestionList">
						<p></p> 
						 <h5><span class="home-profile-text" >{{f.question}}</span></h5>
						 <span [innerHtml]="f.answer"></span>
					 </div>
               	 </mat-card>
		 	</div>
		  </div>
      </div>

      <div class="row column">
<div id="todayMilitary">
<p>
<a target="_blank" href="https://www.todaysmilitary.com/military-life/stories-service-members">For more information about life in the Military, go to todaysmilitary.com/futures</a>
</p>
</div>
</div>
         
      <app-related-careers [mcId]="mcId"></app-related-careers>
   </div>
</div>