.career-profile {
  font-size: 13px;

  .title {
    font-size: 20px;
    margin-bottom: 0; 
  }
  .sub-title {
    color: #2f2a6a;
    font-size: 20px;
    margin-bottom: 0; 
  }
  > .row > hr {
    margin-top: 10px; 
  }
  h5 {
    color: #93210f;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 16px;

    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      line-height: normal;
    }
  }
  p {
    margin-bottom: 30px; 
  }
  .share {
	font-size: 15px;
  }
  .share-topspace {
    margin-top: 30px;
  }
  .career-inner-title {
    color: #2f2a6a;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 25px;

    > span {
      font-style: italic; 
    }
  }
  .full-black-text {
    margin-bottom: 30px;
    margin-top: 10px; 
  }
  .slick-slide {
    position: relative;

    img {
      width: 100%; 
    }
    &.slick-loading img {
      display: none; 
    }
    &.dragging img {
      pointer-events: none; 
    }
  }
  ::ng-deep .slick-arrow {
    > img:nth-child(2) {
      display: none;
    }
    &:hover {
      img:nth-child(1) {
        display: none;
      }
      img:nth-child(2) {
        display: inline-block;
      }
    }
  }
}
.mat-card,
.mat-card:not([class*=mat-elevation-z]) {
	box-shadow: none;
	padding: 0;
}
.career-slider-main {
  position: relative;

  .career-slider {
	background: transparent;
    height: inherit;
    margin: 0 0 42px; 
	  
	  .show-for-small-only {
  		color: #3c3f44;
		font-size: 10px;
    	font-family: 'Open Sans';
		padding-left: 0;
		  
		  .career-inner-title {
			  font-size: 12px;
			  margin-top: 20px;
		  }
	  }
	  
	  .carousel {
		  padding: 0;
	  }
  }
}

.career-slider-main.mat-card {
	@media screen and (min-width: 0em) and (max-width: 39.9375em) {
	    background: #dedede;
	    margin: -30px -29px 30px;
    	padding: 20px;
		
		.career-slider {
			margin: 0;
		}
	}
}

.career-slider-details {
  background-color: rgba(4, 1, 2, 0.52);
  bottom: 0;
  color: white;
  padding: 18px 33px;
  position: absolute;
  width: 100%;
  z-index: 1;

  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    padding: 14px 25px;
  }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    padding: 14px 20px;
  }
}

.snap-shot-slides-main {
  position: relative;

  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    margin-bottom: 30px;
  }
  .snap-small {
    background-color: #e7e7e7;
    color: #2f2a6a;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding-left: 15px;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
    left:7px;
    width: -webkit-calc(100% - 14px);
    width: -moz-calc(100% - 14px);
    width: calc(100% - 14px);

    > b {
      color: #000;
      display: inline-block;
      text-transform: none;
      width: 100%; 
    }
  }
}

.snap-shot-slides {
  border: 7px solid #d7d7d7;

  .snap-shot-inner {
    display: inline-block;
    padding: 55px 60px 30px;

    h4 {
      color: #93210f;
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 10px; 
    }
  }
}

#todayMilitary {
  text-align: center;
  font-size: 20px;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) { 
  .career-mobile-slider {
    background-color: #dedede;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -19px;
    padding: 20px 0;
    width: 100%;

    .career-slider {
      margin-bottom: 0; 
    }
    .career-inner-title {
      font-size: 12px;
      margin-bottom: 0; 
    }
  }
  .career-mobile-slider-details {
    font-size: 10px;
    margin-bottom: 20px; 
  } 
}