<div class="table-contents">
  <div class="row">
    <div class="small-12">
      <p class="nav-base-head">
        <strong>Fitness Requirements for Each PFT Event (Males)
        </strong>
      </p>
      <table>
        <tbody>
          <tr>
            <td><b>Age</b></td>
            <td><b>Pull-Ups</b></td>
            <td><b>Crunches</b></td>
            <td><b>3-Mile Run</b></td>
          </tr>
          <tr>
            <td>17-26</td>
            <td>3</td>
            <td>50</td>
            <td>28:00</td>
          </tr>
          <tr>
            <td>27-39</td>
            <td>3</td>
            <td>45</td>
            <td>29:00</td>
          </tr>
          <tr>
            <td>40-45</td>
            <td>3</td>
            <td>40</td>
            <td>30:00</td>
          </tr>
          <tr>
            <td>46</td>
            <td>3</td>
            <td>45</td>
            <td>33:00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="small-12 tables">
      <p class="nav-base-head">
        <strong>Fitness Requirements for Each PFT Event
          (Females)</strong>
      </p>
      <table>
        <tbody>
          <tr>
            <td><b>Age</b></td>
            <td><b>Flexed-Arm Hang</b></td>
            <td><b>Crunches</b></td>
            <td><b>3-Mile Run</b></td>
          </tr>
          <tr>
            <td>17-26</td>
            <td>15 Seconds</td>
            <td>50</td>
            <td>31:00</td>
          </tr>
          <tr>
            <td>27-39</td>
            <td>15 Seconds</td>
            <td>45</td>
            <td>32:00</td>
          </tr>
          <tr>
            <td>40-45</td>
            <td>15 Seconds</td>
            <td>45</td>
            <td>33:00</td>
          </tr>
          <tr>
            <td>46</td>
            <td>15 Seconds</td>
            <td>40</td>
            <td>36:00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="small-12 tables">
      <p class="nav-base-head">
        <strong>Marine Corps PFT Classification Scores (Both
          Male and Female)</strong>
      </p>
      <table>
        <tbody>
          <tr>
            <td><b>Class</b></td>
            <td><b>Age 17-26</b></td>
            <td><b>Age 27-39</b></td>
            <td><b>Age 40-45</b></td>
            <td><b>Age 46</b></td>
          </tr>
          <tr>
            <td>1st</td>
            <td>225</td>
            <td>200</td>
            <td>175</td>
            <td>150</td>
          </tr>
          <tr>
            <td>2nd</td>
            <td>175</td>
            <td>150</td>
            <td>125</td>
            <td>100</td>
          </tr>
          <tr>
            <td>3rd</td>
            <td>135</td>
            <td>110</td>
            <td>88</td>
            <td>65</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>The minimum performance requirement for Marines to pass the
      PFT is to achieve a 3d class score, by age group.</p>
  </div>
</div>