<div class="modal-options">
	<!-- <div class="custom-modal-backdrop"></div> -->
	<div class="custom-modal-lg">
		<div class="custom-modal-content table-contents-wrap marine-modal">
			<div class="custom-modal-body">
				<div class="titles" style="margin-bottom: -40px">
					<h4>
						<b>Marine Corps</b>- Recruit Training Physical Fitness Requirements
					</h4>
					<button type="button" class="close-button" (click)="close()">
						<span aria-hidden="true">&#215;</span>
					</button>
				</div>
				<div *ngIf="pageHtml">
					<div [innerHTML]="pageHtml[0]"></div>
				</div>
				<div class="close-button-div text-center">
					<button type="button" class="button" (click)="close()">close</button>
				</div>
			</div>
		</div>
	</div>
</div>