<app-spinner></app-spinner> 
<div *ngIf="pageHtml">
    <!-- <app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="pageHtml">
    </app-dynamic-content-loader> -->

    <div class="section" id="main">
        <div id="boot-camp">
            <div [innerHTML]="pageHtml[0]"></div>
            <div class="row all-data">
                <div class="medium-12 column content-text">
                    <div class="row">
                        <div class="small-12 medium-12 large-12 column">
                            <!-- <h6 class="title6">Header</h6> -->
                            <mat-accordion id="parents" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                                <mat-expansion-panel #panel1>
                                    <mat-expansion-panel-header>WHY THE MILITARY? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[1]"></div>                        
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel2>
                                    <mat-expansion-panel-header>WHAT ARE THE REQUIREMENTS TO JOIN?  </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[2]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel3>
                                    <mat-expansion-panel-header>WHAT JOB OPPORTUNITIES ARE AVAILABLE FOR MY CHILD? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[3]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel4>
                                    <mat-expansion-panel-header>I WANT MY CHILD TO GO TO COLLEGE. CAN S/HE DO BOTH? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[4]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel5>
                                    <mat-expansion-panel-header>WHAT'S THE DIFFERENCE BETWEEN ENLISTED AND OFFICER? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[5]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel6>
                                    <mat-expansion-panel-header>CAN MY CHILD SERVE PART-TIME? / WHAT SERVICE OPTIONS ARE AVAILABLE? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[6]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel7>
                                    <mat-expansion-panel-header>WHAT IF MY CHILD WANTS TO ENTER THE MILITARY AS AN OFFICER? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[7]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel8>
                                    <mat-expansion-panel-header>WHAT CAN WE DO TO PREPARE DURING HIGH SCHOOL? </mat-expansion-panel-header>
                                        <div [innerHTML]="pageHtml[8]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel9>
                                    <mat-expansion-panel-header>CAN MY CHILD JOIN BEFORE HIGH SCHOOL GRADUATION? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[9]"></div>
                                </mat-expansion-panel>
                                <mat-expansion-panel #panel10>
                                    <mat-expansion-panel-header>WHAT KINDS OF QUESTIONS SHOULD I ASK A RECRUITER? </mat-expansion-panel-header>
                                    <div [innerHTML]="pageHtml[10]"></div>
                                </mat-expansion-panel>
                            </mat-accordion> 
                            
                            <h4>SUPPORTING YOURSELF &amp; YOUR CHILD</h4>
                            <p class="small">Today's Military offers videos of other <a target="_blank" href="https://www.todaysmilitary.com/parents/stories-military-parents">parents' stories</a> and a list of <a  target="_blank" href="https://www.todaysmilitary.com/parents/support-parents">groups to help support you and your child</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
