<!--The content below is only a placeholder and can be replaced.-->
<app-header *ngIf="showHeaderFooter"></app-header>
<app-spinner></app-spinner> 
<router-outlet></router-outlet>
<app-footer *ngIf="showHeaderFooter"></app-footer>
<!-- <app-alert-box> -->

