h4 {
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.recruiter-icon {
	background: url(../../../../assets/images/Men_icon.png);
	display: inline-block;
	height: 18px;
	width: 21px;
	vertical-align: middle;
	margin-bottom: 0 !important;
}

.occufind-checkmark {
	background: url(../../../../assets/images/Eligible_icon.png);
	display: inline-block;
	height: 22px;
	vertical-align: middle;
    width: 22px;
    margin: 0 7px;

	&.small {
		height: 15px;
		width: 15px;
		background-size: cover;
    }
}

.eligible-button {
	margin-top: 30px;
	margin-right: 10px;
    

	.occufind-checkmark {
		margin-bottom: 0 !important;
        margin-left: 0;
	}

	h6 {
		display: inline-block;
		font-size: 25px !important;
		font-family: 'futura-bt';
		font-weight: 300;
		color: #606060 !important;
		margin-bottom: 0;
	}

	p {
        font-size: 13px;
        font-weight: 400;
        text-transform: initial;
        max-width: 170px;
	}

}

.career-list-title {
	display: flex;
    align-items: center;
	background-color: #E8E8E8;
	padding: 12px;
	margin: 20px 0;

 	h6 {
    	font-size: 11px;
		line-height: 18px;
        margin-bottom: 0;
        margin-left: 3px;
	}
}