<mat-dialog-content>
  <div id="loginpop" class="custom-modal-content login_wrap" style="display: block;">
    <div class="custom-modal-body">
      <div class="row">
        <div class="medium-12 columns p-0">
          <h4 class="popup-title">All {{ data.type }} titles related to {{ data.title }}.
            <button type="button" class="close-button" (click)="onNoClick()">
              <span aria-hidden="true">&#215;</span>
            </button> 
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-4 columns find-a-career-height">
          <h4>
            <div class="pull-left">
              <div *ngIf="data.type == 'Army'"><img src="assets/images/army.png"> &nbsp;{{ data.type }}
                <div *ngIf="isEligible && militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
              <div *ngIf="data.type == 'Marine Corps'"><img src="assets/images/marines.png"> &nbsp;{{ data.type }}
                <div *ngIf="isEligible &&militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
              <div *ngIf="data.type == 'Navy'"><img src="assets/images/navy.png"> &nbsp;{{ data.type }} 
                <div *ngIf="isEligible && militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
              <div *ngIf="data.type == 'Air Force'"><img src="assets/images/air-force.png"> &nbsp;{{ data.type }}
                <div *ngIf="isEligible && militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
              <div *ngIf="data.type == 'Coast Guard'"><img src="assets/images/coast-guard.png"> &nbsp;{{ data.type }}
                <div *ngIf="isEligible && militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
              <div *ngIf="data.type == 'National Guard'"><img src="assets/images/natl-guard.png"> &nbsp;{{ data.type }}
                <div *ngIf="isEligible && militaryCareer.officer !== 'T'" class="eligible-button">
                  <a (click)="openDescription('Eligible-text')" class="occufind-checkmark"></a>
                  <h6>Eligible</h6>
                  <p>You may qualify for one or more positions related to this career field. If you don't see it here, review the other Services or contact a recruiter.</p>
                </div>
              </div>
            </div>
          </h4>
        </div>

        <div class="small-12 medium-8 columns find-a-career-height">
          <div>
            <ul>
              <li *ngFor="let item of detailOfferings">
                <a (click)="onClickLink(item.svc, item.mcId, item.mocId)">{{item.mocTitle}}</a>
                <i *ngIf="item.isHotJob.toLowerCase() === 't'" class="icon-hotjob"></i>
                <i *ngIf="_configService.isLoggedIn() 
                  && isServiceEligible(item)" class="occufind-checkmark small"></i>
              </li>
            </ul>
            <div *ngIf="!!noDetailOfferings.length" class="career-list-title">
              <a (click)="_careerDetailService.openServiceContactUsDialog(data.type, serviceContacts, noDetailOfferings[0])" class="recruiter-icon"></a>
              <h6>Contact a recruiter&nbsp;for more&nbsp;details about the careers below.</h6>
            </div>
            <ul>
                <li *ngFor="let item of noDetailOfferings">
                  <div style="display: inline-block">{{item.mocTitle}}</div>
                  <i *ngIf="item.isHotJob.toLowerCase() === 't'" class="icon-hotjob"></i>
                </li>
                <!-- <li class="ng-star-inserted">Airborne Communication Technician</li>
                <li class="ng-star-inserted">Helicopter Warfare Specialist</li>
                <li class="ng-star-inserted">MH-60S Multi-Mission Helicopter Aircrewman</li>
                <li class="ng-star-inserted">HH-60H Utility Aircrewman</li>
                <li class="ng-star-inserted">Helicopter Search and Rescue Aircrew Swimmer</li>
                <li class="ng-star-inserted">MH-60R Multi Mission Helicopter Aircrewman</li>
                <li class="ng-star-inserted">MH-53 Airborne Mine Countermeasures (AMCM) Aircrewman</li> -->
            </ul>
          </div>
        </div>

        <div class="medium-12 columns find-a-career-height text-center">
          <hr>
          <div class="close-button-div">
            <button type="button" class="button" (click)="onNoClick()">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>