<div id="main" class="section">
	<div class="row column">
		<div class="compare">
			<div class="row">
				<div class="small-12 columns">
					<h2 class="page-title caps">Compare Occupations</h2>
				</div>
			</div>

			<div class="row search-bar">
				<div class="small-12 columns show-for-medium">
					<a routerLink="/profile"> <i class="icon-left hide-for-medium"></i> <strong><span class="show-for-medium">Back to</span> Favorites</strong>
					</a> <span class="actions"> <a (click)="downloadPdf()"><span class="show-for-medium">Download
								PDF</span> <i class="icon-save"></i></a> <a (click)="printPdf()"><span class="show-for-medium">Print</span>
							<i class="fas fa-print"></i></a>
					</span>
					<hr class="show-for-medium" />
				</div>
				
				<div class="small-12 columns hide-for-medium">
					<a routerLink="/profile"> <i class="icon-left hide-for-medium"></i> <strong><span class="show-for-medium">Back to</span> Favorites</strong>
					</a> <span class="actions"> <a (click)="printPdfMobile('download')"><span class="show-for-medium">Download
								PDF</span> <i class="icon-save"></i></a> <a (click)="printPdfMobile('print')"><span class="show-for-medium">Print</span>
							<i class="fas fa-print"></i></a>
					</span>
					<hr class="show-for-medium" />
				</div>
			</div>

			<div class="row">
				<div class="medium-12 columns" role="main">
					<div id="compare-table">

						<table #printElement>
							<tbody>
								<tr>
									<td #printMobileElementOne>
										<h3>
											<a routerLink="/career-detail/{{jobOne.slug}}">{{jobOne.title}}</a> <i
												*ngIf="jobOne.isHotJob == 'T'" class="icon-hotjob"
												title="Positions related to this job are reported as critical fill."></i>
										</h3>
										<div class="row">
											<section id="interest-codes" class="medium-12 columns">
												<h4>INTEREST CODES</h4>
												<ul class="icodes" *ngIf="jobOne.mcId.indexOf('.00') != -1">

													<li *ngIf="jobOne.interestOne == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobOne.interestOne == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobOne.interestOne == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobOne.interestOne == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobOne.interestOne == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobOne.interestOne == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobOne.interestTwo == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobOne.interestTwo == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobOne.interestTwo == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobOne.interestTwo == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobOne.interestTwo == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobOne.interestTwo == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobOne.interestThree == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobOne.interestThree == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobOne.interestThree == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobOne.interestThree == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobOne.interestThree == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobOne.interestThree == 'C'" class="code-c"><span>Conventional</span></li>
												</ul>
												<ul *ngIf="jobOne.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section id="skill-importance" class="medium-12 columns">
												<h4>Skill Importance</h4>
												<ul *ngIf="jobOne.mcId.indexOf('.00') != -1">
													<li><span class="starrr-label">Math:</span> <span class="container"><rating [(ngModel)]="jobOne.math" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                </rating></span></li>
                									<li><span class="starrr-label">Verbal:</span> <span class="container"><rating [(ngModel)]="jobOne.verbal" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                  </rating></span></li>
                									<li><span class="starrr-label">Science / Technical:</span> <span class="container"><rating [(ngModel)]="jobOne.science" 
                                                                                                [max]="5" 
                                                                                                fullIcon="★"
                                                                                                emptyIcon="☆"
                                                                                                [readonly]="true"
                                                                                                [disabled]="false"
                                                                                                [required]="true"
                                                                                                [float]="true">
                                                                                               </rating></span></li>
													
												</ul>
												<ul *ngIf="jobOne.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns">
												<h4>
													Services Offering <br> this Occupation
												</h4>
												<p>
													<img *ngIf="jobOne.isArmy == 'T'" src="assets/images/army.png"> <img
														*ngIf="jobOne.isAirForce == 'T'" src="assets/images/air-force.png">
													<!--  <img src="assets/images/natl-guard.png"> -->
													<img *ngIf="jobOne.isSpaceForce == 'T'" src="assets/images/space-force.png">
													<img *ngIf="jobOne.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
														*ngIf="jobOne.isNavy == 'T'" src="assets/images/navy.png"> <img
														*ngIf="jobOne.isMarines == 'T'" src="assets/images/marines.png">
												</p>
											</section>
											<section class="large-12 columns">
												<h4>Type</h4>
												<ul class="checked">
													<li class="ul" [ngClass]="{'checked': jobOne.isEnlisted == 'T'}">Enlisted</li>
													<li class="ul" [ngClass]="{'checked': jobOne.isOfficer == 'T'}">Officer</li>
													<!-- <li class="ul" [ngClass]="{'checked': jobOne.isEntryLevel == 'T'}">Entry Level</li>
                            <li class="ul" [ngClass]="{'checked': jobOne.isOpenToWomen == 'T'}">Open to Women</li> -->
													<li class="ul" [ngClass]="{'checked': jobOne.isActiveDuty == 'T'}">Active Duty</li>
													<li class="ul" [ngClass]="{'checked': jobOne.isReserve == 'T'}">Reserve</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Helpful Attributes</h4>
												<ul *ngIf="jobOne.mcId.indexOf('.00') != -1 && jobOneHelpfulAttributes">
													<li *ngFor="let h of jobOneHelpfulAttributes">{{h.helpfulAttribute}}</li>
												</ul>
												<ul *ngIf="jobOne.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Notes</h4>
												<p>{{jobOneNote.notes}}</p>
                      </section>
										</div>
									</td>

									<!-- Occupation 2 -->
									<td #printMobileElementTwo>
										<h3>
											<a routerLink="/career-detail/{{jobTwo.slug}}">{{jobTwo.title}}</a> <i
												*ngIf="jobTwo.isHotJob == 'T'" class="icon-hotjob"
												title="Positions related to this job are reported as critical fill."></i>
										</h3>
										<div class="row">
											<section id="interest-codes" class="medium-12 columns">
												<h4>INTEREST CODES</h4>
												<ul class="icodes" *ngIf="jobTwo.mcId.indexOf('.00') != -1">

													<li *ngIf="jobTwo.interestOne == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobTwo.interestOne == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobTwo.interestOne == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobTwo.interestOne == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobTwo.interestOne == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobTwo.interestOne == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobTwo.interestTwo == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobTwo.interestTwo == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobTwo.interestTwo == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobTwo.interestTwo == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobTwo.interestTwo == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobTwo.interestTwo == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobTwo.interestThree == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobTwo.interestThree == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobTwo.interestThree == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobTwo.interestThree == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobTwo.interestThree == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobTwo.interestThree == 'C'" class="code-c"><span>Conventional</span></li>
												</ul>
												<ul *ngIf="jobTwo.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section id="skill-importance" class="medium-12 columns">
												<h4>Skill Importance</h4>
												<ul *ngIf="jobTwo.mcId.indexOf('.00') != -1">
													<li><span class="starrr-label">Math:</span> <span class="container"><rating [(ngModel)]="jobTwo.math" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                </rating></span></li>
                									<li><span class="starrr-label">Verbal:</span> <span class="container"><rating [(ngModel)]="jobTwo.verbal" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                  </rating></span></li>
                									<li><span class="starrr-label">Science / Technical:</span> <span class="container"><rating [(ngModel)]="jobTwo.science" 
                                                                                                [max]="5" 
                                                                                                fullIcon="★"
                                                                                                emptyIcon="☆"
                                                                                                [readonly]="true"
                                                                                                [disabled]="false"
                                                                                                [required]="true"
                                                                                                [float]="true">
                                                                                               </rating></span></li>
												</ul>
												<ul *ngIf="jobTwo.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns">
												<h4>
													Services Offering <br> this Occupation
												</h4>
												<p>
													<img *ngIf="jobTwo.isArmy == 'T'" src="assets/images/army.png"> <img
														*ngIf="jobTwo.isAirForce == 'T'" src="assets/images/air-force.png">
													<!--  <img src="assets/images/natl-guard.png"> -->
													<img *ngIf="jobTwo.isSpaceForce == 'T'" src="assets/images/space-force.png">
													<img *ngIf="jobTwo.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
														*ngIf="jobTwo.isNavy == 'T'" src="assets/images/navy.png"> <img
														*ngIf="jobTwo.isMarines == 'T'" src="assets/images/marines.png">
												</p>
											</section>
											<section class="large-12 columns">
												<h4>Type</h4>
												<ul class="checked">
													<li class="ul" [ngClass]="{'checked': jobTwo.isEnlisted == 'T'}">Enlisted</li>
													<li class="ul" [ngClass]="{'checked': jobTwo.isOfficer == 'T'}">Officer</li>
													<!-- <li class="ul" [ngClass]="{'checked': jobTwo.isEntryLevel == 'T'}">Entry Level</li>
                            <li class="ul" [ngClass]="{'checked': jobTwo.isOpenToWomen == 'T'}">Open to Women</li> -->
													<li class="ul" [ngClass]="{'checked': jobTwo.isActiveDuty == 'T'}">Active Duty</li>
													<li class="ul" [ngClass]="{'checked': jobTwo.isReserve == 'T'}">Reserve</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Helpful Attributes</h4>
												<ul *ngIf="jobTwo.mcId.indexOf('.00') != -1 && jobTwoHelpfulAttributes">
													<li *ngFor="let h of jobTwoHelpfulAttributes">{{h.helpfulAttribute}}</li>
												</ul>
												<ul *ngIf="jobTwo.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Notes</h4>
												<p>{{jobTwoNote.notes}}</p>
											</section>
										</div>
									</td>

									<!-- Occupation 3 -->
									<td *ngIf="jobThree != undefined" #printMobileElementThree>
										<h3>
											<a routerLink="/career-detail/{{jobThree.slug}}">{{jobThree.title}}</a> <i
												*ngIf="jobThree.isHotJob == 'T'" class="icon-hotjob"
												title="Positions related to this job are reported as critical fill."></i>
										</h3>
										<div class="row">
											<section id="interest-codes" class="medium-12 columns">
												<h4>INTEREST CODES</h4>
												<ul class="icodes" *ngIf="jobThree.mcId.indexOf('.00') != -1">

													<li *ngIf="jobThree.interestOne == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobThree.interestOne == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobThree.interestOne == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobThree.interestOne == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobThree.interestOne == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobThree.interestOne == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobThree.interestTwo == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobThree.interestTwo == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobThree.interestTwo == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobThree.interestTwo == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobThree.interestTwo == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobThree.interestTwo == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobThree.interestThree == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobThree.interestThree == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobThree.interestThree == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobThree.interestThree == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobThree.interestThree == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobThree.interestThree == 'C'" class="code-c"><span>Conventional</span></li>
												</ul>
												<ul *ngIf="jobThree.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section id="skill-importance" class="medium-12 columns">
												<h4>Skill Importance</h4>
												<ul *ngIf="jobThree.mcId.indexOf('.00') != -1">
													<li><span class="starrr-label">Math:</span> <span class="container"><rating [(ngModel)]="jobThree.math" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                </rating></span></li>
                									<li><span class="starrr-label">Verbal:</span> <span class="container"><rating [(ngModel)]="jobThree.verbal" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                  </rating></span></li>
                									<li><span class="starrr-label">Science / Technical:</span> <span class="container"><rating [(ngModel)]="jobThree.science" 
                                                                                                [max]="5" 
                                                                                                fullIcon="★"
                                                                                                emptyIcon="☆"
                                                                                                [readonly]="true"
                                                                                                [disabled]="false"
                                                                                                [required]="true"
                                                                                                [float]="true">
                                                                                               </rating></span></li>
												</ul>
												<ul *ngIf="jobThree.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns">
												<h4>
													Services Offering <br> this Occupation
												</h4>
												<p>
													<img *ngIf="jobThree.isArmy == 'T'" src="assets/images/army.png"> <img
														*ngIf="jobThree.isAirForce == 'T'" src="assets/images/air-force.png">
													<!--  <img src="assets/images/natl-guard.png"> -->
													<img *ngIf="jobThree.isSpaceForce == 'T'" src="assets/images/space-force.png">
													<img *ngIf="jobThree.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
														*ngIf="jobThree.isNavy == 'T'" src="assets/images/navy.png"> <img
														*ngIf="jobThree.isMarines == 'T'" src="assets/images/marines.png">
												</p>
											</section>
											<section class="large-12 columns">
												<h4>Type</h4>
												<ul class="checked">
													<li class="ul" [ngClass]="{'checked': jobThree.isEnlisted == 'T'}">Enlisted</li>
													<li class="ul" [ngClass]="{'checked': jobThree.isOfficer == 'T'}">Officer</li>
													<!-- <li class="ul" [ngClass]="{'checked': jobThree.isEntryLevel == 'T'}">Entry Level</li>
                            <li class="ul" [ngClass]="{'checked': jobThree.isOpenToWomen == 'T'}">Open to Women</li> -->
													<li class="ul" [ngClass]="{'checked': jobThree.isActiveDuty == 'T'}">Active Duty</li>
													<li class="ul" [ngClass]="{'checked': jobThree.isReserve == 'T'}">Reserve</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Helpful Attributes</h4>
												<ul *ngIf="jobThree.mcId.indexOf('.00') != -1 && jobThreeHelpfulAttributes">
													<li *ngFor="let h of jobThreeHelpfulAttributes">{{h.helpfulAttribute}}</li>
												</ul>
												<ul *ngIf="jobThree.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Notes</h4>
												<p>{{jobThreeNote.notes}}</p>
											</section>
										</div>
									</td>

									<!-- Occupatio 4 -->
									<td *ngIf="jobFour != undefined" #printMobileElementFour>
										<h3>
											<a routerLink="/career-detail/{{jobFour.slug}}">{{jobFour.title}}</a> <i
												*ngIf="jobFour.isHotJob == 'T'" class="icon-hotjob"
												title="Positions related to this job are reported as critical fill."></i>
										</h3>
										<div class="row">
											<section id="interest-codes" class="medium-12 columns">
												<h4>INTEREST CODES</h4>
												<ul class="icodes" *ngIf="jobFour.mcId.indexOf('.00') != -1">

													<li *ngIf="jobFour.interestOne == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobFour.interestOne == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobFour.interestOne == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobFour.interestOne == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobFour.interestOne == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobFour.interestOne == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobFour.interestTwo == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobFour.interestTwo == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobFour.interestTwo == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobFour.interestTwo == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobFour.interestTwo == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobFour.interestTwo == 'C'" class="code-c"><span>Conventional</span></li>

													<li *ngIf="jobFour.interestThree == 'R'" class="code-r"><span>Realistic</span></li>
													<li *ngIf="jobFour.interestThree == 'I'" class="code-i"><span>Investigative</span></li>
													<li *ngIf="jobFour.interestThree == 'A'" class="code-a"><span>Artistic</span></li>
													<li *ngIf="jobFour.interestThree == 'S'" class="code-s"><span>Social</span></li>
													<li *ngIf="jobFour.interestThree == 'E'" class="code-e"><span>Enterprising</span></li>
													<li *ngIf="jobFour.interestThree == 'C'" class="code-c"><span>Conventional</span></li>
												</ul>
												<ul *ngIf="jobFour.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section id="skill-importance" class="medium-12 columns">
												<h4>Skill Importance</h4>
												<ul *ngIf="jobFour.mcId.indexOf('.00') != -1">
													<li><span class="starrr-label">Math:</span> <span class="container"><rating [(ngModel)]="jobFour.math" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                </rating></span></li>
                									<li><span class="starrr-label">Verbal:</span> <span class="container"><rating [(ngModel)]="jobFour.verbal" 
                                                                                        [max]="5" 
                                                                                        fullIcon="★"
                                                                                        emptyIcon="☆"
                                                                                        [readonly]="true"
                                                                                        [disabled]="false"
                                                                                        [required]="true"
                                                                                        [float]="true">
                                                                                  </rating></span></li>
                									<li><span class="starrr-label">Science / Technical:</span> <span class="container"><rating [(ngModel)]="jobFour.science" 
                                                                                                [max]="5" 
                                                                                                fullIcon="★"
                                                                                                emptyIcon="☆"
                                                                                                [readonly]="true"
                                                                                                [disabled]="false"
                                                                                                [required]="true"
                                                                                                [float]="true">
                                                                                               </rating></span></li>
												</ul>
												<ul *ngIf="jobFour.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns">
												<h4>
													Services Offering <br> this Occupation
												</h4>
												<p>
													<img *ngIf="jobFour.isArmy == 'T'" src="assets/images/army.png"> <img
														*ngIf="jobFour.isAirForce == 'T'" src="assets/images/air-force.png">
													<!--  <img src="assets/images/natl-guard.png"> -->
													<img *ngIf="jobFour.isSpaceForce == 'T'" src="assets/images/space-force.png">
													<img *ngIf="jobFour.isCoastGuard == 'T'" src="assets/images/coast-guard.png"> <img
														*ngIf="jobFour.isNavy == 'T'" src="assets/images/navy.png"> <img
														*ngIf="jobFour.isMarines == 'T'" src="assets/images/marines.png">
												</p>
											</section>
											<section class="large-12 columns">
												<h4>Type</h4>
												<ul class="checked">
													<li class="ul" [ngClass]="{'checked': jobFour.isEnlisted == 'T'}">Enlisted</li>
													<li class="ul" [ngClass]="{'checked': jobFour.isOfficer == 'T'}">Officer</li>
													<!-- <li class="ul" [ngClass]="{'checked': jobFour.isEntryLevel == 'T'}">Entry Level</li>
                            <li class="ul" [ngClass]="{'checked': jobFour.isOpenToWomen == 'T'}">Open to Women</li> -->
													<li class="ul" [ngClass]="{'checked': jobFour.isActiveDuty == 'T'}">Active Duty</li>
													<li class="ul" [ngClass]="{'checked': jobFour.isReserve == 'T'}">Reserve</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Helpful Attributes</h4>
												<ul *ngIf="jobFour.mcId.indexOf('.00') != -1 && jobOneHelpfulAttributes">
													<li *ngFor="let h of jobOneHelpfulAttributes">{{h.helpfulAttribute}}</li>
												</ul>
												<ul *ngIf="jobFour.mcId.indexOf('.00') == -1">
													<li>THIS INFORMATION IS NOT AVAILABLE FOR THIS JOB</li>
												</ul>
											</section>
											<section class="large-12 columns plain">
												<h4>Notes</h4>
												<p>{{jobFourNote.notes}}</p>
											</section>
										</div>
									</td>

								</tr>
							</tbody>
						</table>


					</div>
				</div>
			</div>

		</div>
	</div>
</div>