<mat-dialog-content>
  <div class="modal-options">
    <div class="custom-modal-lg">
      <div class="custom-modal-content table-contents-wrap marine-modal">
        <div class="custom-modal-body">

          <div class="contents">
            <div class="row">
              <div class="medium-4 columns">

                <fieldset>
                  Photo:
                  <input style="width: 200px;" type="file" id="fileInput" (change)="onSelectFile($event)" #fileInput
                    (value)="selectedFile" name="file" accept="image/*">
                  <!-- ngf-resize="{width: 100, height: 100, quality: .8, ratio: '1:1', centerCrop: true, restoreExif: false}"> -->
                  <i *ngIf="!selectedFile ||     !fileSizeOk()">max 200kb</i>
                  <i *ngIf="selectedFile && !fileSizeOk()"><br>File too large {{roundedSize}}MB: max 0.20MB</i> 
                  <img  height="200" width="200" *ngIf="photo" id="fileImage" class="upload-thumb" [src]="photo">
                  <div *ngIf="fileName"> {{fileName}} </div>
                  <br>
                  <span class="upload-progress" *ngIf="selectedFile && progress > 0">
                    <!-- <div [ngStyle]="'width: ' + progress +'%'" [ngModel]="progress + '%'"></div> -->
                  </span> <span color="red" *ngIf="selectedFile && result">Upload Successful</span> <span class="err"
                  color="red"  *ngIf="error">{{error}}</span>
                </fieldset>
				<div *ngIf="showSpinner">
                  <i class="fas fa-cog fa-spin"></i>
                </div>
              </div>                
              <div class="medium-6 columns">
                User Name:
                <input type="text" name="name" [(ngModel)]="name" size="50" required>
                <br>
                School:
                <input type="text" name="schoolName" [(ngModel)]="schoolName" size="50" required>
                <br>
                Graduation Year:
                <input type="number" name="graduationYear" [(ngModel)]="graduationYear" required min="1940" max="3000">
                <br>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="button" type="button" (click)="onCancel()">Cancel</button>
            <button class="button" type="submit" [disabled]="formNotValid()" (click)="saveInfo()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>