.composite-scores {
	.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
		padding: 5px;
	}
	h1 {
		color: #2f2a6a;
	    font-size: 1.25rem;
	    margin-bottom: 1em;
	    font-weight: 700;
	    font-family: "Open Sans",sans-serif;
	}
	h4 {
		color: #000;
		font-size: 13px;
		text-transform: uppercase;
		font-family: "Open Sans",sans-serif;
	}
	table.abbreviations {
		// border: 1px solid #ababab;
		// border-collapse: separate;
		// border-spacing: 2px;

		> tbody, > thead {
			border: none;
			background-color: transparent;
			font-size: 12px;
		}
		tbody tr:nth-child(even) {
			background-color: transparent
		}
		tbody > tr > td {
			vertical-align: middle;
			padding-top: 1px;
			padding-bottom: 1px;
			line-height: 1;
			border-bottom: 3px solid transparent;
		}
		.abbr-links,tbody > tr > td.abbr-links {
			line-height: 2;
		}
		#AR, #MK {
			color: #fff;
			background-color: #911a07;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#EL,#GS,#MC {
			color: #fff;
			background-color: #2f2a6a;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#AO,#AS {
			color: #fff;
			background-color: #333;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
		#PC,#VE, #WK {
			color: #fff;
			background-color: #147175;
			text-align: center;
			width: 45px;
			height: 30px;
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
			align-items: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center
		}
	}
	.table>tbody>tr>td {
		border-top: none
	}
	table.branches-table {
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 0
	}
	table {
		margin-bottom: 25px;
	}
    .tutorial {
        padding-left: 5px;
    }
	.AR,.MK {
		color: #911a07
	}

	.EL,.GS,.MC {
		color: #2f2a6a
	}
	
	input[type='checkbox'] {
		margin: 0;
	}

	#composite-scores .PC,.VE,.WK {
		color: #147175
	}
	.AO {
		color: #333
	}
	
	.comp-scores-fav-prompt {
		background-color: #E6E5ED;
		color: #2f2a6a;
		font-weight: bold;
    	font-size: 12px;
		
		ul {
			margin: 12px 0;
			padding: 0;
			padding-left: 25px;
			list-style: none;
		}
		
		li {
			list-style-type: none;
			padding-left: 8px;
			line-height: 10px !important;
			padding-bottom: 6px;
			
			&:before {
				content: "";
				border-color: #2f2a6a transparent;
				border-style: solid;
				border-width: 0 8px 10px 8px;
				display: block;
				height: 0;
				width: 0;
				left: -28px;
				top: 9px;
				position: relative;
			}
		}
	}
	.table tr td.no-score {
		display: none;
	}
}

.image-wrapper {
	position: relative;

	#play-icon {
		content: url(/assets/images/play.png);
		position: absolute;
		width: 50%;
		left: 25%;
		border: none;
		margin: 0;
		padding: 0;
	}
}

.font-13px {
	font-size: 13px;
}

.mb-0 {
	margin-bottom: 0;
}

.ml-7 {
	margin-left: 7px;
}

h6 {
	font-family: "Open Sans",sans-serif;
	font-weight: bold;
	color: #000;
	text-transform: inherit;
}
.score_box_wrapper {
	margin-bottom: 45px;

	.row {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 639px) {
			display: block;
		}
	}

	.score_box {
		display: flex;
		flex-direction: column;
		border: 1px solid #D1D1D1;
		height: 100%;
		padding: 25px;

		@media (max-width: 639px) {
			padding: 20px;
			margin-bottom: 20px;
		}
	
		p {
			color: #282828;
			display: flex;
			flex: 1 0 auto;
		}
	}
}

// .eligible_icon {
// 	position: relative;
// 	display: inline-block;
// 	margin: 0 10px;

// 	&:hover span {
// 		display: block;
// 	}

// 	img {
// 		cursor: pointer;
// 	}

// 	span {
// 		display: none;
// 		position: absolute;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		top: 100%;
// 		width: 250px;
// 		background-color: #d3d3d3;
// 		border-radius: 5px;
// 		text-align: center;
// 		padding: 10px;
// 		z-index: 1;
// 		margin-top: 15px;

// 		&:before {
// 			content: '';
// 			position: absolute;
// 			top: -10px;
// 			left: 50%;
// 			transform: translateX(-50%);
// 			width: 0;
// 			height: 0;
// 			border-left: 10px solid transparent;
// 			border-right: 10px solid transparent;
// 			border-bottom: 10px solid #d3d3d3;
// 		}
// 	}
// }

// .mat-expansion-panel-spacing {
// 	overflow: visible;
// }

.occufind-explain {
  background: url(../../assets/images/icons.png) -110px -90px;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 14px;
  margin-left: 7px;
}

.occufind-explain.alt {
  background-position: -110px -127px;
}

.occufind-checkmark {
	background: url(../../assets/images/Eligible_icon.png);
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	width: 22px;
	margin-left: 7px;
}