	<div class="modal-options">
		<div class="custom-modal-lg">
			<div class="custom-modal-content table-contents-wrap">
				<div class="custom-modal-body">
					<div class="titles">
						<h4>{{service.serviceCode == 'A' || service.serviceCode == 'G' ? 'Army' : service.serviceCode == 'N' ? 'Navy' :
						service.serviceCode == 'F' ? 'Air Force' : service.serviceCode == 'M' ? 'Marine' : service.serviceCode
						== 'C' ? 'Coast Guard' : service.serviceCode == 'S' ? 'Space Force' : ''}}</h4>
						<button type="button" class="close-button" (click)="close()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="medium-2 column">
								<div class="military-img-modal">
									<img *ngIf="service.serviceCode == 'A'" src="/assets/images/military-army.png">
									<img *ngIf="service.serviceCode == 'G'" src="/assets/images/arng_logo.png">
									<img *ngIf="service.serviceCode == 'M'" src="/assets/images/military-marines.png">
									<img *ngIf="service.serviceCode == 'N'" src="/assets/images/military-navy.png">
									<img *ngIf="service.serviceCode == 'F'" src="/assets/images/military-airforce.png">
									<img *ngIf="service.serviceCode == 'S'" src="/assets/images/military-spaceforce.png">
									<img *ngIf="service.serviceCode == 'C'"
										src="/assets/images/military-coastguard.png">
								</div>
							</div>
							<div class="medium-10 column">
								<div class="military-text-modal">
								<p>
									<a target="_blank" (click)="openNewTab(service.link)">Click here</a> to go directly to the
									{{service.serviceCode == 'A' || service.serviceCode == 'G' ? 'Army' : service.serviceCode == 'N' ? 'Navy' :
									service.serviceCode == 'F' ? 'Air Force' : service.serviceCode == 'M' ? 'Marine' :
									service.serviceCode == 'C' ? 'Coast Guard' : ''}} test Virtual Recruiter.<br> Or submit an
									email directly to the {{service.serviceCode == 'A' || service.serviceCode == 'G' ? 'Army' : service.serviceCode == 'N' ?
									'Navy' : service.serviceCode == 'F' ? 'Air Force' : service.serviceCode == 'M' ? 'Marine' :
									service.serviceCode == 'C' ? 'Coast Guard' : ''}}, below.
								</p>
							</div>
							</div>
						</div>
						<div class="row pt20">
							<div class="medium-12 column">
								<form [formGroup]="serviceFormGroup" class="contact-form" (ngSubmit)="emailUs()"
									ngNativeValidate>
									<div class="form-group">
										<label>I am a</label> <select [(ngModel)]="userType" name="userType"
											[disabled]="formDisabled" required [ngModelOptions]="{standalone: true}">
											<option *ngFor="let u of userTypeOptions" [ngValue]="u.value">{{u.name}}
											</option>

										</select>
									</div>
									<div class="form-group clearfix">
										<div class="form-column">
											<label>First Name</label> <input type="text" name="firstName"
												[(ngModel)]="firstName" required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
										<div class="form-column">
											<label>Last Name</label> <input type="text" name="lastName"
												[(ngModel)]="lastName" required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
									</div>
									<div class="form-group clearfix">
										<div class="form-column">
											<label>Email</label> <input type="email" [(ngModel)]="email" name="email"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
										<div class="form-column zip-code">
											<label>Zip Code</label> <input type="text" [(ngModel)]="zip" name="zip"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
									</div>
									<div class="form-group clearfix">
										<div class="form-column city">
											<label>City</label> <input type="text" [(ngModel)]="city" name="city"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
										<div class="form-column state">
											<label>State</label> <input type="text" [(ngModel)]="state" name="state"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
									</div>
									<div class="form-group clearfix">
										<div class="form-column city">
											<!-- <label>DOB</label> <input type="text" [(ngModel)]="dob" name="dob"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> -->
												<label>DOB</label><input matInput name="dob" style="border: solid 1px rgb(202,202,202)"
													[(ngModel)]="dob" type="month" placeholder="mm/yyyy" id="dob" 
													required
													[disabled]="formDisabled"
													[ngModelOptions]="{standalone: true}">
										</div>
										<div class="form-column state">
											<label>Last Grade Completed</label> <input type="number" min="0" [(ngModel)]="lastGradeCompleted" name="lastGradeCompleted"
												required [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}">
										</div>
									</div>
									<div class="form-group radio-group clearfix pb20">
										<strong class="titlei">I am interested in:</strong>
										<div class="form-column" style="width: auto; margin-right: 15px;">
											<input id="enlisted" type="radio" required name="contactType"
												[(ngModel)]="contactType" [value]="1" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Enlisted</label>
										</div>
										<div class="form-column" style="width: auto; margin-right: 15px;">
											<input id="officer" type="radio" required name="contactType"
												[(ngModel)]="contactType" [value]="2" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>
												Officer</label>
										</div>
										<div class="form-column" style="width: auto; margin-right: 15px;">
											<input id="both" type="radio" required name="contactType"
												[(ngModel)]="contactType" [value]="3" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Both</label>
										</div>
									</div>
									<div class="form-group radio-group clearfix pb20">
										<strong class="titlei">I participated in the ASVAB
											CEP:</strong>
										<div class="form-column" style="width: auto; margin-right: 15px;">
											<input type="radio" required name="asvabParticipant"
												[(ngModel)]="asvabParticipant" [value]="true" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>Yes</label>
										</div>
										<div class="form-column" style="width: auto; margin-right: 15px;">
											<input type="radio" required name="asvabParticipant"
												[(ngModel)]="asvabParticipant" [value]="false" [disabled]="formDisabled"
												[ngModelOptions]="{standalone: true}"> <label>No</label>
										</div>
									</div>
									<div class="form-group">
										<label>Message</label>
										<textarea [(ngModel)]="message" name="message" required
											[disabled]="formDisabled" [ngModelOptions]="{standalone: true}"></textarea>
									</div>
									<div class="form-group captcha-sec">
										<div class="recaptcha">
											<ngx-recaptcha2 class="recaptcha-part" [siteKey]="recaptchaKey" [useGlobalDomain]="false"
												formControlName="recaptcha">
											</ngx-recaptcha2>
											<!-- <ngx-invisible-recaptcha class="recaptcha-part" [siteKey]="recaptchaKey" [useGlobalDomain]="false"
												formControlName="recaptcha">
											</ngx-recaptcha2> -->
										</div>
										<p *ngIf="validation !=undefined " style="position: absolute; color: #cc0000">
											{{validation}}</p>
										<button ng-disabled="formDisabled" class="btn btn-submit"
											type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>