<div id="password-reset">
  <header>
    <div class="title-bar" style="background-color: #e8e8e8;">
      <div class="title-bar-title">
        <a href=""><img src="assets/images/logo.png" alt="ASVAB logo"></a>
      </div>
    </div>
  </header>
  <section id="content-wrap">
    <div class="modal-body center">
      <h3 style="font-weight: 100; color: #ffffff">UPDATE YOUR ACCOUNT</h3>
      Please update your password for your Careers in the Military
      account.

      <form (ngSubmit)="ResetPassword()">
        <table class="center">
          <tr>
            <td style="border: none; background-color: #ffffff">
              <div class="col-sm-10">
                <label>
                  <font color="red">{{registrationLabel}}
                    &nbsp;</font>
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td style="border: none; background-color: #ffffff">
              <div class="form-group">
                <input type="email" class="form-control" id="registerEmail" placeholder="Email"
                  [(ngModel)]="restCredentials.username" (change)="clearRegistrationLabel()"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </td>
          </tr>
          <tr>
            <td style="border: none; background-color: #ffffff">
              <div class="form-group">
                <input type="password" class="form-control" id="Password1" placeholder="Password"
                  [(ngModel)]="restCredentials.Password1" (change)="clearRegistrationLabel()"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </td>
          </tr>
          <tr>
            <td style="border: none; background-color: #ffffff">
              <div class="form-group">
                <input type="password" class="form-control" id="Password2" placeholder="Retype Password"
                  [(ngModel)]="restCredentials.Password2" (change)="clearRegistrationLabel()"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </td>
          </tr>
          <tr>
            <td style="border: none; background-color: #ffffff">
              <button class="btn button">Reset
                Password</button>
            </td>
          </tr>

        </table>
      </form>
    </div>

  </section>
  <footer id="footer" style="background-color: #e8e8e8;">
    <div class="row">
      <div class="medium-7 columns">
        <div class="row">
          <div class="medium-5 large-offset-2 columns text-center">
            <img src="assets/images/logo.png" alt="ASVAB logo">
          </div>
          <div class="medium-5 columns text-right">
            <p class="sponsor" style="color: #9ea9a9">Careers In the Military is sponsored
              by the Department of Defense</p>
          </div>
        </div>
      </div>
      <div class="medium-7 columns">
        <ul id="footer-menu" class="menu right-align no-margin-right">
          <li><a style="color: #9ea9a9" href="">Home</a></li>
          <li><a style="color: #9ea9a9" href="">Help</a></li>
          <li><a style="color: #9ea9a9" href="">Link to Us</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>