table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

header {
  .title-bar {
    background-color: #3c3f44;
  }
  margin-bottom: 100px;
  text-align: right;
}

section {
  margin: auto;
  width: 98%;
}

footer {
  background: #4c4c4c;
  padding: 60px;
  color: #ffffff;

  .sponsor,
  li a {
    font-size: .8em;
    color: #ffffff;
  }
}