/* modal Structure CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
	margin: 0;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.text-center {
	text-align: center;
}
.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.modal-options {
    color: #3d4243;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 34px;
}
.video-modal-inner {
	padding-top: 20px;
	position: relative;
}
.video-modal-inner .modal-close {
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    line-height: 1;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
	
	span {
		color: white;
		font-size: 30px;
		line-height: .5;
		font-weight: bold;
		cursor: pointer;
		opacity: 1;
	}
}

/* Modal Title */
button {
	-moz-appearance: none;
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	cursor: auto;
	line-height: 1;
	padding: 0;
}

.custom-modal-backdrop {
	opacity: 0.8;
}

/* Media Css */
@media screen and (min-width: 768px){
	.custom-modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
}

@media screen and (max-width: 639px) {
.video-modal-inner iframe {
	max-height: 250px;
	max-width: 100%;
}
.video-modal-inner .modal-close {
	top: -7px;
}
}

.mat-dialog-content {
    overflow: hidden;
    }