<div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
  <div class="row">
    <div class="small-12 medium-4 large-4 column">
      <p class="bodysize"><b>To officially join the Military, a recruiter will schedule your visit to a MEPS (Military
          Entrance Processing Station). MEPS determines an applicant's physical qualifications, aptitude, and moral
          standards as set by each branch of military service. The process may take up to three days, and food and
          lodging are usually provided.</b></p>
    </div>
    <div class="small-12 medium-8 large-8 column">


      <iframe width="100%" height="315" src="https://www.youtube.com/embed/QBLNEhF6bS8?rel=0" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 column">
      <p>These are some general rules to apply to your MEPS visit:</p>
      <ol mat-list>
        <li>Discuss any childhood medical problems with your parents and bring documentation with you.</li>
        <li>Bring your Social Security card, birth certificate and driver's license.</li>
        <li>Remove earrings (they obstruct the headset used for the hearing test).</li>
        <li>Profanity and offensive wording or pictures on clothing are not tolerated.</li>
        <li>Hats are not permitted inside the MEPS.</li>
        <li>If you wear either eyeglasses or contacts, bring them along with your prescription and lens case.</li>
        <li>Bathe or shower the night before your examination.</li>
        <li>Wear neat, moderate, comfortable clothing - don't forget underclothes.</li>
        <li>Don't bring stereo headphones, watches, jewelry, excessive cash or any other valuables.</li>
        <li>Get a good night's sleep. Processing starts early at the MEPS -- you must report on time.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <mat-accordion>
        <mat-expansion-panel #panel1>
          <mat-expansion-panel-header>
            <mat-panel-title>STEP 1: TAKE THE ASVAB</mat-panel-title>
          </mat-expansion-panel-header>
          <p>ASVAB stands for Armed Services Vocational Aptitude Battery. It is a multiple-choice aptitude test
            that estimates your performance in academic and vocational endeavors. It consists of 10 subtests that
            test your knowledge of standard school subjects like math, English, and science, and other subjects
            like electronics and mechanical comprehension.</p>

          <p>You'll receive an AFQT (Military Entrance Score). The AFQT score is what the Military will use to
            determine enlistment eligibility. You'll also receive a score for each of the individual subtests. Each
            Service uses a custom combination of ASVAB subtest to produce a composite score you'll need to achieve
            in order to qualify for different careers. These score requirements are subject to change without
            notice. Learn more about Service composites,
            <li *ngIf="isLoggedIn();then loggedin else loggedout"></li>
             <a (click)="loginRedirect('composite-scores')"> here</a>

            <p>If you participated in the ASVAB CEP at your high school, you're ahead of the competition. Knowing
              your AFQT and composite scores puts the power in your hands. You can explore careers and services to
              determine which the best fit is for you before you talk to a recruiter. Be sure to tell your recruiter
              about your participation to see if your results are still valid.</p>
            <ul mat-list>
              <li>Learn more about <a href="https://www.asvabprogram.com" target="_blank">ASVAB CEP</a></li>
              <li>Learn more about <a href="http://www.officialasvab.com" target="_blank">ASVAB</a></li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel #panel2>
          <mat-expansion-panel-header>
            <mat-panel-title>STEP 2: GET PHYSICAL</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p>Each Service has different physical fitness requirements. Use these guidelines to prepare for the <a
               (click)="redirect('options-boot-camp-services')">physical fitness test (PFT).</a> </p>

            <span>The physical is a regular medical exam, similar to what you would receive at a primary care
              doctor. Examinations include:</span>
            <ul mat-list class="list">
              <li>Height and weight measurements</li>
              <li>Hearing and vision examinations</li>
              <li>Urine and blood tests</li>
              <li>Drug and alcohol tests</li>
              <li>Muscle group and joint maneuvers</li>
              <li>Specialized test if required (pregnancy test for women, body fat percentage test for those who
                are overweight, tests relating to any unusual medical history)</li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel #panel3>
          <mat-expansion-panel-header>
            <mat-panel-title>STEP 3: DETERMINE A CAREER and SIGN ENLISTMENT CONTRACT</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p>You will work with a service liaison counselor who will tell you about job
              opportunities and the enlistment agreement.</p>
            <p>Based on the criteria below, you will choose from the billets (job openings)
              available on the day you enlist:</p>
            <ul mat-list class="list">
              <li>Needs of the Service</li>
              <li>Job availability</li>
              <li>ASVAB score</li>
              <li>Physical requirements (for example, a recruit needs normal color vision for some
                careers)</li>
              <li>Recruit preference</li>
            </ul>
            <br>
            <p>Then, you will review the enlistment agreement which is the terms of your enlistment,
              duty obligations, and the particular job you will hold. Be sure anything you were promised,
              like enlistment bonus or any special military schools or training, is laid out in writing
              in the enlistment contract before signing. When in doubt, ASK!</p>
            <p>You will then be fingerprinted for use in background checks and security clearances.</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel #panel4>
          <mat-expansion-panel-header>
            <mat-panel-title>STEP 4: TAKE THE OATH OF ENLISTMENT</mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <p>Once you determine a career, you'll take the Oath of Enlistment. In this
              statement, you vow to defend the U.S. Constitution and obey the Uniform Code of Military
              Justice (UCMJ). Family members are invited to attend and take photos.</p>
            <p>
              <i>I, (name), do solemnly swear (or affirm) that I will support and defend the
                Constitution of the United States against all enemies, foreign and domestic; that I will
                bear true faith and allegiance to the same; and that I will obey the orders of the
                President of the United States and the orders of the officers appointed over me, according
                to regulations and the Uniform Code of Military Justice. So help me God.</i>
            </p>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #panel5>
          <mat-expansion-panel-header>
            <mat-panel-title>STEP 5: DECIDE WHEN TO GO</mat-panel-title>
          </mat-expansion-panel-header>

          <div>
            <p>Depending on the terms of enlistment, you'll have the option to:</p>
            <ul mat-list class="list">
              <li>Direct Ship - report to Basic Training soon. (It varies based on job assignment
                and branch.) A recruiter will provide instructions on transportation to Basic Training at
                this time.</li>
              <li>Delayed Entry Program (DEP) - commit to Basic Training, generally within one year,
                return home until the time comes to report for duty.</li>
            </ul>
            <br>
            <p>A recruiter is the best resource to answer any questions you have about the
              enlistment process.</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="row">
    <section class="small-12 contact-bar">
      <a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
    </section>
  </div>
</div>