<mat-dialog-content>
	<div class="table-contents border table2">
		<table>
			<tbody>
				<tr>
					<td><b>Males</b></td>
					<td><b>Run (1.5 mile)</b></td>
					<td><b>Push-ups</b></td>
					<td><b>Sit-ups</b></td>
					<td><b>Ab circumference</b></td>
				</tr>
				<tr>
					<td>Minumum graduation standard (under 30)</td>
					<td>11:57 min.</td>
					<td>33</td>
					<td>42</td>
					<td>35"</td>
				</tr>
				<tr>
					<td>Minumum graduation standard (30-39)</td>
					<td>11:57 min.</td>
					<td>27</td>
					<td>39</td>
					<td>35"</td>
				</tr>
				<tr>
					<td><b>Females</b></td>
					<td><b>Run (1.5 mile)</b></td>
					<td><b>Push-ups</b></td>
					<td><b>Sit-ups</b></td>
					<td><b>Ab circumference</b></td>
				</tr>
				<tr>
					<td>Minumum graduation standard (under 30)</td>
					<td>14:26 min.</td>
					<td>18</td>
					<td>38</td>
					<td>31.5"</td>
				</tr>
				<tr>
					<td>Minumum graduation standard (30-39)</td>
					<td>14:26 min.</td>
					<td>14</td>
					<td>29</td>
					<td>31.5"</td>
				</tr>
			</tbody>
		</table>
	</div>
</mat-dialog-content>