<div class="small-12 medium-9 large-9 right-part column full-black-text becoming-and-officer">
	<div class="row">
		<div class="small-12 medium-6 large-6 column">
			<p class="bodysize"><b>There are different ways to become an officer.</b></p>
			<p>Officers either enter the Military after they've completed a four-year college degree, or they receive
				officer
				training through enlisted service. Officers are managers or specialized in fields that require
				professional
				degrees (e.g., doctors, lawyers, and chaplains). </p>
		</div>
		<div class="small-12 medium-6 large-6 column" (click)="openPlayer('DTeVrJfqNG0')">
			<img class="officer-video video-modal3" src="assets/images/officer-video1.jpg"><br><br>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-12 large-12 column">

			<mat-accordion>
				<mat-expansion-panel #panel1>
					<mat-expansion-panel-header>
						<mat-panel-title>SERVICE ACADEMIES, MILITARY COLLEGES, AND MARITIME COLLEGES</mat-panel-title>
					</mat-expansion-panel-header>
					<ul mat-list>
						<li>Highly competitive </li>
						<li>Virtually free (if accepted) </li>
						<li>Serve as an officer after graduation, usually five years</li>
					</ul>
					<div class="row">
						<div class="small-12 medium-6 large-6 column">
							<b>Service Academies </b>
							<p>The five Service academies offer an outstanding education and full four-year
								scholarships. Tuition, books,
								board and medical and dental care are all fully paid for all four years. Admission is
								extremely competitive.</p>
							<span>Admissions criteria are similar to elite colleges:</span>
							<ul mat-list>
								<li>High school academic performance</li>
								<li>Standardized test scores (SAT or ACT)</li>
								<li>Athletics and extracurricular activities</li>
								<li>Leadership experience and community involvement</li>
								<li>A congressional letter of recommendation (except Coast Guard Academy)</li>
							</ul>
						</div>
						<div class="small-12 medium-6 large-6 column" (click)="openPlayer('hdYiAjG6TDw')">
							<img class="officer-video video-modal4" src="assets/images/officer-video2.jpg">
						</div>
					</div>
					<p>Graduates receive a Bachelor of Science degree and are commissioned as officers in their
						respective Service
						branch. There is a service obligation of a minimum of five years.</p>
					<div class="service-lists">
						<span>Service Academies:</span>
						<ul mat-list class="row">
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info">Army <br><a href="http://www.usma.edu/"
										target="_blank">U.S. Military
										Academy</a><br>845-938-4041</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info">Air Force <br><a
										href="http://www.academyadmissions.com/" target="_blank">U.S.
										Air Force Academy</a><br>800-443-9266</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info">Merchant Marine <br><a href="http://www.usmma.edu/"
										target="_blank">U.S.
										Merchant Marine Academy</a><br>516-726-5800</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info">Navy & Marine Corps <br><a href="http://www.usna.edu/"
										target="_blank">U.S.
										Naval Academy</a><br>410-293-1858</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info">Coast Guard <br><a href="http://www.uscga.edu/"
										target="_blank">U.S. Coast
										Guard Academy</a><br>800-883-8724</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"></div>
							</li>
						</ul>
					</div>

					<!--  -->
					<div class="row">
						<div class="small-12 medium-12 large-12 column">
							<b>Senior Military Colleges </b>
							<p>Senior Military Colleges (SMCs) combine higher education with military instruction. SMCs
								are among the
								most prestigious education institutions in the world. Every cadet must participate in
								the Reserve Officer
								Training Corps (ROTC) program, but only those cadets who receive an ROTC scholarship are
								obligated to a
								service commitment following graduation. (Read more about ROTC in the next section.)</p>
						</div>
					</div>
					<div class="service-lists">
						<span>Senior Military Colleges </span>
						<ul mat-list class="row">
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="https://corps.tamu.edu/" target="_blank">Texas
										A&M Corps of
										Cadets</a><br>1-800-TAMU-AGS (800-826-8247)</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.norwich.edu/"
										target="_blank">Norwich University</a><br>802-485-2000</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.vmi.edu/" target="_blank">The
										Virginia Military
										Institute</a><br>540-464-7230</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.citadel.edu/" target="_blank">The
										Citadel</a><br>843-225-3294</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.vtcc.vt.edu/"
										target="_blank">Virginia Tech Corps of
										Cadets</a><br>540-231-6000</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a
										href="http://ung.edu/military-college-admissions/index.php"
										target="_blank">University
										of North Georgia</a><br>888-413-9366</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.marybaldwin.edu/vwil/"
										target="_blank">Mary Baldwin
										Women's Institute for Leadership</a><br>540-887-7042</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
							</li>
							<li class="small-12 medium-6 large-4 column">
							</li>
						</ul>
					</div>

					<!--  -->
					<div class="row">
						<div class="small-12 medium-12 large-12 column">
							<b>Maritime Academies </b>
							<p>The United States Merchant Marine is the fleet of civilian-owned merchant ships that
								transport service
								members and supplies for the Military.</p>
							<p>Maritime Academies produce shipboard officers for these vessels, but a service commitment
								is not always
								required.</p>
						</div>
					</div>
					<div class="service-lists">
						<span>Maritime Academies </span>
						<ul mat-list class="row">
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.maritime.edu/"
										target="_blank">Massachusetts Maritime
										Academy</a><br>508-830-5000</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.nmc.edu/maritime"
										target="_blank">Great Lakes Maritime
										Academy</a><br>877-824-7447</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.mainemaritime.edu/"
										target="_blank">Maine Maritime
										Academy</a><br>800-464-6565</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.csum.edu/"
										target="_blank">California State University
										Maritime Academy</a><br>707-654-1000</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.sunymaritime.edu/"
										target="_blank">State University of
										New York Maritime College</a><br>718-409-7200</div>
							</li>
							<li class="small-12 medium-6 large-4 column">
								<div class="service-lists-info"><a href="http://www.tamug.edu/corps/"
										target="_blank">Texas Maritime Academy</a><br>409-740-4706</div>
							</li>
						</ul>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel #panel2 id="rotc"  [expanded]="step === 'panel2'">
					<mat-expansion-panel-header>
						<mat-panel-title>ROTC</mat-panel-title>
					</mat-expansion-panel-header>
					<div>

						<p>Reserve Officer Training Corps (ROTC) programs provide officer training for students
							during college in exchange for scholarship money. In return, the students commit to serving
							for a set period of time after graduation. ROTC programs are offered at schools in every
							state and allow the student to have college experience while preparing to be an officer.</p>
						<p>College classes are mixed with service-specific ROTC curriculum (in the classroom
							and in the field), which covers everything from leadership studies to combat technique.
							Upon completion, you enter your chosen service as an officer.</p>
						<p>
							<b>ARMY ROTC</b> Army ROTC teaches leadership development, military skills and career
							training. Additional summer programs, such as Jump School, may also be attended.
						</p>
						<p>
							<a href="https://www.goarmy.com/rotc.html" target="_blank">Learn
								more about Army ROTC</a>
						</p>

						<p>
							<b>NAVY AND MARINE CORPS ROTC</b><br> Navy ROTC offers a mixture of military training
							and normal academic study. Upon completion, NROTC graduates have the ability to choose an
							officer career in surface warfare, naval aviation, submarine or special warfare.
						</p>
						<p>Aspiring Marine Corps officers also participate in Navy ROTC. The ROTC academic
							curriculum for a Marine Corps-option student requires classes in national security policy
							and the history of American military affairs, in addition to the regular academic
							requirements for the student's degree.</p>
						<p>
							Learn more about <a href="https://www.navy.com/joining/college-options/nrotc.html"
								target="_blank">Navy-option
								ROTC</a>
						</p>
						<p>
							Learn more about <a href="https://www.marines.com/becoming-a-marine/officer.html"
								target="_blank">Marine-option
								ROTC</a>
						</p>

						<p>
							<b>AIR FORCE ROTC</b><br> Air Force ROTC offers a four-year program and a three-year
							program, both based on Air Force requirements and led by active-duty Air Force officers.
							Upon completion, a student enters the Air Force as an officer.
						</p>
						<p>
							Learn more about <a href="https://www.afrotc.com" target="_blank">Air Force ROTC</a>
						</p>
						<p>
							<b>COAST GUARD SPLIT TRAINING</b><br> The Coast Guard does not have an ROTC program.
							However, high school seniors, college and vocational students between the ages of 17 and 31
							can enroll in Coast Guard Split Training. Enlistees train for two summers and serve one
							weekend a month during the school year. Schooling continues uninterrupted. You receive pay
							for weekend service and, after training is complete, begin Reserve duty.
						</p>

					</div>
				</mat-expansion-panel>

				<mat-expansion-panel #panel3>
					<mat-expansion-panel-header>
						<mat-panel-title>OFFICER CANDIDATE SCHOOL</mat-panel-title>
					</mat-expansion-panel-header>

					<p>After completing a four-year degree, graduates may enroll in Officer Candidate School
						(OCS), or Officer Training School (OTS) in the Air Force. Courses focus on military subjects,
						physical training, and leadership skills.</p>
					<span>There are three types of people who attend OCS/OTS:</span>
					<ul mat-list>
						<li>Graduates from a traditional four-year college or university</li>
						<li>Enlisted service members transitioning from enlisted into officer roles</li>
						<li>Direct Commission Officers (DCOs), those with specialized skills or professional
							degrees</li>

					</ul>


					<section class="table officer-school-table hide-for-small-only ">
						<div class="list-view">
							<table>
								<tbody>
									<tr>
										<td></td>
										<td><strong>Army</strong></td>
										<td><strong>Marine Corps</strong></td>
										<td><strong>Navy</strong></td>
										<td><strong>Air Force</strong></td>
										<td><strong>Coast Guard</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>12 weeks</td>
										<td>10 weeks</td>
										<td>12 weeks</td>
										<td>9 weeks</td>
										<td>17 weeks</td>
									</tr>
									<tr>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Second <br>Lieutenant</td>
										<td>Second <br>Lieutenant</td>
										<td>Ensign</td>
										<td>Second <br>Lieutenant</td>
										<td>Ensign</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Fort Benning <br>Columbus, GA</td>
										<td>Marine Corps <br>Base Quantico <br>Quantico, Va.</td>
										<td>Naval Station <br>Newport <br>Newport, R.I.</td>
										<td>Maxwell-Gunter <br>Air Force Base <br>Montgomery, Ala.</td>
										<td>Coast Guard <br>Academy <br>New London, Conn.</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="https://www.benning.army.mil/MCoE/199th/OCS/" target="_blank">Army
												OCS</a></td>
										<td><a href="https://www.marines.com/becoming-a-marine/officer/training.html"
												target="_blank">Marine
												Corps <br>OCS
											</a></td>
										<td><a href="http://www.ocs.navy.mil" target="_blank">Navy <br>OCS
											</a></td>
										<td><a href="https://www.airforceots.com" target="_blank">Air Force OCS</a></td>
										<td><a href="http://www.uscga.edu" target="_blank">Coast Guard OCS</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>

					<section class="table officer-school-mobile-table show-for-small-only">
						<div class="list-view">
							<table>
								<tbody>
									<tr>
										<td colspan="2"><strong>Army</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>12 weeks</td>
									</tr>
									<tr>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Second <br>Lieutenant</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Fort Benning Columbus, GA</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="http://www.benning.army.mil/infantry/199th/ocs/"
												target="_blank">Army OCS</a></td>
									</tr>
								</tbody>
							</table>
							<hr>
							<table>
								<tbody>
									<tr>
										<td colspan="2"><strong>Marine Corps</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>10 weeks</td>
									</tr>
									<tr>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Second <br>Lieutenant</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Marine Corps Base Quantico Quantico, Va.</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="https://www.marines.com/becoming-a-marine/officer/training.html"
												target="_blank">Marine Corps
												OCS</a>
										</td>
									</tr>
								</tbody>
							</table>
							<hr>
							<table>
								<tbody>
									<tr>
										<td colspan="2"><strong>Navy</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>12 weeks</td>
									</tr>
									<tr>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Ensign</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Naval Station Newport Newport, R.I.</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="http://www.ocs.navy.mil" target="_blank">Navy OCS</a></td>
									</tr>
								</tbody>
							</table>
							<hr>
							<table>
								<tbody>
									<tr>
										<td colspan="2"><strong>Air Force</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>9 weeks</td>
									</tr>
									<tr>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Second <br>Lieutenant</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Maxwell-Gunter Air Force Base Montgomery, Ala.</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="https://www.airforceots.com" target="_blank">Air Force OCS</a></td>
									</tr>
								</tbody>
							</table>
							<hr>
							<table>
								<tbody>
									<tr>
										<td colspan="2"><strong>Coast Guard</strong></td>
									</tr>
									<tr>
										<td><strong>Duration</strong></td>
										<td>17 weeks</td>
									</tr>
									<tr mat-rpw>
										<td><strong>Rank Upon <br>Graduation</strong></td>
										<td>Ensign</td>
									</tr>
									<tr>
										<td><strong>Location</strong></td>
										<td>Coast Guard Academy New London, Conn.</td>
									</tr>
									<tr>
										<td><strong>More Info</strong></td>
										<td><a href="http://www.uscga.edu" target="_blank">Coast Guard OCS</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>

				</mat-expansion-panel>

				<mat-expansion-panel #panel4>
					<mat-expansion-panel-header>
						<mat-panel-title>DIRECT COMMISSION</mat-panel-title>
					</mat-expansion-panel-header>

					<div>
						<p>Direct Commission Officers (DCOs) are individuals who have earned professional degrees
							in fields such as medicine, law, religious studies, engineering, or intelligence. Groups
							such
							as the Judge Advocate General's (JAG) Corps, Chaplain Corps and Medical Corps frequently
							employ DCOs. Regular age limits and requirements may be waived for some of these positions.
							A <a (click)="redirect('options-contact-recruiter')">recruiter</a> is the best resource for
							real-time information about
							direct commission.</p>
					</div>

				</mat-expansion-panel>

				<mat-expansion-panel #panel5>
					<mat-expansion-panel-header>
						<mat-panel-title>TRANSITIONING FROM ENLISTED TO OFFICER</mat-panel-title>
					</mat-expansion-panel-header>

					<div>
						<p>Enlisted service members can make the transition into officer roles. Enlisted service
							members with the right qualifications may be recommended by their commanding officers for
							OCS/OTS or ROTC (if they plan to go back to school).</p>
						<p>In addition, enlisted service members can earn an officer title. Warrant officers are
							promoted from the enlisted ranks for technical expertise and rank between the highest
							enlisted and lowest commissioned officers. Non-commissioned officers (NCOs) are high-ranking
							enlisted service members who have been given officer-like authority by their superiors.</p>
					</div>

				</mat-expansion-panel>
			</mat-accordion>

		</div>

	</div>
	<section class="small-12 contact-bar">
			<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>