<div class="section" id="main">
    <div id="boot-camp">
        <div class="row column">
            <h3>Parents</h3>
            <p>So, your child is interested in a military career. Your level of familiarity with the Military likely dictates your reaction, but it's safe to say you're experiencing a mix of pride and concern.</p>
            <p>This is an important decision, and it is important to get it right.</p>
            <p>The best thing you can do is to help your child gather information and weigh the pros and cons to make sure that whatever path is chosen, it's the right one for him or her.</p>
        </div>
        <div class="row all-data">
            <div class="medium-12 column content-text">
                <div class="row">
                    <div class="small-12 medium-12 large-12 column">
                        <!-- <h6 class="title6">Header</h6> -->
                        <mat-accordion id="parents" class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text" #firstAccordion="matAccordion">
                            <mat-expansion-panel #panel1>
                                <mat-expansion-panel-header>WHY THE MILITARY? </mat-expansion-panel-header>
                                <div class="ac-text-wrap">
                                    <p>The United States Military is part of the Department of Defense, the largest employer in the world. There are opportunities to work full-time or part-time, get a degree or participate in hobbies, travel the world or sit at desk. Each branch of the Military has a unique mission. Here they are in a nutshell:</p>
                                    <a target="_blank" href="http://todaysmilitary.com/joining/army"><strong>Army</strong></a>
                                    <p>As the oldest branch of the U.S. Military, founded in 1775, the Army defends the nation by land, sea and air.</p>
                                    <p>The Army offers over 990,000 members 150 career opportunities across various disciplines, including aviation, information technology, health care, aircraft maintenance and Special Forces.</p>
                                    <p><strong>Core values</strong>: Loyalty, Duty, Respect, Selfless Service, Honor, Integrity, and Personal Courage</p>
                                    <a target="_blank" href="http://todaysmilitary.com/joining/marine-corps"><strong>Marine Corps</strong></a>
                                    <p>Also founded in 1775, the United States Marine Corps is known as the nation's rapid response force. The Marine Corps is typically first on the ground whenever and wherever they're needed.</p>
                                    <p>A Marine is, above all else, a Marine. There are approximately 180,000 Marines skilled in the art of warfare. Marines are the first boots on the ground in most conflicts.</p>
                                    <p> <strong>Core values</strong>: Honor, courage and commitment</p>
                                    <a target="_blank" href="http://todaysmilitary.com/joining/navy"><strong>Navy</strong></a>
                                    <p>The U.S. Navy makes the seas safe for travel and trade. George Washington founded the Navy in 1775, but it was too expensive to maintain. Then, in 1794, pirate attacks and increasing international conflicts cemented the Navy as a military branch.</p>
                                    <p>Today's Navy is made up of approximately 320,000 personnel equipped to handle operations both on and under the sea, in the air and on the ground.</p>
                                    <p>The Navy offers career in over 60 different fields for Sailors, scientists, artists, and aviators to name a few. Elite groups within the Navy, such as the SEALs and Navy Divers, specialize in advanced warfare situations.</p>
                                    <p><strong>Core values</strong>: Honor, courage and commitment</p>
                                    <a target="_blank" href="http://todaysmilitary.com/joining/air-force"><strong>Air Force</strong></a>
                                    <p>The Air Force was born as a subdivision of the U.S. Army in 1920. In 1947, following World War II, the Air Force was recognized as its own military branch.</p>
                                    <p>The primary mission of more than 300,000 troops in today's Air Force is focused on air, space and cyberspace superiority.</p>
                                    <p>The Air Force offers 200 careers. Pilots and flight crew, mechanics, electronics technicians, air traffic controllers, medical staff and other personnel all fulfill Air Force objectives.</p>
                                    <p><strong>Core Values</strong>: Integrity first, Service before self, Excellence in all we do</p>
                                    <a target="_blank" href="http://todaysmilitary.com/joining/coast-guard"><strong>Coast Guard</strong></a>
                                    <p>In 1915, a congressional act combined five separate federal services to form the Coast Guard.</p>
                                    <p>The Coast Guard operates under the Department of Homeland Security during peacetime and under the Navy during wartime, or by special presidential order. In addition to protecting our nation's waterways, approximately 40,000 active-duty members of the Coast Guard perform search and rescue, law enforcement, and environmental cleanup operations.</p>
                                    <p><strong>Core values</strong>: Honor, Respect &amp; Devotion to Duty</p>
                                </div>                                    
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel2>
                                <mat-expansion-panel-header>WHAT ARE THE REQUIREMENTS TO JOIN?  </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>There are a few requirements to join (or enlist) in the Military. Your child must:</p>
                                        <ol mat-list>
                                            <li>Be 18 (17 with parental consent). The maximum age to join most services is 35 however the Air Force allows up to 39 years of age and the Navy only 34.</li>
                                            <li>Be a U.S. citizen or resident alien.</li>
                                            <li>Have a high school diploma (preferred), but a high school equivalent such as the GED may be accepted.</li>
                                            <li>Take the ASVAB test to determine job placement. Each job and each Service requires a different score. The best source of this information is a recruiter.</li>
                                            <li>Pass a physical fitness exam. Some jobs may have additional requirements.</li>
                                        </ol>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel3>
                                <mat-expansion-panel-header>WHAT JOB OPPORTUNITIES ARE AVAILABLE FOR MY CHILD? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>There are literally thousands of jobs available in the Military, each with its own unique entry requirements. Select either the Guided Exploration or Advanced Search tab at the top of your screen to explore.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel4>
                                <mat-expansion-panel-header>I WANT MY CHILD TO GO TO COLLEGE. CAN S/HE DO BOTH? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>There are literally thousands of jobs available in the Military, each with its own unique entry requirements. Select either the Guided Exploration or Advanced Search tab at the top of your screen to explore.</p>
                                        <p>The short answer is yes, but there are different types of military service. The best resource for information about any of these options is a recruiter.</p>
                                        <ul mat-list>
                                            <li>Your child may opt to earn a college degree first, then join as an officer. This is an attractive option for those who feel called to lead. However, if s/he earned a degree, s/he can still choose to join as an enlisted service member. The enlisted vs officer page has more details.</li>
                                            <li>Reserve Officer Training Corps (ROTC) programs provide officer training for students during college in exchange for scholarship money. In return, the students commit to serving for a set period of time after graduation. ROTC programs are offered at schools in every state and allow the student to have college experience while preparing to be an officer. College classes are mixed with service-specific ROTC curriculum (in the classroom and in the field), which covers everything from leadership studies to combat technique. Upon completion, your child would enter his/her chosen service as an officer.</li>
                                            <li>The National Guard is another option for those who wish to attend college and serve.</li>
                                            <li>Enlisted service members can also earn a degree while serving.</li>
                                        </ul>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel5>
                                <mat-expansion-panel-header>WHAT'S THE DIFFERENCE BETWEEN ENLISTED AND OFFICER? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p><strong>Enlisted</strong>: Much like employees at a company, every enlisted service member has a trained specialty, and plays a part in the success of his or her unit. If your child enters the military straight out of High School, they will be enlisted.</p>
                                        <p><strong>Warrant Officers</strong> are specialized experts and trainers. Unlike commissioned Officers, who focus more on command and staff duty positions, Warrant Officers are focused solely on advancing within their chosen career specialties. You cannot enter military service as a Warrant Officer, they are chosen from the high ranks of enlisted personnel.</p>
                                        <p><strong>Commissioned Officers</strong> are managers and planners. They are generally tasked with leading others. One of the best ways for your son or daughter to become an Officer is to join ROTC as a college student.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel6>
                                <mat-expansion-panel-header>CAN MY CHILD SERVE PART-TIME? / WHAT SERVICE OPTIONS ARE AVAILABLE? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>All Service branches offer a choice between two basic types of service: Active Duty and Reserve.</p>
                                        <p><strong>Active Duty</strong>: Active Duty service members make up America's ready, full-time defense force. They receive training to perform their jobs, and carry out day-to-day operations. Generally, Active Duty terms are full-time and range from two to six years.</p>
                                        <p><strong>Reserve</strong>: Service members keep their civilian careers while training part-time. Service commitments range from one to six years, depending on the job and the location. Many professionals and college students serve in the Reserve. In times of need, Reserve service members may be called to Active Duty.
                                        </p>
                                        <p><strong>National Guard</strong>: Another part-time duty option available in the Army and Air Force is the National Guard. The Guard are part-time service members whose main focus is on homeland security and humanitarian relief. National Guard units train close to home and assist communities in their state during emergencies like storms, floods, fires and other natural disasters.</p>
                                        <p><strong>Delayed Entry/Enlistment Program</strong>: (also called the Future Soldiers Program in the Army) If your son or daughter wants to enlist as an Active Duty service member, he or she can enlist first into the Delayed Entry Program (DEP). This is a legally binding agreement to report for active duty (to ship out to boot camp) at a specific time in the future. Under current regulations, one can remain in the DEP for up to 365 days. Your son or daughter may decide on the DEP so he or she can prepare to meet the height and weight standards or graduate from high school. The Reserves and the National Guard do not have a DEP.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel7>
                                <mat-expansion-panel-header>WHAT IF MY CHILD WANTS TO ENTER THE MILITARY AS AN OFFICER? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>If your son or daughter has decided to enter an officer, there are a few options.</p>
                                        <p>ROTC: College students can participate in the Reserve Officer Training Corps (ROTC) program and can go on to become commissioned officers following graduation.</p>
                                        <p>Officer Candidate School (OCS) or Officer Training School (OTS) is essentially the equivalent of Basic Training for enlisted recruits interested in becoming officers. This option requires a college degree and is typically completed after graduation from college.</p>
                                        <p>Military Colleges/Academies: The Military operates institutions to train future Officers. Students pay no tuition or fees, and receive a salary and military benefits while earning a degree. If this sounds too good to be true, it's because acceptance to these institutions is extremely competitive. Acceptance into a Military College or Academy requires the student to sign a contract to serve as an Officer after graduating.</p>
                                        <p>It's important to start exploring military academies early. To be accepted into any service academy (except for the Coast Guard Academy), you must first be nominated to the school by either:</p>
                                        <ul mat-list>
                                            <li>A U.S. Senator</li>
                                            <li>A U.S. Representative</li>
                                            <li>The Vice President of the U.S., who can nominate applicants to any academy except
                                            the Merchant Marine Academy.</li>
                                        </ul>
                                        <p>For more information, contact your Senator, Representative, or the Vice President.</p>
                                        <p>For entry into the Coast Guard Academy, submit an application directly. You don't need to be nominated.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel8>
                                <mat-expansion-panel-header>WHAT CAN WE DO TO PREPARE DURING HIGH SCHOOL? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p><strong>ASVAB Career Exploration Program</strong>: Your son or daughter can participate in ASVAB Career Exploration Program (ASVAB CEP) as early as 10th grade. This program allows students to take the Armed Service Vocational Aptitude Battery (ASVAB) and an interest inventory to guide them in exploring careers and the different paths they can take to reach their career goals. If students participate during their 11th and 12th grade years, the ASVAB score they earn, can be used for enlistment (for up to 2 years) if they choose to enlist. The ASVAB CEP gives students who are interested in the military a huge advantage when comparing the jobs, benefits, and bonuses offered by the Services. Since they already have usable scores, these students can identify the best job opportunity for them among the services.
                                        </p>
                                        <p>Even if your son or daughter isn't interested in the military, they can still benefit from participation in ASVAB CEP. The career exploration tools allow students to understand their skills and interests, then explore civilian and military career options. They're able to understand entry requirements, daily tasks, advancement and earning potential. They also gain access to a customizable portfolio where they can chart their test scores, unique experiences, and preferences then, share with you and their school counselor for guidance on next steps.</p>
                                        <p>If you would like to see more information on this program, please go to <a target="_blank" href="https://www.asvabprogram.com/">www.asvabprogram.com</a></p>
                                        <p>Ask your child's school counselor if ASVAB CEP is offered at your school. If it is not, <a target="_blank" href="https://www.asvabprogram.com/asvab-cep-at-your-school">BRING ASVAB CEP TO YOUR SCHOOL</a>.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel9>
                                <mat-expansion-panel-header>CAN MY CHILD JOIN BEFORE HIGH SCHOOL GRADUATION? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>Traditional high school juniors have a chance to enlist and reserve their place in select military careers. They must be 17 years of age or older to participate, and if they are 17, they must have parental consent. These programs run from April through September of your child's junior year. Participants will be entered into the Delayed Entry Program, but will not attend Basic Training until after receiving a high school diploma. Applicants must meet normal enlistment qualifications. For more details, <a (click)="redirect('options-contact-recruiter')">contact a recruiter</a>.</p>
                                    </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel #panel10>
                                <mat-expansion-panel-header>WHAT KINDS OF QUESTIONS SHOULD I ASK A RECRUITER? </mat-expansion-panel-header>
                                    <div class="ac-text-wrap">
                                        <p>You might not know what is available until you ask. Here is a sample list of questions to ask your son or daughter's recruiter:
                                        </p>
                                        <ul mat-list>
                                            <li>Is there a enlistment bonus available for the job my child wants?</li>
                                            <li>Are there scholarship opportunities available for my child? What are the deadlines?</li>
                                            <li>My child wants a certain job, how can we be sure to get it?</li>
                                            <li>How long is the service commitment?</li>
                                            <li>Are there any upcoming events in our area where we could speak directly to service members?</li>
                                        </ul>
                                        <p>Select from the following to find out more information about these topics:</p>
                                        <ul mat-list>
                                            <li><a (click)="redirect('options-boot-camp-services')">Physical fitness requirements</a></li>
                                            <li><a (click)="redirect('options-pay')">Pay</a></li>
                                            <li><a (click)="redirect('options-benefits')">Benefits</a></li>
                                        </ul>
                                    </div>
                            </mat-expansion-panel>
                        </mat-accordion> 
                        
                        <h4>SUPPORTING YOURSELF &amp; YOUR CHILD</h4>
                        <p class="small">Today's Military offers videos of other <a target="_blank" href="https://www.todaysmilitary.com/parents/stories-military-parents">parents' stories</a> and a list of <a  target="_blank" href="https://www.todaysmilitary.com/parents/support-parents">groups to help support you and your child</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        