<ul mat-list>
	<li>Careersinthemilitary.com is provided as a public service by the U.S. Department of
		Defense, Defense Manpower Data Center.</li>
	<li>Information presented on careersinthemilitary.com is considered public information and may
		be distributed or copied unless otherwise specified. Use of appropriate byline/photo/image credits
		is requested.</li>
	<li>For site management, information is collected for statistical purposes. The host computer
		system uses software programs to create summary statistics, which are used for such purposes as
		assessing what information is of most and least interest, determining technical design
		specifications, and identifying system performance or problem areas.</li>
	<li>For site security purposes and to ensure that this service remains available to all users,
		the host computer system employs software programs to monitor network tra c to identify
		unauthorized attempts to upload or change information, or otherwise cause damage.</li>
	<li>Except for authorized law enforcement investigations, no other attempts are made to
		identify individual users or their usage habits. Raw data logs are used for no other purposes and
		are scheduled for regular destruction in accordance with National Archives and Records
		Administration guidelines.</li>
	<li>Unauthorized attempts to upload information or change information on this service are
		strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1986 and the
		National Information Infrastructure Protection Act.</li>
	<li>If you have any questions or comments about the information presented here, please forward
		them to us at ASVAB@osd.pentagon.mil.</li>
	<li>Cookie Disclaimer - careersinthemilitary.com does not use persistent cookies (persistent
		tokens that pass information back and forth from the client machine to the server).
		Careersinthemilitary.com may use session cookies (tokens that remain active only until you close
		your browser) in order to make the site easier to use. The Department of Defense DOES NOT keep a
		database of information obtained from these cookies.</li>
</ul>