<header>
  <div class="row">
    <div id="logo" class="small-10 medium-3 large-4 columns">
      <img src="assets/images/logo.png"/>
    </div>
    <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
      <ul mat-nav-list id="menu-options" class="menu">
        <li id="home"><a routerLink="home">Home</a></li>
        <li><a [routerLink]="['/home/browse']">Browse</a></li>
	  </ul>
      <ul mat-nav-list id="learn-more" class="menu">
        <li class="heading">Learn More About the Military</li>
		    <li><a routerLink="/options">Options</a></li>
        <li><a routerLink="/parent">Parents</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
      </ul>
      <ul mat-nav-list id="login" class="menu">
        <li><a (click)="openLoginDialog()">Login</a></li>
        <li><a (click)="openLoginDialog()">create an account</a></li>
      </ul>
      <ul mat-nav-list id="tabbed" class="menu">
        <li id="guided" class="active"><a routerLink="#">Guided Exploration</a></li>
        <li id="advanced"><a routerLink="#">Advanced Search</a></li>
      </ul>
      <button class="menu-icon" type="button" data-toggle=""></button>
    </div>
  </div>
</header>  

<div id="slide-menu">
  <ul>
    <li><a id="close" href="#">&times;</a>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a (click)="openLoginDialog()">Login</a></li>
        <li><a (click)="openLoginDialog()">create an account</a></li>
      </ul>
    </li>
    <li><span>Explore</span>
      <ul>
        <li><a routerLink="#">Guided Exploration</a></li>
        <li><a routerLink="#">Advanced Search</a></li>
        <li><a [routerLink]="['/home']" [queryParams]="{browse:true}">Browse</a></li>
      </ul>
    </li>
    <li><span>Careers</span>
      <ul>
        <li><a routerLink="#">Career Cluster</a></li>
      </ul>
    </li>
    <li><span>About the Military</span>
      <ul>
        <li><a routerLink="/options">Options</a></li>
        <li><a routerLink="/parent">Parents</a></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a (click)="openLoginDialog()">Contact Us</a></li>
      </ul>
    </li>
  </ul>
</div>    