header {
    border-bottom: 1px solid #828181;
    font-size: 13px;
    text-align: right;
}
@media screen and (min-width: 40em) {
    header {
        margin-bottom: 75px;
   }
}
header #logo {
    line-height: 60px;
    text-align: left;
}
header #logo img {
    width: 210px;
      transition: all 0.5s ease; }
header #main-menu {
    height: 60px;
    position: relative;
}
header #main-menu .menu-icon {
    bottom: 17px;
    display: none;
    right: 15px;
    padding: 10px;
    position: absolute;
}
header #main-menu .menu-icon::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}
header #main-menu ul {
    border: 0;
    display: inline-block;
    padding: 25px 0 0;
}
header #main-menu ul li {
    display: inline-block;
}
header #main-menu ul li a {
    text-transform: uppercase;
    padding: 0.7rem 0.8rem;
}
header #main-menu ul#learn-more .heading {
    display: none;
}
header #main-menu ul#learn-more li:after {
    content: '';
}
header #main-menu ul#login {
    margin-left: 25px;
}
header #main-menu ul#login li {
    display: inline-block;
}
header #main-menu ul#login li div{
    padding-left: 15px;
    display: inline;
}
header #main-menu ul#login li a {
    color: #3c3f44;
    text-transform: lowercase;
}
header #main-menu ul#tabbed {
    clear: both;
    margin-top: 2px;
    padding: 0;
    width: 100%;
	z-index: 2;
}
header #main-menu ul#tabbed li {
    margin: 0 40px;
    position: relative;
}
header #main-menu ul#tabbed li a {
    background: #616060;
    color: #e7e4e4;
    font-family: "futura-bt", sans-serif;
    font-weight: bold;
    padding: 0.35rem 0.8rem;
}
header #main-menu ul#tabbed li a:before, header #main-menu ul#tabbed li a:after {
    background: url(/assets/images/bg-tabs.png);
    content: '';
    display: inline-block;
    height: 24px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 25px;
}
header #main-menu ul#tabbed li a:after {
    background-position: top right;
    left: auto;
    right: -25px;
}
header #main-menu ul#tabbed li.active a {
    background: #dfdfdf;
    color: #2f2a6a;
    cursor: default;
}
header #main-menu ul#tabbed li.active a:before, header #main-menu ul#tabbed li.active a:after {
    background-position-y: bottom;
}
@media screen and (max-width: 920px) {
    header #main-menu .menu-icon {
        display: block;
   }
    header #main-menu ul {
        display: none;
   }
}
header.expanded #main-menu ul#menu-options li#home {
    display: none;
}

  @media screen and (min-width: 64em) {
    header.expanded {
      border-bottom: 0;
      font-size: 15px; }
      header.expanded #logo {
        line-height: 120px; }
        header.expanded #logo img {
          width: 292px; }
      header.expanded #main-menu {
        display: table;
        height: 120px; }
        header.expanded #main-menu ul {
          display: table-cell;
          border-right: 1px solid #e7e5e5;
          text-align: center;
          vertical-align: bottom;
          padding-bottom: 20px; }
          header.expanded #main-menu ul .heading {
            display: block !important;
            text-align: center; }
          header.expanded #main-menu ul#tabbed {
            display: none; }
        header.expanded #main-menu ul#menu-options li#home {
            display: none;
        }
    
          header.expanded #main-menu ul#learn-more li {
            position: relative; }
            header.expanded #main-menu ul#learn-more li:after {
              content: '|';
              position: absolute;
              right: -4px;
              top: 5px; }
          header.expanded #main-menu ul#learn-more li.heading:after,
          header.expanded #main-menu ul#learn-more li:last-child:after {
            content: initial; }
          header.expanded #main-menu ul#login .heading a {
            padding: 0; }
          header.expanded #main-menu ul#login li {
            display: block;
            text-align: center; }
            header.expanded #main-menu ul#login li div {
            padding:15px;
            display: block;
            text-align: center; }
            header.expanded #main-menu ul#login li a {
              text-transform: none; }
            header.expanded #main-menu ul#login li:last-child a {
              padding-top: 5px; }
          header.expanded #main-menu ul:last-child {
            border-right: 0; } 
}