	<div class="modal-dialog">
		<!-- <div class="custom-modal-backdrop"></div> -->
		<!-- <div class="custom-modal-lg"> -->
			<!-- <div class="custom-modal-content table-contents-wrap marine-modal"> -->
			<div class="custom-modal-content">
				<div class="modal-header">
					<h3 id="title" >
						<div innerHtml="{{ title }}"></div>
					</h3>
				</div>
        <div class="modal-body">
					<div innerHtml="{{ message }}">
					</div>
				</div>
				<div class="modal-footer close-button-div text-center">
					<button type="button" mat-dialog-close class="btn" (click)="onNoClick()">ok</button>
				</div>
			</div>
		<!-- </div> -->
	</div>
