<app-spinner></app-spinner> 
<div *ngIf="pageHtml">
    <div class="section sitemap">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="sitemap-title">SITE MAP</h2>
            </div>
            <div class="small-6 columns">
                <div class="sitemap-links">
                    <ul mat-list>
                        <li><a (click)="redirect('home')">Home</a></li>
                        <li><a (click)="openLoginDialog()">Create an Account</a> </li>
                        <li><a (click)="redirect('contact-us')">Contact Us</a></li>
                        <li><a (click)="redirect('faq')">FAQ</a></li>
                    </ul>
                </div>
                <div class="sitemap-links">
                    <h3>Explore</h3>
                    <ul mat-list>
                        <li><a (click)="redirect('guided-exploration')">Guided Exploration</a></li>
                        <li><a (click)="redirect('advanced-search')">Advanced Search</a></li>
                        <li><a  (click)="redirect('home/browse')">Browse</a></li>
                    </ul>
                </div>
                <div class="sitemap-links">
                    <h3>Career</h3>
                    <ul mat-list>
                        <li><a (click)="redirect('career-cluster')">Career Clusters</a></li>
                        <li><a (click)="redirect('job-family')">Job Family</a></li>
                    </ul>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="sitemap-links">
                    <h3>Learn about your options</h3>
                    <ul mat-list>
                        <li><a (click)="redirect('options')">Overview</a></li>
                        <li><a (click)="redirect('options-military')">The Military</a></li>
                        <li><a (click)="redirect('options-types-of-service')">Types of Service</a></li>
                        <li><a (click)="redirect('options-boot-camp-services')">Boot Camp by Service</a></li>
                        <li><a (click)="redirect('options-enlisted-vs-officer')">Enlisted VS. Officer</a></li>
                        <li><a (click)="redirect('options-enlistment-requirements')">Enlistment Requirements</a></li>
                        <li><a (click)="redirect('options-enlistment-process')">Enlistment Process</a></li>
                        <li><a (click)="redirect('options-becoming-an-officer')">Becoming a Military Officer</a></li>
                        <li><a (click)="redirect('options-pay')">Pay</a></li>
                        <li><a (click)="redirect('options-benefits')">Benefits</a></li>
                        <li><a (click)="redirect('options-reasons-to-consider')">Reasons To Consider The Military</a></li>
                        <li><a (click)="redirect('options-contact-recruiter')">Why Should I Contact A Recruiter</a></li>
                        <li><a (click)="redirect('parent')">Parents</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div> 
</div>