<app-spinner></app-spinner> 
<div fullpage id="fullpage" class="fullpage-wrapper" [options]='fullpageConfig' (ref)="getRef($event)">

  <mat-card id="step1" class="section bg-image welcome-section fp-section fp-table fp-auto-height-responsive">
    <div class="fp-tableCell"> 
      <div id="top">
        <div class="row">
          <div class="small-12 column">
            <div class="topgraysec">
              <h1> <strong class="show-for-medium">There are literally thousands of careers in the Military.</strong><br>
                <span class="show-for-medium">Here they are categorized to help you decide the type that's right for you.</span>
                <strong class="hide-for-medium">Thousands of military careers,</strong><br>
                <span class="hide-for-medium">categorized to help you decide the type that's right for you.</span> </h1>
              <a class="learn-more"><span (click)="openPlayer('7UeYpw4012o');">Play <i class="fas fa-play"></i></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="next first-section" (click)="fullpageApi.moveSectionDown()"><img src="assets/images/img-round.png">
        <div class="next-inner"><i class="icon-down"></i><span>MORE</span></div>
      </div>
      <div id="boxes">
        <div class="left">
          <div>
            <p class="show-for-medium"><img src="assets/images/icon-explore.png"></p>
            <h2>Guided Exploration</h2>
            <p class="show-for-medium">The quick way to find the careers<br>
              best suited to you.</p>
            <p class="hide-for-medium">Find the career best suited to you.</p>
            <p><a class="button ghost" routerLink="/guided-exploration">Explore Careers</a> </p>
          </div>
        </div>
        <div class="right">
          <div>
            <p class="show-for-medium"><img src="assets/images/icon-search.png"></p>
            <h2>Advanced Search</h2>
            <p class="show-for-medium">Search careers by branch, rank, career cluster,<br>
              interests, career path, and more.</p>
            <p class="hide-for-medium">Search careers on your own.</p>
            <p><a class="button ghost" routerLink="/advanced-search">Search Careers</a> </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card id="step2" class="section welcome-section fp-section fp-table fp-auto-height-responsive">
    <div class="fp-tableCell">
      <div class="next otherdiv">
        <div class="next-inner"><i class="icon-down" (click)="fullpageApi.moveSectionDown();">&nbsp;</i><i class="icon-up"
            (click)="fullpageApi.moveSectionUp();"></i></div>
      </div>
      <div class="row show-for-medium">
        <div class="small-12 column">
          <h3 class="career-title">Browse Careers</h3>
        </div>
      </div>
      <div *ngIf="!(allJobList != null && allJobList.length > 0)">
        <i class="fas fa-cog fa-spin"></i>
      </div>

      <div *ngIf="allJobList != null && allJobList.length > 0" class="row">
        <div class="small-12 column">
      
          <div id="tools" class="tools-careers">
            <div *ngIf="isLoggedIn()" id="total-favorited" class="show-for-medium"><a routerLink="/profile"><i class="favorite fas fa-heart" title="Favorites"></i> <span > {{ favoriteCount }}</span></a>
            </div>
            <div id="sort" class="show-for-medium"> <i class="icon-details " [ngClass]="displayList ? 'active' : ''"
                (click)="onGridListClick('List')"  title="Detail View"></i>
              <i class="icon-grid" [ngClass]="displayList ? '' : 'active'" (click)="onGridListClick('Grid')" title="Grid View"></i>
            </div>
            <div id="pagination" class="show-for-medium">
              <span>
                {{displayPosition}} <span *ngIf="!displayList"> - {{  lastCareerOnPage }} </span> of {{jobsInList}} 
              </span>
              <i class="icon-left show-for-medium" [ngClass]="displayPosition === 1 ? 'disabled' : ''" (click)="previousJob()"></i> 
              <i class="icon-right show-for-medium" [ngClass]="lastCareerOnPage === jobsInList ? 'disabled' : ''" (click)="nextJob()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="browse-home">
        <div *ngIf="allJobList != null && allJobList.length > 0" class="small-12 column">
          <ul class="tab-nav">
            <li [ngClass]="displayHotJobs ? 'active' : ''"><a (click)="onClickListType('Hot')">Military Hot Jobs</a></li>
            <li [ngClass]="displayHotJobs ? '' : 'active'"><a (click)="onClickListType('All')">Browse All</a></li>
          </ul>
          <div id="jobs" class="tab slide-mobile-style scrolling-wrapper" *ngIf="displayList">
            <div class="career-list show-for-medium">
              <div class=" career-detail active">

                <div *ngIf="item && item.backgroundImageUrl" class="small-12 medium-6 large-5 columns"
                    [ngStyle]="{'background-image' :
                      webpEnabled ? item.backgroundImageUrl.split('.jpg')[0].concat('.webp') : item.backgroundImageUrl}">
                  <picture>
                    <source type="image/webp" srcset="{{item.imageUrl.split('.jpg')[0].concat('.webp')}}">
                    <source type="image/jpeg" srcset="{{item.imageUrl}}">
                    <img *ngIf="item && item.imageUrl" src="{{item.imageUrl}}" />
                  </picture>
                </div>

                <div class="small-12 medium-6  large-7 columns">
                  <div class="career-details">
                    <div class="row show-for-medium">
                      <div class="small-12 columns">
                        <h2> <a routerLink="/career-detail/{{item.slug}}">{{item.title}}</a> <i *ngIf="item.isHotJob === 'T'" class="icon-hotjob"></i>
                          <span class=" actions"  [ngStyle]="myStyle">
                          
							<a (click)="onFavoriteClick(item)">
								<i *ngIf="!item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

								<i *ngIf="item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>

							</a>
						  <span class="remove" (click)="onHiddenClick(item)"  title="Delete occupations from your portfolio.">&times;</span> </span> </h2>

          </div>
                    </div>
                    <div class="row">
                      <div class="small-12 medium-6 columns">
                        <ul class="checked">
                          <li class="ul" [class.checked]="item.isEnlisted == 'T'" [class.li.inactive]="item.isEnlisted == 'T'">Enlisted</li>
                          <li class="ul" [class.checked]="item.isOfficer == 'T'" [class.li.inactive]="item.isOfficer != 'T'">Officer</li>
                        </ul>
                      </div>
                      <div class="small-12 medium-6 columns show-for-medium">
                        <ul class="checked">
                          <li class="ul" [class.checked]="item.isActiveDuty == 'T'" [class.li.inactive]="item.isActiveDuty != 'T'">Active Duty</li>
                          <li class="ul" [class.checked]="item.isReserve == 'T'" [class.li.inactive]="item.isReserve != 'T'">Reserve</li>
                        </ul>
                      </div>
                      <div class="small-12 columns show-for-medium">
                        <h4>Services Offering this Occupation</h4>
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isArmy == 'T'" src="assets/images/army.png"></a> 
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isMarines == 'T'" src="assets/images/marines.png"></a>
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isNavy == 'T'" src="assets/images/navy.png"></a>
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isAirForce == 'T'" src="assets/images/air-force.png"></a> 
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isSpaceForce == 'T'" src="assets/images/space-force.png"></a> 
                        <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isCoastGuard == 'T'" src="assets/images/coast-guard.png"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide career-list show-for-small-only">
              <ngx-slick-carousel class="carousel{{j}}" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" *ngIf="displayHotJobs">
                <div ngxSlickItem *ngFor="let job of jobList; let i=index">
                  <div class="career-detail">
                      <div class="small-12 medium-6 large-5 columns" 
                        [ngStyle]="{'background-image': webpEnabled ? job.backgroundImageUrl.split('.jpg')[0].split().concat('.webp').concat('\'').concat(')').join('') : job.backgroundImageUrl}">
                        <picture>
                          <source type="image/webp" srcset="{{job.imageUrl.split('.jpg')[0].concat('.webp')}}">
                          <source type="image/jpeg" srcset="{{job.imageUrl}}">
                          <img src="{{job.imageUrl}}"/>
                        </picture>
                        <div class="row">
                          <div class="small-12 columns show-for-small-only">
                            <h2> <a routerLink="/career-detail/{{job.slug}}">{{job.title}}</a> <i *ngIf="job.isHotJob === 'T'" class="icon-hotjob"></i>
                              <span class="actions show-for-medium"  [ngStyle]="myStyle">
                                <a (click)="onFavoriteClick(job)">
                                  <i *ngIf="!job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                                  <i *ngIf="job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                                </a>
                                <span class="remove" (click)="onHiddenClick(item)"  title="Delete occupations from your portfolio.">&times;</span> 
                              </span> 
                            </h2>
                          </div>
                        </div>
                      </div>
                      <div class="actions show-for-small-only row">
                        <div class="small-6 medium-6 column">
                          <ul class="checked row">
                            <li class="ul" [class.checked]="item.isEnlisted == 'T'" [class.li.inactive]="item.isEnlisted == 'T'">Enlisted</li>
                            <li class="ul" [class.checked]="item.isOfficer == 'T'" [class.li.inactive]="item.isOfficer != 'T'">Officer</li>
                          </ul>
                        </div>
                        <div class="small-6 medium-6 column">
                          <ul class="checked">
                            <li class="ul" [class.checked]="item.isActiveDuty == 'T'" [class.li.inactive]="item.isActiveDuty != 'T'">Active Duty</li>
                            <li class="ul" [class.checked]="item.isReserve == 'T'" [class.li.inactive]="item.isReserve != 'T'">Reserve</li>
                          </ul>
                        </div>
                        <div class="wrap-action-home"  [ngStyle]="myStyle">
                          <a (click)="onFavoriteClick(job)">
                              <i *ngIf="!job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                              <i *ngIf="job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                          </a>
                        <span class="remove" (click)="onHiddenClick(job)"   title="Delete occupations from your portfolio.">&times;</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>

              <ngx-slick-carousel class="carousel{{j}}" #slickModal="slick-carousel" [config]="slideConfig"
                (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" *ngIf="!displayHotJobs">
                <div ngxSlickItem *ngFor="let job of jobList; let i=index">
                  <div class="career-detail">
                      <div class="small-12 medium-6 large-5 columns" 
                          [ngStyle]="{'background-image': webpEnabled ? job.backgroundImageUrl.split('.jpg')[0].split().concat('.webp').concat('\'').concat(')').join('') : job.backgroundImageUrl}">
                        <picture>
                          <source type="image/webp" srcset="{{job.imageUrl.split('.jpg')[0].concat('.webp')}}">
                          <source type="image/jpeg" srcset="{{job.imageUrl}}">
                          <img src="{{job.imageUrl}}"/>
                        </picture>
                        <div class="row">
                          <div class="small-12 columns show-for-small-only">
                            <h2> <a routerLink="/career-detail/{{job.slug}}">{{job.title}}</a> <i *ngIf="job.isHotJob === 'T'" class="icon-hotjob"></i>
                              <span class="actions show-for-medium"  [ngStyle]="myStyle">
                                <a (click)="onFavoriteClick(job)">
                                  <i *ngIf="!job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                                  <i *ngIf="job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                                </a>
                                <span class="remove" (click)="onHiddenClick(item)"  title="Delete occupations from your portfolio.">&times;</span> 
                              </span> 
                            </h2>
                          </div>
                        </div>
                      </div>
                      <div class="actions show-for-small-only row">
                        <div class="small-6 medium-6 column">
                          <ul class="checked row">
                            <li class="ul" [class.checked]="item.isEnlisted == 'T'" [class.li.inactive]="item.isEnlisted == 'T'">Enlisted</li>
                            <li class="ul" [class.checked]="item.isOfficer == 'T'" [class.li.inactive]="item.isOfficer != 'T'">Officer</li>
                          </ul>
                        </div>
                        <div class="small-6 medium-6 column">
                          <ul class="checked">
                            <li class="ul" [class.checked]="item.isActiveDuty == 'T'" [class.li.inactive]="item.isActiveDuty != 'T'">Active Duty</li>
                            <li class="ul" [class.checked]="item.isReserve == 'T'" [class.li.inactive]="item.isReserve != 'T'">Reserve</li>
                          </ul>
                        </div>
                        <div class="wrap-action-home"  [ngStyle]="myStyle">
                          <a (click)="onFavoriteClick(job)">
                              <i *ngIf="!job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                              <i *ngIf="job.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                          </a>
                        <span class="remove" (click)="onHiddenClick(job)"   title="Delete occupations from your portfolio.">&times;</span>
                      </div>
                      </div>
                    </div>
                  </div>
                </ngx-slick-carousel>
            </div>
          </div>
          <div class="career-grid" *ngIf="!displayList">
            <div class="career-detail medium-4 columns">
              <div class="small-12 columns" 
                  [ngStyle]="{'background-image': webpEnabled ? item.backgroundImageUrl.split('.jpg')[0].split().concat('.webp').concat('\'').concat(')').join('') : item.backgroundImageUrl}"> 
                <picture>
                  <source type="image/webp" srcset="{{item.imageUrl.split('.jpg')[0].concat('.webp')}}">
                  <source type="image/jpeg" srcset="{{item.imageUrl}}">
                  <img src="{{item.imageUrl}}"/>
                </picture>
                <div class="row">
                  <div class="small-12 columns">
                    <h2><a routerLink="/career-detail/{{item.slug}}">{{item.title}}</a> <i *ngIf="item.isHotJob === 'T'" class="icon-hotjob"></i></h2>
                  </div>
                </div>
              </div>
              <div class="small-12 columns">
                <div class="actions"  [ngStyle]="myStyle"> 
                  <a (click)="onFavoriteClick(item)">
                    <i *ngIf="!item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                    <i *ngIf="item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                  </a>
                  <span class="remove"  (click)="onHiddenClick(item)" title="Delete occupations from your portfolio.">&times;</span> 
                </div>
              </div>
            </div>
  
            <div *ngIf="item2" class="career-detail medium-4 columns">
                <div class="small-12 columns"
                    [ngStyle]="{'background-image': webpEnabled ? item2.backgroundImageUrl.split('.jpg')[0].split().concat('.webp').concat('\'').concat(')').join('') : item2.backgroundImageUrl}"> 
                  <picture>
                    <source type="image/webp" srcset="{{item2.imageUrl.split('.jpg')[0].concat('.webp')}}">
                    <source type="image/jpeg" srcset="{{item2.imageUrl}}">
                    <img src="{{item2.imageUrl}}"/>
                  </picture>
                  <div class="row">
                  <div class="small-12 columns">
                    <h2><a routerLink="/career-detail/{{item2.slug}}">{{item2.title}}</a> <i *ngIf="item2.isHotJob === 'T'" class="icon-hotjob"></i></h2>
                  </div>
                </div>
              </div>
              <div class="small-12 columns">
                  <div class="actions"  [ngStyle]="myStyle"> 
                      <a (click)="onFavoriteClick(item2)">
                        <i *ngIf="!item2.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                        <i *ngIf="item2.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                      </a>
                      <span class="remove"  (click)="onHiddenClick(item2)"   title="Delete occupations from your portfolio.">&times;</span> 
                    </div>
              </div>
            </div>
            <div *ngIf="item3" class="career-detail medium-4 columns">
                <div class="small-12 columns"
                    [ngStyle]="{'background-image': webpEnabled ? item3.backgroundImageUrl.split('.jpg')[0].split().concat('.webp').concat('\'').concat(')').join('') : item3.backgroundImageUrl}"> 
                  <picture>
                    <source type="image/webp" srcset="{{item3.imageUrl.split('.jpg')[0].concat('.webp')}}">
                    <source type="image/jpeg" srcset="{{item3.imageUrl}}">
                    <img src="{{item3.imageUrl}}"/>
                  </picture>
                  <div class="row">
                  <div class="small-12 columns">
                    <h2><a routerLink="/career-detail/{{item3.slug}}">{{item3.title}}</a> <i *ngIf="item3.isHotJob === 'T'" class="icon-hotjob"></i></h2>
                  </div>
                </div>
              </div>
              <div class="small-12 columns">
                  <div class="actions"  [ngStyle]="myStyle"> 
                      <a (click)="onFavoriteClick(item3)">
                        <i *ngIf="!item3.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>
                        <i *ngIf="item3.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
                      </a>
                      <span class="remove"  (click)="onHiddenClick(item3)"   title="Delete occupations from your portfolio.">&times;</span> 
                    </div>
              </div>
            </div>
          </div>
          <p class="view-list"><a (click)="onUndoClick()"  title="Show deleted occupations from your portfolio.">Undo</a></p> 
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card id="step3" class="section welcome-section fp-section fp-table fp-auto-height-responsive">
    <div class="fp-tableCell">
      <div class="next otherdiv">
        <div class="next-inner"><i class="icon-down" (click)="fullpageApi.moveSectionDown();">&nbsp;</i><i class="icon-up"
            (click)="fullpageApi.moveSectionUp();"></i></div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <h3>Featured Profiles</h3>
        </div>
      </div>
      <!-- Loading gear: show until slides loads -->
      <div *ngIf="!(slides != null && slides.length > 0)">
        <i class="fas fa-cog fa-spin"></i>
      </div>

      <div class="row" role="toolbar" *ngIf="slides != null && slides.length > 0" >
        <div class="small-12 column"> <span class="pagingInfo"></span>
          <section class="home-profiles-slide">
            <!-- <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (init)="slickInit($event)">
              <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="home-profiles-box">
                  <div class="home-profile-image">
                    <img class="overlay-imgbg" src="assets/images/img-ocelay.png" />
                    <img src="{{slide.imageList[0].imageUrl}}"/>
                    <div class="home-profile-imgtext">
                      <div> {{slide.toMilitaryCareerList[0].customTitle}}</div><br>
                      {{slide.firstName}} {{slide.lastName}}
                    </div>
                  </div>
                  <div class="home-profile-text">
                    <h4>{{slide.snapshotQuestionList[0].question}}</h4>
                    <div>
                      <span [innerHtml]="getAnswer(slide.snapshotQuestionList[0].answer, slide.snapshotQuestionList[0].showMore)">
                      </span>
                      <a (click)="slide.snapshotQuestionList[0].showMore = !slide.snapshotQuestionList[0].showMore" class="{{ !slide.snapshotQuestionList[0].showMore? 'd-none': '' }}">...Show
                        More</a>
                      <a (click)="slide.snapshotQuestionList[0].showMore = !slide.snapshotQuestionList[0].showMore" class="{{ slide.snapshotQuestionList[0].showMore? 'd-none': '' }}">...Show
                        Less</a>
                    </div>
                    <p class="buttons">
                      <a *ngIf="slide.jobQuestionList" routerLink="/career-profile/{{slide.toMilitaryCareerList[0].mcId}}">Read
                        More</a>
                      <a routerLink="/career-detail/{{slide.toMilitaryCareerList[0].mcId}}">Career Path</a>
                    </p>
                  </div>
                </div>
              </div>
            </ngx-slick> -->
      <div class="slider-nav">
        <span class="paging"> {{currentSlide}} <span>of</span> {{slides.length}}</span>
        <i class="icon-left" (click)="owlCar.prev()"></i> 
        <i class="icon-right" (click)="owlCar.next()"></i>  
      </div>
            <owl-carousel-o [options]="customOptions" (translated)="slideChanged($event)" #owlCar>
              <div *ngFor="let slide of slides;let i=index;" class="slide">
                <ng-template carouselSlide dotContent="slide {{i}}">
                  <div class="home-profiles-box">
                    <div class="home-profile-image">
                      <img class="overlay-imgbg" src="assets/images/img-ocelay.png" />
                      <picture>
                        <source type="image/webp" srcset="{{slide.imageList[0].imageUrl.split('.jpg')[0].concat('.webp')}}">
                        <source type="image/jpeg" srcset="{{slide.imageList[0].imageUrl}}">
                        <img src="{{slide.imageList[0].imageUrl}}"/>
                      </picture>
                      <div class="home-profile-imgtext">
                         {{slide.toMilitaryCareerList[0].customTitle}} <br>
                        {{slide.firstName}} {{slide.lastName}}
                      </div>
                    </div>
                    <div class="home-profile-text">
                      <h4>{{slide.teaserText}}</h4>
                      <!-- <h4>{{slide.snapshotQuestionList[0].question}}</h4>
                      <div>
                        <span [innerHtml]="getAnswer(slide.snapshotQuestionList[0].answer, slide.snapshotQuestionList[0].showMore)">
                        </span>
                        <a 
                          routerLink="/career-profile/{{slide.toMilitaryCareerList[0].mcId}}"
                          *ngIf="slide.snapshotQuestionList[0].answer.length >= 50"
                        > ...</a>
                      </div> -->
                      <p class="buttons">
                        <!-- <a *ngIf="slide.jobQuestionList" routerLink="/career-profile/{{slide.toMilitaryCareerList[0].mcId}}">Read -->
                        <!-- <a *ngIf="slide.jobQuestionList" routerLink="/career-profile/{{slide.toMilitaryCareerList[0].profileId}}">Read -->
                        <a *ngIf="slide.jobQuestionList" routerLink="/career-profile/{{slide.toMilitaryCareerList[0].customTitleSlug}}">Read
                          More</a>
                        <a routerLink="/career-detail/{{slide.toMilitaryCareerList[0].slug}}" style="white-space: nowrap">Career Details</a>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </div>
            </owl-carousel-o>
          </section>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card id="step4" class="section bg-image welcome-section fp-section fp-table fp-auto-height-responsive">
    <div class="fp-tableCell">
      <div class="next otherdiv">
        <div class="next-inner"><i class="icon-down" (click)="fullpageApi.moveSectionDown();">&nbsp;</i><i class="icon-up"
            (click)="fullpageApi.moveSectionUp();"></i></div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <p><img src="assets/images/salute.png"></p>
          <h3>Reasons <br>
            to Consider the Military</h3>
          <p>Whether you're thinking about it or never thought about it.</p>
          <p><a class="button striped" routerLink="/options-reasons-to-consider">Learn More</a></p>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card id="step5" class="section bg-image welcome-section fp-section fp-table fp-auto-height-responsive">
    <div class="fp-tableCell">
      <div class="row">
        <div class="small-12 column">
          <p><a href="http://www.asvabprogram.com"><img src="assets/images/asvab-logo.png"></a></p>
          <h3>Bring ASVAB CEP to Your School</h3>
          <p>To find out about career exploration <br>
            with ASVAB CEP, the complete career planning resource available <br>
            to schools nationwide.</p>
          <p><a class="button striped" href="http://www.asvabprogram.com/asvab-cep-at-your-school" target="_blank">Learn
              More</a></p>
        </div>
      </div>
      <div id="footer">
        <div class="row">
          <div class="small-12 medium-9 columns">
            <h5> <span class="show-for-medium">Connect with us:</span>
              <p class="icons"> <a href="https://twitter.com/CareersintheMil" target="_blank"><i class="fab fa-twitter"></i></a> <a
                  href="https://www.fb.me/careersinthemilitary/" target="_blank"><i class="fab fa-facebook-f"></i></a> <a
                  href="https://www.linkedin.com/organization/11159164/admin/updates" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </p>
            </h5>
            <hr>
            <div class="small-12 columns show-for-small-only">
              <ul class="menu vertical">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/faq">FAQ </a></li>
                <li><a routerLink="/advanced-search">Advanced Search</a></li>
                <li><a (click)="showPrivacySecurity()">Privacy &amp; Security</a></li>
                <li><a routerLink="/site-map">Site Map</a></li> 
              </ul>
            </div>
            <hr class="show-for-small-only">
            <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program
              resides with the Office of People Analytics, DoD Center-Monterey Bay, 400 Gigling Road, Seaside, California
              93955-6771.</p>
			  <p class="versionp smallp"> {{ versionText }} </p>
          </div>
          <div class="small-12 medium-2 columns show-for-medium">
              <p><a routerLink="/faq">FAQ </a><br>
              <a routerLink="/advanced-search">Advanced Search</a><br>
              <a (click)="showPrivacySecurity()">Privacy &amp; Security</a><br>
              <a routerLink="/site-map">Site Map</a> </p>
          </div>
        </div>
        <div class="next otherdiv">
          <div class="next-inner"><i class="icon-up" (click)="fullpageApi.moveSectionUp();"></i></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
