.becoming-and-officer {
    font-size: 13px;
}
.plus-minus-sign {
    height: 20px;
    width: 20px;
}
#boot-camp ul.menu {
  position: relative; 
}
#boot-camp ul.menu:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #7e7e7e;
  width: 1px; 
}
#boot-camp ul.menu li {
border-bottom: 1px solid #c8c8c8; 
}
#boot-camp ul.menu li:first-child {
  border-top: 1px solid #c8c8c8; 
}
#boot-camp ul.menu li a {
  padding: .5rem;
  text-decoration: none;
  outline: none; 
}
#boot-camp ul.menu li a:hover, #boot-camp ul.menu li a.active {
  background: #ededed; 
}

#boot-camp ul.left-bar {
  padding-right: 15px; 
}

#boot-camp .all-data {
  margin-top: 30px; 
}

#boot-camp .service-data ul:before, #boot-camp .service-data ul:after {
  background: no-repeat; 
}

#boot-camp .service-data ul li {
  text-align: left;
  list-style-type: none;
  border: none !important;
  margin: 15px 0; 
}
#boot-camp .service-data ul li div.img {
  float: left;
  display: inline-block;
  vertical-align: middle; 
}
#boot-camp .service-data ul li span {
  float: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  width: 66%;
  font-size: 14px;
  margin-left: 10px; 
}

#boot-camp .service-data ul.map {
  margin-left: 0;
  margin-bottom: 20px; 
}
#boot-camp .service-data ul.map li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc !important;
  min-height: 82px;
  min-width: 100px; 
}
#boot-camp .service-data ul.map li h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal; 
}
#boot-camp .service-data ul.map li img {
  display: block;
  margin: 0 auto;
  max-width: 30%; 
}

#boot-camp .service-data span.circle {
  width: 32px;
  height: 32px;
  background: #38979b;
  display: block;
  border-radius: 50%;
  margin: 0 auto; 
}
#boot-camp .service-data span.circle i {
  color: white;
  line-height: 32px; 
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #boot-camp .service-data .map_btn, #boot-camp .service-data .list_btn {
    font-size: 14px; 
  } 
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #boot-camp .menu {
    display: none; 
  } 
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #Military-table {
    display: block;
    width: 100%; 
  } 
}

#Military-table h5 {
  font-size: 15px;
  font-weight: bold;
  color: #585858;
  text-transform: uppercase;
  margin-top: 5px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #Military-table h5 {
    font-size: 13px; 
  } 
}

#Military-table td {
  border-right: 1px solid #bfbfbf;
  width: 20%;
  text-align: left; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #Military-table td {
    display: block;
    width: 48%;
    height: 190px;
    padding: 10px;
    margin: 1%;
    float: left;
    border: 1px solid #bfbfbf; 
  } 
}
#Military-table td:last-child {
  border-right: none; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #Military-table td:last-child {
    border: 1px solid #bfbfbf; 
  } 
}
#Military-table td img {
  display: block; 
}
.data-table {
  margin-top: 20px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .data-table {
    display: block;
    width: 100%;
    overflow-x: scroll; 
  } 
}
.data-table h5 {
  margin-bottom: 0;
  font-size: 0.927rem;
  color: #2f2a6a;
  font-weight: bold;
  padding: 6px 0;
  text-transform: uppercase; 
}
.data-table table tr:nth-child(2n) {
  background-color: transparent; 
}
.data-table table tr:nth-child(2) {
  border-bottom: 1px solid #c9c9c9; 
}
.data-table table tr:nth-child(2) td, .data-table table tr:nth-child(3) td {
  border-right: 1px solid #c9c9c9;
  width: 20%; 
}
.data-table table tr:nth-child(2) td:last-child, .data-table table tr:nth-child(3) td:last-child {
  border-right: none;
 }
.data-table ul {
  margin-left: 0;
  margin-bottom: 0; 
}
.data-table ul:after {
  background: none !important; 
}
.data-table ul li {
  border: none !important;
  border-right: none;
  list-style-type: none; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .data-table p {
    font-size: 14px; 
  } 
}

.boot-camp-header {
  background: #efefef;
  padding: 0; 
}
.boot-camp-header a {
  line-height: 35px; 
}

#physical-fitness table h6 {
  font-size: 15px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  #physical-fitness table h6 {
    text-align: center; 
  } 
}

#physical-fitness table ul li {
  margin: 15px 0;
  text-align: left; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #physical-fitness table ul li {
      text-align: center; } }
  #physical-fitness table ul li:first-child {
    margin: 0 0 15px 0; }
  #physical-fitness table ul li div.img {
    float: left;
    display: inline-block;
    vertical-align: middle; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      #physical-fitness table ul li div.img {
        width: 100%;
        float: none; } }
  #physical-fitness table ul li span {
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    width: 66%;
    font-size: 14px;
    margin-left: 10px; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      #physical-fitness table ul li span {
        width: 100%;
        float: none; } }

#physical-fitness table tr td {
  width: auto;
  width: 20%; }

#physical-fitness table tr:nth-child(2) {
  border-bottom: none; }

#physical-fitness table tr:nth-child(4) td {
  border-right: 1px solid #c9c9c9; }
  #physical-fitness table tr:nth-child(4) td:last-child {
    border-right: none; }

#physical-fitness span.circle {
  width: 32px;
  height: 32px;
  background: #38979b;
  display: block;
  border-radius: 50%; 
  line-height: 32px; }
#physical-fitness span.circle svg {
    color: white;
    }
.map-view {
  display: block; 
}
.map-view .map-table {
  width: 100%;
  margin-top: 58px; 
}
.map-view .map-table table tr td {
  border-right: 1px solid #bfbfbf; 
}
.map-view .map-table table tr:first-child {
  border-bottom: 1px solid #bfbfbf; 
}
  .map-view .map-table table tr:first-child td {
    border-right: none;
  }
.map-view .map-table table tr:nth-child(2) {
  border-bottom: none; 
}
.map-view .map-table table tr:nth-child(2) td {
  padding: 15px 0; 
}

/** default to map view fix **/
.list-view {
  display: none;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .list-view {
    display: block;
  }
  .map-view {
    display: none;
  }
}

.map_btn {
  display: none; 
}

.service-data {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
.service-data .rows {
  padding: 15px; 
}
  .service-data .rows:nth-of-type(1) {
    text-align: center; 
  }
.service-data .map_btn, .service-data .list_btn {
  line-height: 32px; 
}
.service-data .more {
  text-align: center; 
}
  .service-data .more a {
    display: inline-block; 
  }
.service-data .map-view .map-table {
  margin-top: 0; 
}

.section-head {
  display: inline-block; 
}
.section-head h5 {
  font-weight: bold;
  text-transform: uppercase; 
}

.data-table-head {
  background: #efefef;
  padding: 0px 15px; 
}
.data-table-head h5 {
  margin-bottom: 0;
  font-size: 0.927rem;
  color: #2f2a6a;
  font-weight: bold;
  padding: 6px 0;
  text-transform: uppercase; 
}

div.map {
  margin-top: 30px; 
}

@keyframes scaleUp {
  0% { }
  100% {
    transform: scale(1);
    opacity: 1; 
  } 
}

.boot-camp-purple-box {
  background-color: #2f2a6a;
  color: white;
  padding: 20px 24px; 
}
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .boot-camp-purple-box {
      padding: 18.5px 28.5px 21px;
      margin: 0 -1rem 11px; 
    } 
  }
  .boot-camp-purple-box > p {
    font-size: 13px;
    line-height: 18px; 
  }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .boot-camp-purple-box > p {
      font-size: 12.5px;
      line-height: normal; 
    } 
  }
  .boot-camp-purple-box > p:last-child {
    margin-bottom: 0;
    margin-top: 25px; 
  }

.boot-camp-box {
  border: 1px solid #616060; 
}
.boot-camp-box .boot-camp-img-mobile {
  display: none; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-box .boot-camp-img-mobile {
    display: block; 
  } 
}
@media screen and (min-width: 40em) {
  .boot-camp-box > img {
    width: 100%; 
  } 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-box > img {
    width: 100%; 
  }
  .boot-camp-box .boot-camp-img-desktop {
    display: none; 
  } 
}

.boot-camp-inner-box {
  padding: 13px 15px 14px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-inner-box {
    padding: 9.5px 14px 12px; 
  } 
}
.boot-camp-inner-box span {
  color: #3a8f93;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; 
}
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .boot-camp-inner-box span {
      font-size: 12.5px; 
    } 
  }
.boot-camp-inner-box h4 {
  color: #911a07;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: -2px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-inner-box h4 {
    font-size: 17.5px;
    line-height: 19px; 
  } 
}

.boot-camp-gray-box {
  background-color: rgba(168, 168, 168, 0.15);
  border: 1px solid #616060;
  padding: 14px 22px 10px 16px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-gray-box {
    padding: 17.5px 25px; 
  } 
}
.boot-camp-gray-box a {
  display: table;
  width: 100%; 
}
.boot-camp-gray-box span {
  color: #3a8f93;
  display: table-cell;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-gray-box span {
    font-size: 13.5px; 
  } 
}
.boot-camp-gray-box img {
  display: table-cell;
  float: right; 
}

.boot-camp-dark-gray-box {
  background-color: rgba(170, 170, 170, 0.65);
  border: 1px solid #616060;
  color: white;
  padding: 30px 22px 34px 16px;
  cursor: pointer; 
}
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .boot-camp-dark-gray-box {
      padding: 17.5px 19px 27.5px 20.5px; 
    } 
  }
  .boot-camp-dark-gray-box h4 {
    font-size: 27px;
    line-height: normal;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif; 
  }
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box h4 {
    font-size: 27.86px; 
  } 
}
.boot-camp-dark-gray-box h1 {
  font-size: 54px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  line-height: 61px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box h1 {
    font-size: 65.95px;
    line-height: 55px; 
  } 
}
.boot-camp-dark-gray-box h1 .dollar {
  font-size: 44px;
  position: relative;
  top: -3px;
  line-height: 44px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box h1 .dollar {
    font-size: 54.5px;
    top: -4px; 
  } 
}
.boot-camp-dark-gray-box h3 {
  color: white;
  font-family: open sans;
  font-size: 37px;
  text-transform: unset;
  margin-bottom: 0; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box h3 {
    font-size: 44.98px; 
  } 
}
.boot-camp-dark-gray-box .h4last {
  margin-top: 3px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box .h4last {
    font-size: 14px; 
  } 
}
.boot-camp-dark-gray-box .h4last > span {
  font-size: 21px;
  display: inline-block;
  margin-top: 2px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box .h4last > span {
    font-size: 14px;
    font-weight: bold; 
  } 
}
.boot-camp-dark-gray-box.small-box {
  padding: 16px 26px 8px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box.small-box {
    padding: 18px 22px 19px; 
  } 
}
.boot-camp-dark-gray-box.small-box > p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box.small-box > p {
    font-size: 17.5px;
    line-height: 22px;
    margin-bottom: 8px; 
  } 
}
.boot-camp-dark-gray-box.small-box h1 {
  font-size: 60px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .boot-camp-dark-gray-box.small-box h1 {
    font-size: 82.7px; 
  } 
}
.boot-camp-dark-gray-box.small-box h1 .plus {
  font-size: 45px;
  position: relative;
  top: -3px; 
}
.reason-section {
  font-size: 13px; 
}
.reason-section h5 {
  color: #911a07;
  font-size: 21px;
  margin-bottom: 14px; 
}
.reason-section .reason-video-item {
  border-bottom: 1px solid #cacaca;
  margin-bottom: 42px;
  padding-bottom: 54px; 
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .reason-section .reason-video-item {
    margin-bottom: 32px;
    padding-bottom: 44px; 
  } 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .reason-section .reason-video-item {
    margin-bottom: 20px;
    padding-bottom: 28px; 
  }
  .reason-section .reason-video-item .text-right {
    margin-top: 6px;
    text-align: left; 
  } 
}
.reason-section .reason-video-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; 
}
.reason-section .reason-video-box {
  border: 1px solid #616060;
  margin-bottom: 6px; 
}


.enlisted-vs-officer {
  font-size: 13px; 
}
.enlisted-vs-officer p:last-child {
  margin-bottom: 0; 
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .enlisted-vs-officer .bold-link > a {
    display: inline-block;
    text-align: left;
    width: 100%; }
  .enlisted-vs-officer .bold-link > span {
    display: none; 
  } 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .enlisted-vs-officer p:last-child {
    margin-bottom: 20px; }
  .enlisted-vs-officer .bold-link > a {
    font-size: 12px; }
  .enlisted-vs-officer .bold-link > span {
    margin: 0; 
  } 
}
.enlisted-vs-officer .enlisted-rightmenu {
  background: #efefef;
  padding: 20px; 
}
.enlisted-vs-officer .enlisted-rightmenu li {
  margin-bottom: 14px; 
}
// .enlisted-vs-officer .enlisted-rightmenu li a {
//   color: black; 
// }
.enlisted-vs-officer .enlisted-rightmenu li P {
  color: black; 
}
// .enlisted-vs-officer .enlisted-rightmenu li a img {
//   margin-right: 16px; }
.enlisted-vs-officer .enlisted-rightmenu li p img {
  margin-right: 16px; 
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .enlisted-vs-officer .enlisted-rightmenu {
    padding: 15px 10px; 
  }
  // .enlisted-vs-officer .enlisted-rightmenu li a img {
  //   margin-right: 10px; } }
  .enlisted-vs-officer .enlisted-rightmenu li p img {
    margin-right: 10px; 
  } 
}
.enlistment-process {
  font-size: 13px; 
}
.enlistment-process ol {
  margin-bottom: 25px; 
}
.enlistment-process ol li {
  padding-left: 20px; 
}
.enlistment-process {
    font-size: 13px;
}
.plus-minus-sign {
    height: 20px;
    width: 20px;
}

.enlistment-process {
  font-size: 13px; 
}
.enlistment-process ol {
  margin-bottom: 25px; 
}
.enlistment-process ol li {
  padding-left: 20px; 
}
.career-detail {
    font-size: 13px;
    overflow: hidden;
    position: relative;
}

.option-military-nutshell {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

  #Military-table {
    display: block;
    width: 100%; } 

#Military-table h5 {
  font-size: 15px;
  font-weight: bold;
  color: #585858;
  text-transform: uppercase;
  margin-top: 5px; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #Military-table h5 {
      font-size: 13px; } }

#Military-table td {
  border-right: 1px solid #bfbfbf;
  width: 20%;
  text-align: left; }

  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    #Military-table td {
      display: block;
      width: 48%;
      height: 190px;
      padding: 10px;
      margin: 1%;
      float: left;
      border: 1px solid #bfbfbf; } }

  #Military-table td:last-child {
    border-right: none; }

    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      #Military-table td:last-child {
        border: 1px solid #bfbfbf; } }
  #Military-table td img {
    display: block; }


#Military-table.military-list-table {
    margin-bottom: 50px;
	
	table tbody {
		border: 0;
	}
}

#Military-table.military-list-table h5 {
    color: #178388;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 16px; }
  #Military-table.military-list-table td {
    text-align: center; }
    #Military-table.military-list-table td img {
      margin: 0 auto; }

#Military-table span.circle {
  width: 32px;
  height: 32px;
  background: #38979b;
  display: block;
  border-radius: 50%;
  margin: 0 auto; 
  line-height: 32px; }
  #Military-table span.circle svg {
    color: white;
    }

.option-military-nutshell {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px; }

.career-detail > h3 {
  color: black;
  font-size: 13px;
  text-transform: none; }

.army_text ul {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 35px;
  margin-left: 0;
  margin-top: 10px;
  width: 100%; }
  .army_text ul li {
    border-bottom: 3px solid #eee;
    float: left;
    margin-right: 1.5%;
    min-height: 96px;
    width: 18.8%; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .army_text ul li {
        display: block;
        width: 100%; } }
    .army_text ul li:last-child {
      margin-right: 0; }

.army_text h3 {
  background-color: #eee;
  font-size: 12px;
  padding: 2px 10px;
  text-transform: none; }

.army_text p {
  font-size: 11px;
  margin-bottom: 0;
  padding: 2px 10px; }

.service_fav_text {
  background-color: #eeeeee;
  padding-top: 1rem;
  margin-bottom: 76px; }
  .service_fav_text > h3 {
    margin-bottom: 1.3rem;
    text-align: center; }
  .service_fav_text #Military-table td {
    text-align: center; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .service_fav_text #Military-table td {
        border: 0; } }
    .service_fav_text #Military-table td img {
      margin: 0 auto; }
    .service_fav_text #Military-table td:first-child img {
      position: relative;
      right: -5px; }
    .service_fav_text #Military-table td h5 {
      color: black;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 6px; }
.becoming-and-officer {
  font-size: 13px; }
  .becoming-and-officer ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 25px; }
    .becoming-and-officer ul li {
      padding-left: 10px; 
	  box-sizing: border-box;
}
.becoming-and-officer .officer-video {
  border: 1px solid #616060;
  cursor: pointer;
  margin-top: 14px; 
}
@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .becoming-and-officer .officer-video {
    margin-bottom: 15px;
    margin-top: 0;
    width: 100%; 
  } 
}
.plus-minus-sign {
  height: 20px;
  width: 20px;
}
.service-lists > span {
  display: block;
  margin-bottom: 8px; }

.service-lists > ul.row {
  list-style-type: none;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0; }
  .service-lists > ul.row > li {
    padding-right: 10px; }

.service-lists .service-lists-info {
  border-top: 1px solid;
  padding: 6px 0 26px; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .service-lists .service-lists-info {
      padding-bottom: 6px; } }
.pay-section {
  font-size: 13px; }
  .pay-section .military-pay {
    background-color: #29afb5;
    display: block;
    font-size: 12px;
    margin: 0 auto 22px;
    padding: 6px 14px; }
    .pay-section .military-pay:hover {
      background-color: #178388; }

@media screen and (min-width: 64em) {
  #pay-modal .modal-lg {
    max-width: 610px; } }

.pay-text-modal, .rank-text-modal {
  color: black;
  margin-bottom: 2rem; }
  .pay-text-modal > p, .rank-text-modal > p {
    line-height: normal; }
  .pay-text-modal label, .rank-text-modal label {
    color: black;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    margin-right: 10px; }
  .pay-text-modal select, .rank-text-modal select {
    background-color: transparent;
    margin-bottom: .8rem;
    max-width: 186px;
    width: 100%; }
  .pay-text-modal .nav-base-head, .rank-text-modal .nav-base-head {
    font-size: 13px;
    line-height: normal;
    margin: 0; }

.pay-text-modal .basic-pay .nav-base-head {
  margin-bottom: -3px; }

.pay-text-modal .basic-pay > span {
  color: #535353;
  font-size: 12px; }

.pay-text-modal .basic-pay > table {
  color: black;
  margin-top: 8px; }

.pay-text-modal .benefits-pay > p {
  color: black;
  line-height: 15px;
  margin-bottom: 30px; }

.rank-text-modal .nav-base-head {
  margin-bottom: 10px; }

.rank-text-modal select {
  margin-bottom: 0; }

.rank-text-modal table td {
  vertical-align: top; }
  .rank-text-modal table td:first-child {
    padding-right: 0; }

.rank-text-modal .officer-table td:first-child {
  max-width: 30px; }

.contact-text-modal .air-force-check {
  margin-bottom: 50px; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .contact-text-modal .air-force-check {
      margin-bottom: 20px; } }
  .contact-text-modal .air-force-check > img {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle; }
    @media screen and (min-width: 0em) and (max-width: 39.9375em) {
      .contact-text-modal .air-force-check > img {
        margin-bottom: 10px; } }
  .contact-text-modal .air-force-check > ul {
    display: inline-block;
    vertical-align: middle; }
    .contact-text-modal .air-force-check > ul ul .checkbox {
      display: inline-block;
      width: 185px; }
      @media screen and (min-width: 0em) and (max-width: 39.9375em) {
        .contact-text-modal .air-force-check > ul ul .checkbox {
          display: block;
          width: 100%; } }
    .contact-text-modal .air-force-check > ul ul .tel-number {
      color: #3c4247;
      display: inline-block;
      font-size: 12px;
      margin: 0; }
      @media screen and (min-width: 0em) and (max-width: 39.9375em) {
        .contact-text-modal .air-force-check > ul ul .tel-number {
          padding-left: 25px; } }

.contact-text-modal .btn-close {
  background-color: #29afb5;
  height: 21px; }
  .contact-text-modal .btn-close:hover {
    background-color: #178388; }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .contact-text-modal .contact-form .form-column {
    max-width: 50%; }
  .contact-text-modal .contact-form label {
    max-width: 90px; }
  .contact-text-modal .contact-form input {
    max-width: 150px; }
  .contact-text-modal .contact-form textarea {
    max-width: 436px; }
  .contact-text-modal .contact-form .checkbox label {
    max-width: 100%; } }

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .contact-text-modal .contact-form input, .contact-text-modal .contact-form select, .contact-text-modal .contact-form textarea {
    max-width: 170px; } }

#contact-modal .close-button-div {
  margin-left: 102px;
  text-align: left; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #contact-modal .close-button-div {
      margin-left: 90px; } }
  #contact-modal .close-button-div .button {
    padding: 4px 20px; }
    #contact-modal .close-button-div .button:last-child {
      margin-left: 34px; }
      @media screen and (min-width: 0em) and (max-width: 39.9375em) {
        #contact-modal .close-button-div .button:last-child {
          display: block;
          margin-left: 0;
          margin-top: 10px; } }

.pay-section {
    font-size: 13px;
}
.full-black-text {
  color: black; }
  .full-black-text ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    line-height: normal; }
  .full-black-text .armyul {
    margin: 0 0 25px; }
  .full-black-text p {
    line-height: normal;
    margin-bottom: 25px; }

.purple-title-box {
  background-color: #efefef;
  color: #2f2a6a;
  font-size: 0.927rem;
  font-weight: bold;
  margin-bottom: 0;
  padding: 6px 15px;
  text-transform: uppercase;
  margin-bottom: 7px; }

.left-border {
  border-left: 1px solid #bfbfbf; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .left-border {
      border-left: none; } }
