<app-spinner></app-spinner>
<div class="advanced-search">
    <div id="main" class="section">
        <div class="row">

            <mat-card id="searchCriteria" class="column row">
                <div class="small-12 columns">
                    <h1 class="page-title-sm">ADVANCED SEARCH</h1>
                </div>
            </mat-card>
            <!-- right gray sidebar -->
            <mat-card id="filters" class="small-12 medium-3 columns career-detail">

                <!-- Filter  -->
                <div id="filter-actions">
                    <p class="show-for-medium"><a (click)="onClearSearch()">Clear Selections</a></p>
                    <span class="keyword-text">Keyword</span>
                    <form id="search" class="mini-form ng-pristine ng-valid">
                        <input type="search" id="keyword" [(ngModel)]="keyword" placeholder="Search on" (input)="setSearchListFilters()" [ngModelOptions]="{standalone: true}">
                    </form>
                </div>

                <!-- Accordion  -->
                <mat-accordion id="advance-search"
                    class="mat-expansion-panel-group mat-accordion-right-icon mat-accordion-text">
                    <mat-expansion-panel #panel1>
                        <mat-expansion-panel-header class="transform_auto"> Military Service </mat-expansion-panel-header>
                        <div class="ac-text-wrap">
                            <ul class="service-check-list">
                                    <div *ngFor="let s of serviceCheckboxValue; let i = index">
                                        <li><input type="checkbox" [id]="s.id" [value]="s.value" (click)="serviceClicked($event)"><label [for]="s.id">{{ s.text }}</label></li>
                                    </div>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel #panel2>
                        <mat-expansion-panel-header class="transform_auto"> 
                            <span>Type</span>
                        </mat-expansion-panel-header>
                        <div class="ac-text-wrap">
                            <span>(select one optional)</span>
                            <ul class="service-check-list">
                                <div *ngFor="let t of typeCheckboxValue; let i = index"  >
                                    <li>
                                        <input 
                                            type="checkbox" 
                                            [id]="t.id" 
                                            [value]="t.value"
                                            (click)="checkboxClicked()"
                                            [attr.disabled]="
                                                typeSelected !== undefined && typeSelected !== t.value.toLowerCase()
                                                ? ''
                                                : null
                                            "
                                        >
                                        <label [for]="t.id">
                                            {{ t.text }}
                                        </label>
                                        <ul class="service-check-sub-list" *ngIf="loggedIn && compositeScores && typeSelected === 'enlisted' && t.value.toLowerCase() === 'enlisted'">
                                            <div>
                                                <li>
                                                    <input 
                                                        type="checkbox" 
                                                        [id]="t.eligibleId" 
                                                        [value]="t.eligibleValue"
                                                        (click)="eligibleClick()"
                                                        
                                                    >
                                                    <label [for]="t.eligibleId">Jobs I may be eligible for</label>
                                                    <a (click)="openDescription('occufind-explain')" class="occufind-explain alt"></a>
                                                </li>
                                            </div>
                                        </ul> 
                                    </li>
                                </div>
                            </ul> 
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel #panel3>
                        <mat-expansion-panel-header class="transform_auto">
                            <span>Interests</span>
                        </mat-expansion-panel-header>
                        <div class="ac-text-wrap">
                            <span>(select up to two)</span>
                            <ul class="service-check-list">
                                    <div *ngFor="let t of interestCheckboxValue; let i = index">
                                        <li>
                                            <input 
                                                type="checkbox"
                                                [id]="t.id"
                                                [value]="t.value"
                                                (click)="checkboxClicked()"
                                                [attr.disabled]="
                                                    interestsSelected.indexOf(t.value.toLowerCase()) <= -1 && interestsSelected.length >= 2
                                                    ? ''
                                                    : null
                                                "
                                            >
                                            <label [for]="t.id">
                                                {{ t.text }}
                                            </label>
                                        </li>
                                    </div>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel #panel5>
                        <mat-expansion-panel-header class="transform_auto">
                            <span>Work Values</span>
                        </mat-expansion-panel-header>
                        <div class="ac-text-wrap">
                            <span>(select up to three)</span>
                            <ul class="service-check-list">
                                    <div *ngFor="let t of workValuesCheckboxValue; let i = index">
                                        <li>
                                            <input 
                                                type="checkbox"
                                                [id]="t.id"
                                                [value]="t.value"
                                                (click)="checkboxClicked()"
                                                [attr.disabled]="
                                                    workValuesSelected.indexOf(t.value.toLowerCase()) <= -1 && workValuesSelected.length >= 3
                                                    ? ''
                                                    : null
                                                "
                                            >
                                            <label [for]="t.id">
                                                {{ t.text }}
                                            </label>
                                        </li>
                                    </div>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel #panel4>
                        <mat-expansion-panel-header class="transform_auto"> Featured Category
                        </mat-expansion-panel-header>
                        <div class="ac-text-wrap">
                            <ul class="service-check-list">
                                    <div *ngFor="let f of fcCheckboxValue; let i = index"  >
                                            <li><input type="checkbox" [id]="f.id" [value]="f.value" (click)="checkboxClicked()"><label [for]="f.id">{{ f.text }}</label></li>
                                        </div>
                        </ul>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- This is for small device-->
                <div class="row column search-bar hide-for-medium" id="search-result-mobile-scroll-to">
                    <div id="mobile-filter-actions" class="hide-for-medium"> <a class="button striped"
                            (click)="scrollToElement('searchResults')">SEARCH</a> </div>
                </div>

                <!-- Other Ways to search list -->
                <div id="other-ways">
                    <h4>Other Ways to search</h4>
                    <div class="">
                        <a routerLink="/career-cluster">Career Clusters</a><br />
                        <a routerLink="/job-family">Job Family</a> </div>
                </div>

            </mat-card>

            <!-- Left side Content -->
            <mat-card id="searchResults" class="small-12 medium-9 medium-pull-3 columns career-detail">

                <!-- This is Mobile sticky search filter -->
                <div id="sticky" class="row small-12 column search-bar text-center hide-for-medium">
                    <a (click)="scrollToElement('searchCriteria')">
                        <i class="icon-arrow-up"></i>
                        Search Filters
                    </a>
                </div>

                <div class="row">
                    <div class="small-12 columns">

                        <!-- This is Top pagination -->
                        <div class="row show-for-medium">
                            <div id="found-text" class="small-4 columns">
                                <strong>{{ numberOfCareers }} careers found:</strong>
                            </div>
                            <div id="tools" class="small-8 columns">
                                <div *ngIf="isLoggedIn()" class="show-for-medium"> 
                                    <span id="favoritesCount"><span class="inner-fav"> {{ favoritesCount }}</span><a routerLink="/profile"><i class="favorite fas fa-heart" title="Favorites"></i></a> </span>
								</div>
								<div *ngIf="isLoggedIn()" >
                                    <i class="icon-save" (click)="verifySave()" title="Save Search"></i>
								</div>
								<div id="sort" class="show-for-medium"> 
                                    <i class="icon-details" [ngClass]="viewLess ? '' : 'active'" (click)="onChangeView('Detail')" title="Detail View"></i> 
									<a class="icon-list" [ngClass]="viewLess ? 'active' : ''" (click)="onChangeView('List')" title="List View">
										<i class="fas fa-list-ul" [ngClass]="viewLess ? 'active' : ''" title="List View"></i>
									</a> 
                                </div>
                                <div id="pagination"> <span>{{ currentCareer }} - {{  lastCareerOnPage }} of
                                        {{ numberOfCareers }}</span>
                                    <i class="icon-left" [ngClass]="currentCareer === 1 ? 'disabled' : ''" (click)="onPreviousSet()"></i> 
                                    <i class="icon-right" [ngClass]="lastCareerOnPage === numberOfCareers ? 'disabled' : ''" (click)="onNextSet()"></i>
                                </div>
                            </div>
                        </div>
                   
                        <!-- This is Sort by select option  -->
                        <div class="row sort-by-mobile">
                            <div class="small-12 columns mo-p-0">
                                <p class="sort-by">
                                    <strong>Sort by skill importance:</strong>
                                    <mat-form-field ngClass="menu-dropdown">
                                        <mat-select [(value)]="selectedValue"
                                            (selectionChange)="onSkillChange()">
                                            <mat-option *ngFor="let option of menuOptions" value="{{option.value}}"
                                                class="dropdown-item" [class.selected]="isSelected(option.value)">
                                                {{option.displayValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>

                        <ul id="searchTabs" *ngIf="displayTabs" class="tab-nav">
                                <li [ngClass]="mostImportant ? 'active' : ''"><a
                                        (click)="onClickTab('Most')">Most Important</a></li>
                                <li [ngClass]="moderateImportant ? 'active' : ''"><a
                                        (click)="onClickTab('Moderate')">Moderately Important</a></li>
                                <li [ngClass]="leastImportant ? 'active' : ''"><a
                                        (click)="onClickTab('Least')">Least Important</a></li>
                            </ul>
                            <div *ngIf="displayTabs" class="tab"></div>

                        <!-- <mat-tab-group> -->
                        <div id="sort-tabs" class="row">
                            <div class="small-12 columns mo-p-0">
                                <!-- <mat-tab label="Most Important"> -->
                                <!-- This is for small device -->
                                <div class="row text-center hide-for-medium" id="mobile-found-careers">
                                    <span id="found-text">
                                        <strong>{{ numberOfCareers }} careers found:</strong>
                                    </span>
                                    <span id="tools">
                                        <a *ngIf="!viewLess" (click)="onChangeView('List')">View Less Details</a>
                                        <a *ngIf="viewLess" (click)="onChangeView('Detail')">View More Details</a>
                                    </span>
                                </div>

                                <!-- This is for careers full Details option -->
                                <mat-card *ngIf="displayList && displayList.length > 0 && !viewLess" class="row career">
                                    <div *ngFor="let item of displayList" class="small-12 columns">
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <a routerLink="/career-detail/{{item.slug}}">
                                                    <h3 class="ng-binding">{{item.title}}
													<i *ngIf="item.isHotJob === 'T'" class="icon-hotjob ng-scope" title="Positions related to this job are reported as critical fill."></i>
													<i class="hide-for-medium pull-right icon-right"
													routerLink="/career-detail/{{item.slug}}"></i></h3>
                                                </a>
                                            </div>
                                            <div class="small-8 columns">
                                                <div class="career-details">
                                                    <div class="row">
                                                        <div class="small-6 columns">
                                                            <ul class="checked">
                                                                <li class="ul" [class.checked]="item.isEnlisted == 'T'"
                                                                    [class.li.inactive]="item.isEnlisted != 'T'">
                                                                    Enlisted</li>
                                                                <li class="ul" [class.checked]="item.isOfficer == 'T'"
                                                                    [class.li.inactive]="item.isOfficer != 'T'">Officer
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="small-6 columns">
                                                            <ul class="checked">
                                                                <li class="ul"
                                                                    [class.checked]="item.isActiveDuty == 'T'"
                                                                    [class.li.inactive]="item.isActiveDuty != 'T'">
                                                                    Active Duty</li>
                                                                <li class="ul" [class.checked]="item.isReserve == 'T'"
                                                                    [class.li.inactive]="item.isReserve != 'T'">Reserve
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="small-12 columns services">
                                                            <h4 class="hide-for-small">Services Offering this Occupation
                                                            </h4>
                                                            <a routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isArmy == 'T'"
                                                                src="assets/images/army.png"> 
                                                            </a>
                                                            <a  routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isMarines == 'T'"
                                                                src="assets/images/marines.png"> 
                                                            </a>
                                                            <a  routerLink="/career-detail/{{item.slug}}">    <img *ngIf="item.isNavy == 'T'" 
                                                                src="assets/images/navy.png">
                                                            </a>
                                                            <a  routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isAirForce == 'T'"
                                                                src="assets/images/air-force.png">
                                                            </a>
                                                            <a  routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isSpaceForce == 'T'"
                                                                src="assets/images/space-force.png">
                                                            </a>
                                                            <a  routerLink="/career-detail/{{item.slug}}"><img *ngIf="item.isCoastGuard == 'T'"
                                                                src="assets/images/coast-guard.png">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-4 columns">
                                                <div class="list-img-wrapp">
                                                    <img [src]="item.imageUrl">
                                                    <span class="actions"  [ngStyle]="myStyle">
                                                        <a (click)="onFavoriteClick(item)">
															<i *ngIf="!item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" title="Save your favorite occupations to your portfolio." aria-labelledby="svg-inline--fa-title-PhjJggyI89gG" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><title id="svg-inline--fa-title-PhjJggyI89gG">Save your favorite occupations to your portfolio.</title><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></i>

										  					<i *ngIf="item.favorited"><svg _ngcontent-blg-c5="" class="svg-inline--fa fa-heart fa-w-16 favorite ng-star-inserted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></i>
														</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </mat-card>


                                <!-- This is for careers list option -->
                                <mat-card *ngIf="displayList && displayList.length > 0 && viewLess" class="search-list show-for-medium">
                                    <div class="row">
                                        <div class="small-12 medium-6 columns">
                                            <ul>
                                                <li *ngFor="let item of displayList | slice: 0: halfListSize ">
													<a  routerLink="/career-detail/{{item.slug}}">{{item.title}}</a>
													<i *ngIf="item.isHotJob === 'T'" class="icon-hotjob ng-scope" title="Positions related to this job are reported as critical fill."></i>
												</li>
                                            </ul>
                                        </div>
										<div class="small-12 medium-6 columns">
                                            <ul>
                                                <li *ngFor="let item of displayList | slice: halfListSize  : 10">
													<a routerLink="/career-detail/{{item.slug}}">{{item.title}}</a>
													<i *ngIf="item.isHotJob === 'T'" class="icon-hotjob ng-scope" title="Positions related to this job are reported as critical fill."></i>
												</li>
                                            </ul>
                                        </div>
                                    </div>
                                </mat-card>
                                <!-- This is for careers list option small screen -->
                                <mat-card *ngIf="displayList && displayList.length > 0 && viewLess" class="search-list hide-for-medium">
                                    <div class="row">
                                        <div class="small-12 medium-6 columns">
                                            <ul mat-list>
                                                <li *ngFor="let item of displayList">
                                                    <a  routerLink="/career-detail/{{item.slug}}">{{item.title}}</a>
                                                    <i *ngIf="item.isHotJob === 'T'" class="icon-hotjob ng-scope"
                                                        title="Positions related to this job are reported as critical fill."></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </mat-card>

                                <!-- This is for small device -->
                                <div class="small-12 columns hide-for-medium">
                                    <a *ngIf="lastCareerOnPage !== numberOfCareers" (click)="onLoadMore()" class="button striped load-more" >LOAD MORE</a>
                                </div>
                                <p class="text-center hide-for-medium">
                                    <a (click)="onClearSearch()">Clear Search</a>
                                </p>

                            </div>
                        </div>

                        <!-- This is for bottom pagination top border  -->
                        <div class="row show-for-medium">
                            <div class="small-12 columns">
                                <hr style="margin-bottom: 0" />
                            </div>
                        </div>

                        <!-- This is bottom pagination -->
                        <div class="row show-for-medium">
                            <div id="found-text" class="small-4 columns">
                                <strong>{{ numberOfCareers }} careers found:</strong>
                            </div>
                            <div id="tools" class="small-8 columns">
                                <div *ngIf="isLoggedIn()" class="show-for-medium"> 
                                    <span id="favoritesCount"><span class="inner-fav"> {{ favoritesCount }}</span><i class="favorite fas fa-heart"></i> </span>
								</div>
								<div  *ngIf="isLoggedIn()">
                                    <i class="icon-save" (click)="verifySave()"></i>
								</div>
								<div id="sort" class="show-for-medium"> 
                                    <i class="icon-details" [ngClass]="viewLess ? '' : 'active'" (click)="onChangeView('Detail')" title="Detail View"></i> 
                                    <a class="icon-list" [ngClass]="viewLess ? 'active' : ''" (click)="onChangeView('List')" title="List View">
										<i class="fas fa-list-ul" [ngClass]="viewLess ? 'active' : ''" title="List View"></i>
									</a> 
                                </div>
                                <div id="pagination"> <span>{{ currentCareer }} - {{  lastCareerOnPage }} of
                                        {{ numberOfCareers }}</span>
                                    <i class="icon-left" [ngClass]="currentCareer === 1 ? 'disabled' : ''"  (click)="onPreviousSet()"></i> 
                                    <i class="icon-right"  [ngClass]="lastCareerOnPage === numberOfCareers ? 'disabled' : ''" (click)="onNextSet()"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>