/* modal Structure CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
	margin: 0;
}
a {
    color: #178388;
    cursor: pointer;
    line-height: inherit;
    text-decoration: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.text-center {
	text-align: center;
}
.custom-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 1050;
}
.custom-modal-content {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cacaca;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    outline: 0;
    font-size: 13px;
}
.custom-modal-body {
    position: relative;
    padding: 15px;
}
.modal-options {
    color: #3d4243;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

/* Column css */
.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 66.4375rem;
}
.column, .columns {
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
}
@media screen and (min-width: 640px) {
	.medium-6 {
		width: 50%;
	}
}

/* Modal Title */
.titles {
	position:relative;
}
button {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-color: transparent;
	border: 0 none;
	border-radius: 3px;
	cursor: auto;
	line-height: 1;
	padding: 0;
}
.modal-options .close-button {
	color: #2f2a6a;
	cursor: pointer;
	font-size: 19px;
	font-weight: bold;
	line-height: 1;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
}
.modal-options h4 {
    background-color: #e6e8e8;
    color: #3d4243;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    padding: 5px 25px 5px 10px;
	margin:0;
	font-weight: normal;
}
.modal-options .nav-base-head {
	color: #2f2a6a;
	font-size: 13px;
	line-height: normal;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.modal-options .pay-text-modal {
	color: black;
	margin-bottom: 2rem;
	display: inline-block;
}
.modal-options .pay-text-modal label {
	color: black;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	margin-right: 10px;
}
select {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-color: #fafafa;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" width=\"32\" height=\"24\" viewBox=\"0 0 32 24\"><polygon points=\"0,0 32,0 16,24\" style=\"fill: rgb(51, 51, 51)\"></polygon></svg>");
	background-position: right -15px center;
	background-repeat: no-repeat;
	background-size: 9px 6px;
	border: 1px solid #cacaca;
	border-radius: 0;
	color: #8a8a8a;
	display: inline;
	font-family: inherit;
	font-size: 12px;
	height: 1.2rem;
	line-height: normal;
	padding: 0 0.5rem;
}

/* IE only css */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	select {
	    background-image: url('assets/images/down-arrow.png');
	    background-position: right -15px center;
	    background-repeat: no-repeat;
	    outline: none;
	}
}

.modal-options .pay-text-modal select{
	background-color: transparent;
	padding-right: 25px;
	margin-bottom: 0;
	max-width: 180px;
	width: 100%;
}
.modal-options .pay-text-modal .benefits-pay > p {
	color: black;
	line-height: 15px;
	margin-bottom: 30px;
}
hr {
	border-color: -moz-use-text-color -moz-use-text-color #cacaca;
	border-style: none none solid;
	border-width: 0 0 1px;
	clear: both;
	height: 0;
	margin: 1.25rem 0 7px;
	max-width: 62.5rem;
	display: inline-block;
	width: 100%;
}

/* Modal Table */
table {
	border-collapse: collapse;
	border-radius: 3px;
	margin-bottom: 1rem;
	width: 100%;
}
table tbody {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
}
.modal-options .border table tr > td, 
.modal-options .border table tr > th {
	border-right: 1px solid #ccc;
}
.modal-options .border table tr > td:last-child, 
.modal-options .border table tr > td:last-child, 
.modal-options .border table tr > th:last-child, 
.modal-options .border table tr > th:last-child {
	border-right: medium none;
}
table tbody th, table tbody td {
	padding: 0.125rem 0.625rem 0.2rem;
}
table tbody tr:nth-child(2n) {
	background-color: #f1f1f1;
	border-bottom: 0 none;
}

/* Close Bottom Button */
.modal-options .close-button-div .button {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 5px 20px;
	width: 100px;
	background: #178388 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-align: center;
	transition: all 0.25s ease-out 0s;
	vertical-align: middle;
	text-transform: uppercase;
}
.modal-options .close-button-div .button:hover, .modal-options .close-button-div .button:focus {
	background: #146f74 none repeat scroll 0 0;
	color: #fff;
}

/* Media Css */
@media screen and (min-width: 768px){
	.custom-modal-dialog {
		margin: 30px auto;
		width: 600px;
	}
	.custom-modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

@media screen and (min-width: 992px) {
	.custom-modal-lg {
		width: 900px;
	}
}

@media screen and (max-width: 639px) {
	.table-contents {
		overflow: auto;
	}
}




