<div class="row">
  <div class="small-12 medium-4 large-4 column">
    <p class="bodysize"><b>To officially join the Military, a recruiter will schedule your visit to a MEPS (Military
        Entrance Processing Station). MEPS determines an applicant's physical qualifications, aptitude, and moral
        standards as set by each branch of military service. The process may take up to three days, and food and
        lodging are usually provided.</b></p>
  </div>
  <div class="small-12 medium-8 large-8 column">


    <iframe width="100%" height="315" src="https://www.youtube.com/embed/QBLNEhF6bS8?rel=0" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 large-12 column">
    <p>These are some general rules to apply to your MEPS visit:</p>
    <ol mat-list>
      <li>Discuss any childhood medical problems with your parents and bring documentation with you.</li>
      <li>Bring your Social Security card, birth certificate and driver's license.</li>
      <li>Remove earrings (they obstruct the headset used for the hearing test).</li>
      <li>Profanity and offensive wording or pictures on clothing are not tolerated.</li>
      <li>Hats are not permitted inside the MEPS.</li>
      <li>If you wear either eyeglasses or contacts, bring them along with your prescription and lens case.</li>
      <li>Bathe or shower the night before your examination.</li>
      <li>Wear neat, moderate, comfortable clothing - don't forget underclothes.</li>
      <li>Don't bring stereo headphones, watches, jewelry, excessive cash or any other valuables.</li>
      <li>Get a good night's sleep. Processing starts early at the MEPS -- you must report on time.</li>
    </ol>
  </div>
</div>