<p class="bodysize"><b>Both enlisted and officer careers provide rewarding experiences, educational and
    training
    benefits, and competitive compensation, but the requirements, commitments, and responsibilities are
    different
    for enlisted service members vs. officers. </b></p>
<p>Learning about the individual branches, examining yourself, and talking to family can help you make a
  decision. The path that is right for you greatly depends upon your personal, educational and
  professional goals.
  One key consideration is whether or not you intend to earn a college degree before joining.</p>
<p>You may choose to join the Military as an enlisted service member. When you enlist with a high school
  diploma
  or GED, you immediately begin earning college credits while you learn a job integral to your chosen
  branch's
  mission. Enlisted personnel have specialties within the Military. After you enlist, you may work toward
  a
  college degree and strive to become an officer, if you wish. </p>
<p>The top rank that can be earned for initial enlistment is E-3. You may earn an initial enlistment rank of
  E-1,
  E-2 or E-3 with 20 or more semester hours of credit from a degree-granting college or university.</p>

<div data-type="section-break"><hr /></div>

  <p>You may opt to earn a college degree first, then join as an officer. This is an attractive option for
    those
    who feel called to lead. If you are already attending or wish to attend college, the Military may be
    able to
    help you do so. When you join with a college degree in hand, the Military will provide the training you
    need to
    become an effective and responsible leader.</p>
  <p>Officers manage enlisted personnel; they plan missions, provide orders, and assign tasks. They are the
    problem
    solvers, influencers and planners who lead the enlisted personnel. </p>
  <p>You may even decide to join after having gained specialized, professional skills related to healthcare,
    law
    and ministry professionals. </p>


  <div data-type="section-break"><hr /></div>



      <div class="enlisted-rightmenu">
        <p><b>Key Differences between Enlisted Personnel and Military Officers</b></p>
        <ul mat-list>
          <li>
            <p><img src="assets/images/enlisted-menu-icon1.png" alt="">Basic training</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon1.png" alt="">Basic training</a>  -->
          </li>
          <li>
            <p><img src="assets/images/enlisted-menu-icon2.png" alt="">Schooling</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon2.png" alt="">Schooling</a> -->
          </li>
          <li>
            <p><img src="assets/images/enlisted-menu-icon3.png" alt="">Advancement</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon3.png" alt="">Advancement</a> -->
          </li>
          <li>
            <p><img src="assets/images/enlisted-menu-icon4.png" alt="">Time commitment</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon4.png" alt="">Time commitment</a> -->
          </li>
          <li>
            <p><img src="assets/images/enlisted-menu-icon5.png" alt="">Technical training</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon5.png" alt="">Technical training</a> -->
          </li>
          <li>
            <p><img src="assets/images/enlisted-menu-icon6.png" alt="">Pay</p>
            <!-- <a routerLink="#"><img src="assets/images/enlisted-menu-icon6.png" alt="">Pay</a> -->
          </li>
        </ul>
      </div>
