<div class="row">
  <div class="small-12 medium-12 large-12 column">
    <p><strong>The Military is comprised of 12 branches: five Active Duty and seven part-time duty.</strong></p>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 large-6 column">
    <h5 class="purple-title-box">Full time</h5>
    <p>Full-time members of the Military are immersed in military culture. They live on base, in military
      housing or
      in civilian communities.</p><strong>Active Duty</strong>
    <p>Active Duty is a similar time commitment to working at a full-time civilian job. Active-duty service
      members
      live on base or in military housing and immersed in military culture. After attending boot camp, they
      are
      stationed at a base either domestically or overseas. Active-duty terms typically last two to six years.
      The
      length of deployment varies depending on a unit's specific mission.</p>
    <ul class="armyul" mat-list="">
      <li><a href="https://www.goarmy.com/careers-and-jobs.html" target="_blank"><strong>Army
            Careers</strong></a></li>
      <li><a href="https://www.marines.com/becoming-a-marine/overview.html" target="_blank"><strong>Marine
            Corps
            Careers</strong></a></li>
      <li><a href="https://www.navy.com/careers.html" target="_blank"><strong>Navy Careers</strong></a></li>
      <li><a href="https://www.airforce.com/careers/" target="_blank"><strong>Air Force Careers</strong></a>
      </li>
      <li><a href="https://www.airforce.com/careers/browse-careers/space" target="_blank"><strong>Space Force
            Careers</strong></a>
      </li>
      <li><a href="https://www.gocoastguard.com/active-duty-careers/" target="_blank"><strong>Coast Guard
            Careers</strong></a></li>
    </ul>
  </div>
  <div class="small-12 medium-6 large-6 column left-border">
    <h5 class="purple-title-box">Part time</h5>
    <p>Part-time service members attend boot camp and train one weekend a month and two weeks a year, allowing
      them
      time to pursue a civilian career or college. Part-time service options fall under two types: Reserve and
      National Guard.</p>
    <p><strong>Reserve</strong><br />Reservists are part-time service members who maintain trained units at home
      while
      active-duty service members are deployed. Each active-duty branch of the Military has a Reserve component under
      their command, which is available for active-duty deployment in times of war or national emergency. Some
      active-duty service members switch to the Reserve to finish out their service commitment.</p>
    <ul class="armyul" mat-list="">
      <li><a href="https://www.goarmy.com/reserve/jobs.html" target="_blank"><strong>Army Reserve
            Careers</strong></a></li>
      <li><a href="https://www.marines.com/becoming-a-marine/overview.html" target="_blank"><strong>Marine
            Corps
            Reserve Careers</strong></a></li>
      <li><a href="https://www.navy.com/careers.html" target="_blank"><strong>Navy Reserve
            Careers</strong></a></li>
      <li><a href="https://afreserve.com/jobs/" target="_blank"><strong>Air Force Reserve Careers</strong></a>&nbsp;
      </li>
      <li><a href="https://www.gocoastguard.com/reserve-careers" target="_blank"><strong>Coast Guard Reserve
            Careers</strong></a></li>
    </ul><strong>National Guard</strong>
    <p>The Guard are part-time service members whose main focus is on homeland security and humanitarian relief.
      National Guard units assist communities in their state during emergencies like storms, floods, fires and
      other
      natural disasters.</p>
    <p>The two Guard branches, Army National Guard and the Air National Guard, are made up of 54 separate
      organizations: one for each of the 50 states, U.S.-owned territories and the District of Columbia. Each
      group
      goes by its state name (for example, the New York National Guard) and reports to that state's governor.
      During
      times of conflict, the president can federalize the National Guard and its service members can be
      deployed
      overseas.</p>
    <p>National Guard service members deployed overseas may see combat, but are also assigned noncombat
      humanitarian
      tasks, such as building schools and hospitals, training local peacekeepers and other community-building
      projects.</p>
    <ul mat-list="">
      <li><a href="https://www.nationalguard.com/careers/" target="_blank"><strong>Army National Guard
            Careers</strong></a></li>
      <li><a href="https://www.goang.com/careers" target="_blank"><strong>Air National Guard
            Careers</strong></a></li>
    </ul>
  </div>
</div>