<div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
  <div class="row" ng-init="showAge = false;">
    <div class="small-12 medium-12 large-12 column">
      <p class="bodysize"><strong>Basic Enlistment Requirements</strong></p>
      <p class="bodysize">There are a few requirements to join (or enlist in) the Military. Some jobs&nbsp;may have
        additional requirements, but generally speaking, to enlist you must:</p>
      <ol mat-list="">
        <li>Be 18 (or 17 with parental consent). The maximum age to join most Services is 35. However, the Air
          Force
          allows entry up to 39 years of age and the Navy only 34. <a (click)="showAge = !showAge;"
            class="ng-binding">Show Age Requirements [v]</a>
          <table [hidden]="!showAge" class="ng-hide k-table">
            <tbody>
              <tr>
                <td><strong>Army</strong></td>
                <td><strong>Marine Corps</strong></td>
                <td><strong>Navy</strong></td>
                <td><strong>Air Force</strong></td>
                <td><strong>Coast Guard</strong></td>
              </tr>
              <tr>
                <td>Active Duty</td>
                <td>17-34</td>
                <td>17-29</td>
                <td>17-39</td>
                <td>17-39</td>
                <td>17-31</td>
              </tr>
              <tr>
                <td>Reserve</td>
                <td>17-34</td>
                <td>17-29</td>
                <td>17-39</td>
                <td>17-39</td>
                <td>17-40</td>
              </tr>
              <tr>
                <td>Guard</td>
                <td>17-35</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>17-39</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>Service Academies</td>
                <td>17-22</td>
                <td>17-22</td>
                <td>17-22</td>
                <td>17-22</td>
                <td>17-22</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>Be a U.S. citizen or resident alien.</li>
        <li>Have a high school diploma (preferred), but a high school equivalent such as the
          GED may be accepted.
        </li>
        <li>Take the ASVAB test to determine job placement. Each job and each Service requires
          a different score. The best source of this information is a <a
            (click)="redirect('options-contact-recruiter')">recruiter</a>.
        </li>
        <li>Pass a physical fitness exam.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="small-1 medium-1 large-1 column"><img
        src="https://dev-media.careersinthemilitary.com/citm-images/Download_icon.gif" /></div>
    <div class="small-11 medium-11 large-11 column">
      <p>Download the checklist of basic eligibility requirements,&nbsp;<a
          href="https://legacy-dev.asvabprogram.com/pdf/Military_Check_list.pdf"
          style="font-family:Calibri, sans-serif;font-size:11pt;" target="_blank">here</a><span
          style="font-family:Calibri, sans-serif;font-size:11pt;">.<br /></span><span
          style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">The Department of Defense
          Instruction for qualification standards can be found <a href="https://www.asvabprogram.com/pdf/130426p.pdf"
            target="_blank">here</a>.</span><br /></p>
    </div>
    <div class="row"></div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <p><strong>Medical Eligibility<br /></strong><span style="font-family:Calibri, sans-serif;font-size:11pt;">There
          many common medical conditions that preclude potential applicants from service. The complete list of
          conditions is available in this document:&nbsp;</span><a href="https://www.asvabprogram.com/pdf/613003p.pdf"
          style="font-family:Calibri, sans-serif;font-size:11pt;" target="_blank">DoD Instruction 6130.03 Medical
          Standards For Appointment, Enlistment, Or Induction Into The Military Services</a><span
          style="font-family:Calibri, sans-serif;font-size:11pt;">. Check with your recruiter to determine waiver
          eligibility.&nbsp;</span></p>
      <p><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;"></span><strong>Tattoo
          Policy</strong><br /><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">Each
          Service has its own tattoo policy 
          
          <!-- <em>[</em><em>infographic coming soon].</em> --> 
          
          <!-- New Changes -->
          <div class="cep_tabs tattoos_tabs tabbed">
            <ul class="nav nav-tabs">
              <li class="active"><a href="javascript:;" aria-controls="army" role="tab" data-toggle="army"><img
                    src="{{citmimages}}army.png"><span>Army</span></a></li>
              <li><a href="javascript:;" aria-controls="marine_corps" role="tab" data-toggle="marine_corps"><img
                    src="{{citmimages}}marines.png"><span>Marine Corps</span></a></li>
              <li><a href="javascript:;" aria-controls="navy" role="tab" data-toggle="navy"><img
                    src="{{citmimages}}navy.png"><span>Navy</span></a></li>
              <li><a href="javascript:;" aria-controls="air_force" role="tab" data-toggle="air_force"><img
                    src="{{citmimages}}airforce.png"><span>Air Force</span></a></li>
              <li><a href="javascript:;" aria-controls="coast_guard" role="tab" data-toggle="coast_guard"><img
                    src="{{citmimages}}coast-guard.png"><span>Coast Guard</span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active army_content" id="army">
                <img src="{{citmimages}}tattoo_tab1.jpg">
              </div>
              <div role="tabpanel" class="tab-pane marine_corps_content" id="marine_corps">
                <img src="{{citmimages}}tattoo_tab2.jpg">
              </div>
              <div role="tabpanel" class="tab-pane navy_content" id="navy">
                <img src="{{citmimages}}tattoo_tab3.jpg">
              </div>
              <div role="tabpanel" class="tab-pane air_force_content" id="air_force">
                <img src="{{citmimages}}tattoo_tab4.jpg">
              </div>
              <div role="tabpanel" class="tab-pane coast_guard_content" id="coast_guard">
                <img src="{{citmimages}}tattoo_tab5.jpg">
              </div>
            </div>
          </div>
          <p dir="ltr">
            <em>Caption: Representation of the tattoo regulations for all military Services, as of January 2020. Visit the Service
              websites for official policies.</em>
          </p>
          <!-- Changes Over -->
        
        </span></p>
      <p><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">Once
          you&nbsp;</span>understand all of the enlistment requirements, check out the <a
          (click)="redirect('options-enlistment-process')">
          enlistment
          process
        </a>.
      </p>
    </div>
  </div>
  <div class="row">
    <section class="small-12 contact-bar"><a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
    </section>
  </div>
</div>