<!-- section: option-military-nutshell -->
<p class="option-military-nutshell"><strong>The United States Military is part of the Department of Defense, the
  largest employer in the world. There are opportunities to work full-time or part-time, get a degree or
  participate in hobbies, travel the world or sit at a desk. Each branch of the Military has a unique mission.
  Here
  they are in a nutshell:</strong></p>

  <div data-type="section-break"><hr /></div>

<!-- section: career-detail-->
<div class="career-detail">
  <p>There's nothing we can tell you about the Services that they can't tell you better so, we'll let them tell
    you
    about them. We're here to tell you about them as a whole. Like a gap year, trade school, or college, the
    Military
    is an option. And just like the others, it is not one-size-fits-all.</p>
</div>

<div class="military_text career-detail">
  <h3>The Military</h3>
  <p>You've probably heard of the five service branches, but did you know there are actually 12? Each offers
    unique
    jobs, benefits, and time-commitment options that give you the flexibility to live the life you want.</p>
</div>

<div data-type="section-break"><hr /></div>

<!-- section: military_text career-detail -->
<div class="military_text career-detail">
  <h3>Debt-free. Degree. Desk job. Downtime. Do you think you have the Military all figured out? Think again.</h3>
  <br>
  <p>Like any other career, you can work (or serve) while you go to school (or go to school while you serve). You
    can sit behind a desk or travel the world. You can take vacations. You can enjoy your hobbies and downtime
    with
    family and friends, all while earning a paycheck and getting invaluable experience.</p>
  <p>You may be one of those people who thinks, "I know the Military is not for me," but have you ever actually
    thought about why you think that? Same for those who know for sure that you want to join. Have you asked
    yourself
    why?</p>
  <p>Gender, geographic location, and influencers (like parents and friends) all play a role in the types of
    messages you receive about your ability and role in society. These messages shape your identity.</p>
  <p>We'd like you to step outside what you think you know and get to know the Military. We can only promise you
    one
    thing, you won't leave this site afraid of what you don't know.</p>
  <h3>You say, no military? We say, know military.</h3>
</div>