
  <p>
      All service members receive health care, housing and food allowances, as well as
      educational opportunities and special home loans.
  </p>

<div data-type="section-break"><hr /></div>

<p>
  Signing bonuses are additional monetary payment for enlisting in the United States Military. Bonuses vary based on branch, education, and job qualification, but could be up to $40,000.
</p>
<p>
  Each branch has their own signing bonus policies, you can find them below.
</p>
<ul>
  <li><a href="https://www.navy.com/bonus" target="_blank">Navy</a></li>
  <li><a href="https://www.goarmy.com/benefits/money/bonuses-earning-extra-money.html" target="_blank">Army</a></li>
  <li><a href="https://www.airforce.com/frequently-asked-questions/pay/what-jobs-offer-bonuses" target="_blank">Air Force</a></li>
  <li><a href="https://www.gocoastguard.com/active-duty-careers/enlisted-opportunities/receive-pay-benefits" target="_blank">Coast Guard</a></li>
  <li><a href="https://www.marines.mil/News/Messages/Messages-Display/Article/1933197/fy20-enlistment-incentive-programs/" target="_blank">Marines</a></li>
  <li><a href="https://www.airforce.com/spaceforce" target="_blank">Space Force</a></li>
</ul>
<p>Signing bonuses come with a few stipulations. If you do not complete the enlistment for which a bonus was paid or if you lose your clearance/qualification required for the position for which you received a bonus for, you may be required to pay back some or all of the money you received.</p>

<div data-type="section-break"><hr /></div>

<p>
  Each Service has unique programs that can help with tuition for anything from
  professional certifications to a graduate degree.
</p>
<p>
  The Military offers many tuition support programs. But did you know that service
  members can receive college credit or professional credentials for the training they receive
  in the Military? The American Council on Education (ACE) reviews military training and
  experiences and awards equivalent college credit to service members. More than 2,300
  colleges and universities recognize these credits.
</p>
<p>
  Likewise, military experience can translate into civilian credentials. Certain jobs
  have professional and technical standards that workers must meet through licensing and certi
  cation (for example, electrical work or software engineering). Each branch of the Military
  has programs to ensure service members receive credentials for the training they completed
  in service.
</p>

<div data-type="section-break"><hr /></div>

<p>
  The Military's Tuition Assistance Program provides service members the opportunity to
  enroll in courses at accredited colleges, universities, junior colleges and
  vocational-technical schools. To qualify, there are usually conditional requirements - such
  as having a minimum time remaining on your service contract and a cap on credit hours (or
  dollars) per year. Some programs, such as the <a href="https://www.gocoastguard.com/active-duty-careers/officer-opportunities/programs/college-student-pre-commissioning-initiative" target="_blank">
      Coast Guard's College Student
      Pre-Commissioning Initiative
  </a>, also require that you attend a school from a designated
  list.
</p>
<p>
  Tuition Assistance pays for up to 100 percent of the cost of tuition or expenses, up
  to a maximum of $250 per credit and a personal maximum of $4,500 per scal year per student.
  This program is the same for full-time-duty members in all Military Services. Selected
  Reserve and National Guard units also oer Tuition Assistance Programs, although the bene ts
  may vary from the Active Duty's program.
</p>

<div data-type="section-break"><hr /></div>

<p>
  The Post-9/11 GI Bill has the most comprehensive education benefits package since the
  original GI Bill was signed into law in 1944. Veterans who have served after Sept. 10, 2001,
  with at least 90 days of continuous service, are eligible. The Post-9/11 GI Bill also gives
  Reserve and Guard members who have been activated for more than 90 days since 9/11 access to
  the same benefits as their active-duty counterparts.
</p>
<p>
  As of Aug. 1, 2011, the Post-9/11 GI Bill will now pay all public school in-state
  tuition and fees. The full benefit amount an individual can receive is calculated from these
  numbers:
</p>
<ul mat-list="">
  <li>
      Tuition and fees payment (not to exceed the highest public in-state undergraduate
      tuition and fees in each state)
  </li>
  <li>
      Living stipend (equivalent to basic housing allowance in that ZIP code for an E-5
      with dependents)
  </li>
  <li>Allowance for books and supplies ($1,000 per year)</li>
</ul>
<p>The actual benefit amount will vary based on an individual's total length of service.</p>
<p>
  Another aspect of the Post-9/11 GI Bill is the <a href="https://www.benefits.va.gov/gibill/yellow_ribbon.asp" target="_blank">
      Yellow
      Ribbon Program
  </a>. Colleges and universities that participate in this program contribute
  additional funds toward educational costs that exceed the maximums allowed by the Post-9/11
  GI Bill. Institutions may set the amount they wish to contribute, which is matched by
  Veterans Affairs. This can be very beneficial for students at private colleges and
  universities, graduate programs or those attending with out-of-state status.
</p>
<p>
  <a href="https://www.benefits.va.gov/GIBILL/yellow_ribbon/yrp_list_2018.asp" target="_blank">
      View
      a list of institutions that participate in the Yellow Ribbon Program
  </a>
</p>
<p>
  The Post-9/11 GI Bill also offers service members the ability to share educational
  benefits with family members. In exchange for an additional service commitment, a service
  member may be able to transfer all or part of his or her earned benefits to spouses and
  children (including stepchildren). This is a first for the GI Bill and opens up new
  opportunities for service members and their families.
</p>
<p>
  For examples and maximum allowances state-by-state, visit the Veterans <a href="https://www.careersinthemilitary.com/options-contact-recruiter">
      speak
      with a recruiter
  </a>.
</p>

<div data-type="section-break"><hr /></div>

<p><a href="https://benefits.va.gov/GIBILL/FGIBSummaries.asp" target="_blank">The Forever GI Bill</a> became effective August 1, 2018. This bill is an extension of the original GI Bill, extending the qualification requirements to Reservists, honorably discharged Veterans, Purple Heart recipients, and effective in 2022, active duty service members.</p>
<p>Under the Forever GI Bill, the 40% benefit level will be removed, starting August 2020. </p>
<p>According to <a href="https://benefits.va.gov/GIBILL/FGIBSummaries.asp" target="_blank">Veterans Affairs</a>, "An individual with aggregate service of 90 days but less than six months of active-duty service (excluding entry and skill training) now qualifies at the 50-percent benefit level. An individual with aggregate service of at least six months but less than eighteen months of active-duty service (excluding entry and skill training) now qualifies at the 60-percent benefit level."</p>

<div data-type="section-break"><hr /></div>

<p>Once you have completed at least 17-months of active duty, (but less than 14 years), you may be eligible for a retention bonus if you: </p>
  <ul>
      <li>You are qualified in a critical military skill.</li>
      <li>You aren't receiving special nuclear-training pay.</li>
      <li>You reenlist or voluntarily extend your enlistment for a period of at least three years.</li>
      <li>You enlist in a regular component of the service concerned; or continue in a resserve component of the service concerned.</li>
  </ul>
  <p><a href="https://www.military.com/benefits/military-pay/enlistment-and-reenlistment-bonuses.html#:~:text=In%20fact%2C%20if%20you%20enlist,and%20length%20of%20enlistment%20contract.">Re-enlistment bonuses</a> are designed to increase the number of reenlistments in critical MOS’s. The monetary sum is determined by the time in service and job function. </p>
  <p>You can find the 2020 Military Pay Tables <a href="https://www.dfas.mil/militarymembers/payentitlements/Pay-Tables/" target="_blank">here</a>.</p>

<div data-type="section-break"><hr /></div>

<p>
  College Fund Programs (also known as the GI Bill "kicker") offer an additional amount
  of money that can be added to the Post-9/11 GI Bill. With the exception of the Navy and Air
  Force, each Service branch has College Fund Programs; however, the incentives and amount
  received vary with each branch. College Fund Programs are offered to service members when
  they first join the Military. Two mandatory qualifications are you must have a high school
  diploma and you must be enrolled in the Post-9/11 GI Bill. Depending on your Service, test
  scores and occupation, there may also be additional requirements. Talk to a recruiter to nd
  out if you are eligible and to ask for an application.
</p>
<p>
  The Air Force doesn't have a College Fund Program, but it does have a community
  college (see below).
</p>

<div data-type="section-break"><hr /></div>

<p>
  Your military experience can help your children and spouse receive a college education. That's right, if you do not use your GI Bill benefits, you can transfer them to your loved ones to use. Qualified spouses and dependents can apply for up to 36-months of financial benefits to use for tuition, housing, and books or supplies.
</p>
<p>
  According to <a href="https://www.va.gov/education/transfer-post-9-11-gi-bill-benefits/" target="_blank">Veterans Affairs</a>, below are the specifications and requirements for transferring your benefits:
</p>
<p><strong>Spouses</strong></p>
<ul>
  <li>May use the benefit right away</li>
  <li>May use the benefit while you're on active duty or after you've separated from service</li>
  <li>Don't qualify for the monthly housing allowance while you're on active duty</li>
  <li>May use the benefit for up to 15 years after your separation from active duty</li>
</ul>
<p><strong>Children</strong></p>
<ul>
  <li>May start to use the benefit only after you've finised at least 10 years of service</li>
  <li>May use the benefit while you're on active duty or after you've separated from service</li>
  <li>May not use the benefit until they've gotten a high school diploma (or equivalency certificate), or have reached 18 years of age</li>
  <li>Qualify for the monthly housing allowance even when you're on active duty</li>
  <li>Don't have to use the benefit within 15 years after your separation from active duty, but can't use the benefit after they've turned 26 years old</li>
</ul>

<div data-type="section-break"><hr /></div>

<p>
  The Army and Navy offer loan repayment programs that help enlisted personnel pay off
  college loans accrued prior to service. While each program has unique processes and
  requirements, they're all enlistment incentives designed to help recent college graduates
  manage education debt.
</p>
<p>
  <strong>Army</strong>: In the full-time-duty Army, Soldiers can qualify to have their loans repaid by
  the Military at the rate of one-third of the loan for each year of full-time duty served
  (maximum loan repayment is $65,000). The Army even helps Soldiers pay off student loans
  they've taken out, provided they attended schools on approved Perkins, Stafford or other
  Department of Education guaranteed student loans.
</p>
<p>
  <a href="https://www.goarmy.com/benefits/education-benefits.html" target="_blank">
      Learn
      more
      about Army Loan Repayment Programs
  </a>
</p>
<p>
  <strong>Navy</strong>: In the full-time-duty Navy, a $65,000 Loan Repayment Program is also
  available.
  Qualifications include no prior military service, a high school diploma and a loan guaranteed
  under the Higher Education Act of 1965. If an individual does qualify, either of these
  programs is a great way to get out of debt!
</p>
<p>
  <a href="https://www.navy.com/joining/college-options.html" target="_blank">
      Learn more
      about Navy Loan Repayment Programs
  </a>
</p>

<div data-type="section-break"><hr /></div>

<p>
  The Community College of the Air Force (CCAF) is an accredited two-year college open
  to enlisted Air Force men and women. CCAF offers nearly 70 different associate degree programs
  in many scientific and technical fields including computer science technology, avionic systems
  technology, air and space operations technology, allied health sciences, paralegal studies,
  information management and more.
</p>
<p>
  Every CCAF degree requires courses in the service member's technical job specialty,
  leadership/management/military studies, general education and physical education. Service
  members can accumulate credits while on Active Duty at Air Force technical training schools
  and when they enroll in colleges near their duty stations that offer accredited courses.
  Enlisted members of the Air National Guard and Air Force Reserve are also eligible to
  participate in CCAF. CCAF also awards credit for exams offered by the testing programs listed
  below.
</p>
<p>
  <a href="http://www.airuniversity.af.mil/Barnes/CCAF/" target="_blank">
      Learn more about
      the CCAF
  </a>
</p>

<div data-type="section-break"><hr /></div>

<p>
  Academic exams can earn service members college credit for skills acquired during
  military training and operations and are available to all active-duty, Reserve and Guard
  personnel. The testing is available at a discount and is divided into the following:
</p>
<ul mat-list="">
  <li>
      College Level Equivalency Program (CLEP) General Exams: Each exam measures the
      knowledge presumably gained during the first two years in college.
  </li>
  <li>
      CLEP Subject Exams: For every one of these timed, computer-based exams that a
      service member passes, he or she generally receives three hours of college credit (six or
      12 hours are possible in some situations).
  </li>
</ul>
<p>
  <a href="http://www.dantes.doded.mil/examinations/earn-college-credit/clep.html" target="_blank">
      More about
      the CLEP
      Testing Programs
  </a>
</p>
<ul mat-list="">
  <li>
      DANTES Subject Standardized Test (DSST): Passing a DSST exam also earns service
      members college credit. DANTES has no time limit and is a paper-based test.
  </li>
  <li>
      Excelsior College Exams (ECE): <a href="http://www.excelsior.edu" target="_blank">
          Excelsior
          College
      </a> (formerly known as Regents College) is a "virtual university" that counts
      many
      military personnel among its worldwide graduates. Excelsior College Exams are accepted for
      college credit by hundreds of colleges and universities.
  </li>
</ul>
<p>
  <a href="http://www.excelsior.edu/exams/uexcel-home" target="_blank">
      More about
      Excelsior College Exams
  </a>
</p>
<p>
  As of Aug. 1, 2011, service members can receive reimbursement for some licensing and
  certification exams, and they can also be reimbursed for fees related to the SAT, LSAT, ACT
  and other college and graduate school entrance tests.
</p>

<div data-type="section-break"><hr /></div>

<p>
  Active-duty service members receive free medical and dental care. In addition, the
  spouse and dependent children of an active-duty service member may enroll in military health
  care (a small enrollment fee and annual deductible may apply). As of 2011, TRICARE, the
  Military's health care plan, will cover dependents of service members up to age 26.
</p>

<div data-type="section-break"><hr /></div>
<p>
  Life insurance can help protect a family's financial stability. Active-duty service
  members may select up to $400,000 in Service Group Life Insurance (SGLI) at a cost of only
  $29 a month, which is automatically deducted from each paycheck.
</p>

<div data-type="section-break"><hr /></div>

<p>
  The Department of Veterans Affairs (VA) provides dozens of federal benefits to veterans
  and their dependents, including VA home loans that are guaranteed by the federal government.
  Other VA programs include educational assistance and disability compensation. <br />
  <a href="https://www.va.gov/" target="_blank">
      Learn more about Department of Veterans Affairs
      programs
  </a>
</p>

<div data-type="section-break"><hr /></div>

<p>
  Service members can retire with full benefits after 20 years of service, which is far
  earlier than most civilian jobs. Whenever they choose to retire, they have to choose between
  two options after 15 years of service:
</p>
<ul mat-list="">
  <li>
      Receive $30,000 after 15 years and then receive a retirement fund after 20 years
      that equals about 40 percent of his or her highest pay
  </li>
  <li>
      Receive no cash bonus at 15 years but receive a retirement fund after 20 years of
      service that equals about 50 percent of his or her highest pay
  </li>
</ul>
<p>In general, service members must retire after 30 years of service.</p>

<div data-type="section-break"><hr /></div>

<p>
  The Thrift Savings Plan (TSP) is a government-managed retirement savings and
  investment plan that works similarly to a 401(k) plan offered by private companies. Service
  members can choose how much money to deduct from their pretax pay, and they have several
  different funds in which they can invest. Service members don't pay taxes on their investment
  earnings until they begin to withdraw money at retirement.
</p>
<p>
  <a href="https://www.tsp.gov/index.html" target="_blank">
      More information on the Thrift Savings
      Plan
  </a>
</p>

<div data-type="section-break"><hr /></div>

<p>
  Service members are eligible for "space available" (or Space A) military flights to
  almost anywhere in the world at no cost. In addition, you will be able to stay in lodging
  facilities at any military base and at world-class resorts that are specially created for
  military personnel.
</p>
<p>
  Special military discounts and fare reductions are offered by resorts and airlines all
  over the world.
</p>
