<div class="small-12 medium-6 large-6 column">
  <p class="bodysize"><strong>There are different ways to become an officer.</strong></p>
  <p>Officers either enter the Military after completing a four-year college degree, or they receive officer
    training through enlisted service. Officers are managers or specialized in fields that require professional
    degrees (e.g., doctors, lawyers, and chaplains).</p>
  <p>Expand the options below to explore the different paths to becoming an officer.</p>
</div>