<div class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="reason-video-item">
      <h5>Earning a Degree:</h5>

      <div class="wrapper">
        <div class="h_iframe">
          <iframe src="https://www.youtube.com/embed/XSIpeAaD02I?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-8 large-10 column">Video provided by Today's Military.</div>
        <div class="small-12 medium-4 large-2 column text-right">
          <a routerLink="#"><img src="assets/images/todays-military-btn.jpg" alt="Today's Military"></a>
        </div>
      </div>
    </div>
    <div class="reason-video-item">
      <h5>Why Join the Military</h5>
      <div class="wrapper">
        <div class="h_iframe">
          <iframe src="https://www.youtube.com/embed/2zz8pptnByM?rel=0" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-8 large-10 column">Video provided by Money Talks News.</div>
        <div class="small-12 medium-4 large-2 column text-right">

        </div>
      </div>
    </div>
    <div class="reason-video-item">
      <h5>Reasons to Consider the Air Force </h5>

      <video width="100%" poster="https://cdn.dvidshub.net/media/thumbs/frames/video/1703/516317/604x340_q75.jpg"
        controls="">
        <source src="https://cdn.dvidshub.net/media/video/1703/DOD_104221559/DOD_104221559-1024x576-1769k.mp4"
          type="video/mp4;">
        Your browser does not support the video tag.
      </video>

      <div class="row">
        <div class="small-12 medium-8 large-10 column">Video provided by the Air Force.</div>
        <div class="small-12 medium-12 large-12 column text-right">
          <a href="http://www.airforce.com" target="_blank"><img src="assets/images/air-force.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>