<div class="small-12 medium-9 large-9 right-part column option-military-content">
	<p class="option-military-nutshell"><strong>The United States Military is part of the Department of Defense, the
			largest employer in the world. There are opportunities to work full-time or part-time, get a degree or
			participate in hobbies, travel the world or sit at a desk. Each branch of the Military has a unique mission.
			Here
			they are in a nutshell:</strong></p>
	<div id="Military-table" class="military-list-table">
		<table>
			<tbody>
				<tr>
					<td>
						<img src="/assets/images/military-army.png" alt="#">
						<h5>Army</h5>
						<a data="openMilitaryInfoDialog('A')" (click)="openMilitaryInfoDialog('A')">
						<!-- <a #openMilitaryInfoDialogA id="openMilitaryInfoDialogA"> -->
							<!-- <a onclick="Window.optionsmilitary.openMilitaryInfoDialogA()"> -->
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
					</td>
					<td>
						<img src="/assets/images/military-marines.png" alt="#">
						<h5>Marine Corps</h5>
						<a data="openMilitaryInfoDialog('M')" (click)="openMilitaryInfoDialog('M')">
						<!-- <a #openMilitaryInfoDialogM id="openMilitaryInfoDialogM"></a> -->
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
					</td>
					<td>
						<img src="/assets/images/military-navy.png" alt="#">
						<h5>Navy</h5>
						<a (click)="openMilitaryInfoDialog('N')">
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
					</td>
					<td>
						<img src="/assets/images/military-airforce.png" alt="#">
						<h5>Air Force</h5>
						<a (click)="openMilitaryInfoDialog('F')">
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
          </td>
          <td>
						<img src="/assets/images/military-spaceforce.png" alt="#">
						<h5>Space Force</h5>
						<a (click)="openMilitaryInfoDialog('S')">
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
					</td>
					<td>
						<img src="/assets/images/military-coastguard.png" alt="#">
						<h5>Coast Guard</h5>
						<a (click)="openMilitaryInfoDialog('C')">
							<span class="circle"><i class="fas fa-plus"></i></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
  <div class="career-detail">
		<p>There's nothing we can tell you about the Services that they can't tell you better so, we'll let them tell
			you
			about them. We're here to tell you about them as a whole. Like a gap year, trade school, or college, the
			Military
			is an option. And just like the others, it is not one-size-fits-all.</p>
	</div>
	<hr section-break width="5px">
	<div class="military_text career-detail">
		<h3>The Military</h3>
		<p>You've probably heard of the five service branches, but did you know there are actually 12? Each offers
			unique
			jobs, benefits, and time-commitment options that give you the flexibility to live the life you want.</p>
	</div>
	<div class="army_text">
		<ul mat-list>
			<li>
				<h3><a href="https://www.goarmy.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY')">Army</a></h3>
				<p><a href="https://www.goarmy.com/about/serving-in-the-army/serve-your-way/army-reserve.html"
						target="_blank" (click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY_RESERVE')">Army
						Reserve</a></p>
				<p><a href="https://www.nationalguard.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY_NATIONAL_GUARD')">Army National Guard</a></p>
			</li>
			<li>
				<h3><a href="https://www.marines.com" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_MARINE_CORPS')">Marine Corps</a></h3>
				<p><a href="https://www.marines.com" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_MARINE_CORPS_RESERVE')">Marine Corps Reserve</a></p>
			</li>
			<li>
				<h3><a href="https://www.navy.com/" target="_blank" (click)="trackClick('#CITM_EXIT_TO_SERVICE_NAVY')">Navy</a>
				</h3>
				<p><a href="https://www.navy.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_NAVY_RESERVE')">Navy Reserve</a></p>
			</li>
			<li>
				<h3><a href="https://www.airforce.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE')">Air Force</a></h3>
				<p><a href="https://afreserve.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE_RESERVE')">Air Force Reserve</a></p>
				<p><a href="https://www.goang.com/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE_NATIONAL_GUARD')">Air National Guard</a></p>
      </li>
      <li>
				<h3><a href="https://www.spaceforce.mil/" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_SPACE_FORCE')">Space Force</a></h3>
			</li>
			<li>
				<h3><a href="https://www.gocoastguard.com" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_COAST_GUARD')">Coast Guard</a></h3>
				<p><a href="https://www.gocoastguard.com" target="_blank"
						(click)="trackClick('#CITM_EXIT_TO_SERVICE_COAST_GUARD_RESERVE')">Coast Guard Reserve</a></p>
			</li>
		</ul>
	</div>
	<div class="military_text career-detail">
		<h3>Debt-free. Degree. Desk job. Downtime. Do you think you have the Military all figured out? Think again.</h3>
		<br>
		<p>Like any other career, you can work (or serve) while you go to school (or go to school while you serve). You
			can sit behind a desk or travel the world. You can take vacations. You can enjoy your hobbies and downtime
			with
			family and friends, all while earning a paycheck and getting invaluable experience.</p>
		<p>You may be one of those people who thinks, "I know the Military is not for me," but have you ever actually
			thought about why you think that? Same for those who know for sure that you want to join. Have you asked
			yourself
			why?</p>
		<p>Gender, geographic location, and influencers (like parents and friends) all play a role in the types of
			messages you receive about your ability and role in society. These messages shape your identity.</p>
		<p>We'd like you to step outside what you think you know and get to know the Military. We can only promise you
			one
			thing, you won't leave this site afraid of what you don't know.</p>
		<h3>You say, no military? We say, know military.</h3>
	</div>
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
	<div class="service_fav_text career-detail">
		<h3>Add a Service to Your Favorite</h3>
		<div id="Military-table">
			<table>
				<tbody>
					<span [ngStyle]="myStyle">
						<tr>
							<td *ngFor="let s of serviceObjects" style="border: none !important">
								<img *ngIf="!s.favoriteId" [src]="getFavoriteImage(s, false)"
									(click)="onFavoriteClick(s); trackClick('#CITM_FAV_SERVICE_'+s.name)">
								<img *ngIf="s.favoriteId" [src]="getFavoriteImage(s, true)"
									(click)="onFavoriteClick(s); trackClick('#CITM_FAV_SERVICE_'+s.name)">
								<h5>{{ s.name }}</h5>
							</td>
						</tr>
					</span>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="small-12 show-for-small-only column">
	<section class="small-12 contact-bar">
		<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
	</section>
</div>