Be 18 (or 17 with parental consent). The maximum age to join most Services is 35. However, the Air
          Force
          allows entry up to 39 years of age and the Navy only 34. 

<div data-type="section-break"><hr /></div>

  Be a U.S. citizen or resident alien.

  <div data-type="section-break"><hr /></div>

  Have a high school diploma (preferred), but a high school equivalent such as the
          GED may be accepted.
          
  <div data-type="section-break"><hr /></div>

  Take the ASVAB test to determine job placement. Each job and each Service requires
  a different score. The best source of this information is a 
            
  <div data-type="section-break"><hr /></div>

  Pass a physical fitness exam.