<update-title *ngIf="page && page.pageTitle" title="{{page.pageTitle}}"></update-title>
<update-meta *ngIf="page && page.pageDescription" name="description" content="{{page.pageDescription}}"></update-meta>
<app-spinner></app-spinner> 
<div id="main" class="section home">
	<div id="boot-camp">
		<div class="row column option-title">
			<h1 class="page-title">Learn About Your Options</h1>
		</div>
		<mat-card class="row all-data">
			<app-side-nav></app-side-nav>
			<div *ngIf="useDynamicContent && pageHtml">
				<!-- <app-dynamic-content-loader id="dir" class="ac-text-wrap" [text]="pageHtml">
				</app-dynamic-content-loader> -->

				<div *ngIf="showReasonsToConsider">
					<div class="small-12 medium-9 large-9 right-part column full-black-text reason-section">
						<div [innerHTML]="pageHtml[0]"></div>
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>

				<div *ngIf="showBenefits">
					<div class="small-12 medium-9 large-9 right-part column enlisted-vs-officer becoming-and-officer">
						<div class="row">
							<div class="small-12 medium-12 large-12 column">
								<p>
										<strong>
												Military service comes with all kinds of perks. From discounts at commercial retailers
												to special home loans and free flights, there's a lot to consider beyond <a (click)="redirect('options-pay')">pay</a>.
										</strong>
								</p>
								<div [innerHTML]="pageHtml[0]"></div>
							</div>
						</div><div class="row">
								<div class="small-12 medium-12 large-12 column">
										<mat-accordion>
												<mat-expansion-panel #panel14="">
														<mat-expansion-panel-header>
																<mat-panel-title>SIGNING BONUSES</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[1]"></div>
												</mat-expansion-panel>
												<mat-expansion-panel #panel1="">
														<mat-expansion-panel-header>
																<mat-panel-title>PAYING FOR COLLEGE</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[2]"></div>
												</mat-expansion-panel>
												<mat-expansion-panel #panel2="">
														<mat-expansion-panel-header>
																<mat-panel-title>TUITION ASSISTANCE</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[3]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel3="" [expanded]="step === 'panel3'" id="giBill">
														<mat-expansion-panel-header>
																<mat-panel-title>THE POST-9/11 GI BILL</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[4]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel16="">
														<mat-expansion-panel-header>
																<mat-panel-title>FOREVER GI BILL</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[5]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel17="">
														<mat-expansion-panel-header>
																<mat-panel-title>RETENTION BONUSES</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[6]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel4="">
														<mat-expansion-panel-header>
																<mat-panel-title>COLLEGE FUND PROGRAMS</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[7]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel17="">
														<mat-expansion-panel-header>
																<mat-panel-title>TRANSFERRING GI BENEFITS TO YOUR SPOUSE OR CHILDREN</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[8]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel5="">
														<mat-expansion-panel-header>
																<mat-panel-title>LOAN REPAYMENT PROGRAMS</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[9]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel6="">
														<mat-expansion-panel-header>
																<mat-panel-title>COMMUNITY COLLEGE OF THE AIR FORCE (CCAF)</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[10]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel7="">
														<mat-expansion-panel-header>
																<mat-panel-title>TESTING PROGRAMS</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[11]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel8="">
														<mat-expansion-panel-header>
																<mat-panel-title>HEALTH CARE</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[12]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel9="">
														<mat-expansion-panel-header>
																<mat-panel-title>LIFE INSURANCE</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[13]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel10="">
														<mat-expansion-panel-header>
																<mat-panel-title>VA BENEFITS</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[14]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel11="">
														<mat-expansion-panel-header>
																<mat-panel-title>RETIREMENT</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[15]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel12="">
														<mat-expansion-panel-header>
																<mat-panel-title>THRIFT SAVINGS PLAN</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[16]"></div>
												</mat-expansion-panel>
					
												<mat-expansion-panel #panel13="">
														<mat-expansion-panel-header>
																<mat-panel-title>TRAVEL</mat-panel-title>
														</mat-expansion-panel-header>
														<div [innerHTML]="pageHtml[17]"></div>
												</mat-expansion-panel>
					
										</mat-accordion>
										<p></p>
								</div>
						</div><section class="small-12 contact-bar">
								<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>


				<div *ngIf="showPay">
					<div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
						<div class="row">
								<div class="small-12 medium-12 large-12 column">
											<div [innerHTML]="pageHtml[0]"></div>
											<button (click)="openPayDialog()" *ngIf="payData && payInfo" class="button military-pay" type="button">{{payInfo.payYear}} MILITARY PAY TABLE</button><strong>Special Pay</strong>
											<div [innerHTML]="pageHtml[1]"></div>
								</div>
						</div>
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
					</section>
					</div>	
				</div>

				<div *ngIf="showBecomingAnOfficer">
					<div class="small-12 medium-9 large-9 right-part column full-black-text becoming-and-officer">
						<div class="row">
							<div [innerHTML]="pageHtml[0]"></div>
							<div (click)="openPlayer('DTeVrJfqNG0')" class="small-12 medium-6 large-6 column"><img
									class="officer-video video-modal3" src="/assets/images/officer-video1.jpg" /></div>
						</div>
						<div class="row">
							<div class="small-12 medium-12 large-12 column">
								<mat-accordion>
									<mat-expansion-panel #panel1="" [expanded]="step === 'panel1'" id="service-academies">
										<mat-expansion-panel-header>
											<mat-panel-title>SERVICE ACADEMIES, MILITARY COLLEGES, AND MARITIME COLLEGES</mat-panel-title>
										</mat-expansion-panel-header>
										<br />
										<div class="row">
											<div class="small-12 medium-6 large-6 column">
												<strong>Service Academies</strong>
												<p>The five Service academies offer an outstanding education and full four-year scholarships that cover
													all fees including tuition, books, board, medical and dental care. Admission is extremely competitive,
													similar to elite colleges:</p>
												<ul mat-list="">
													<li>High school academic performance</li>
													<li>Standardized test scores (SAT or ACT)</li>
													<li>Athletics and extracurricular activities</li>
													<li>Leadership experience and community involvement</li>
													<li>A congressional letter of recommendation (except Coast Guard Academy)</li>
												</ul>
											</div>
											<div (click)="openPlayer('hdYiAjG6TDw')" class="small-12 medium-6 large-6 column">
												<img class="officer-video video-modal4" src="assets/images/officer-video2.jpg" />
											</div>
										</div>
										<div class="row">
											<div class="small-1 medium-1 large-1 column">
												<img src="https://media.careersinthemilitary.com/citm-images/Download_icon.gif" />
											</div>
											<div class="small-11 medium-11 large-11 column">
												<p>Download the
													<a href="https://media.careersinthemilitary.com/pdf-content/Service_Academy_Application_Timeline_2021.pdf"
														target="_blank"> Service Academy Application Timeline</a> to organize your application.
													<br />Download this <a
														href="https://media.careersinthemilitary.com/pdf-content/Military_Academy-Actions_Dates_and_Notes.pdf"
														target="_blank">checklist</a> to keep track of action items and key dates.</p>
											</div>
										</div>
										<p>Graduates receive a Bachelor of Science degree and are commissioned as officers in their respective Service
											branch. There is a five-year minimum service obligation typically; however, the duration of the service
											commitment may vary by occupational specialty.</p>
										<div class="service-lists">Service Academies:
											<ul class="row" mat-list="">
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info">
														Army&nbsp;<br /><a href="https://www.westpoint.edu/" target="_blank">U.S. Military Academy</a>
														<br /><a
															href="https://media.careersinthemilitary.com/pdf-content/West_Point_Checklist_2021.pdf"
															target="_blank">West Point Checklist</a>
														<br />845-938-4041
													</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info">
														Navy &amp; Marine Corps&nbsp;<br /><a href="http://www.usna.edu/" target="_blank">U.S. Naval
															Academy</a>
														<br /><a
															href="https://media.careersinthemilitary.com/pdf-content/Naval_Academy_Checklist_2021.pdf"
															target="_blank">Naval Academy Checklist</a>
														<br />410-293-1858
													</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info">
														Air Force&nbsp;<br /><a href="https://www.usafa.edu/" target="_blank">U.S. Air Force Academy</a>
														<br /><a
															href="https://media.careersinthemilitary.com/pdf-content/Air_Force_Academy_Checklist_2021.pdf"
															target="_blank">Air Force Academy Checklist</a>
														<br />800-443-9266
													</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info">
														Merchant Marine&nbsp;<br /><a href="http://www.usmma.edu/" target="_blank">U.S. Merchant Marine
															Academy</a>
														<br />516-726-5800
													</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info">
														Coast Guard&nbsp;<br /><a href="http://www.uscga.edu/" target="_blank">U.S. Coast Guard Academy</a>
														<br />800-883-8724
													</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"></div>
												</li>
											</ul>
										</div>
										<div class="row">
											<div class="small-12 medium-12 large-12 column"><strong>Senior Military Colleges</strong>
												<p>Senior Military Colleges (SMCs) combine higher education with military instruction. SMCs are among the
													most prestigious education institutions in the world. Every cadet must participate in the Reserve
													Officer Training Corps (ROTC) program, but only those cadets who receive an ROTC scholarship are
													obligated to a service commitment following graduation. (Read more about ROTC in the next section.)</p>
											</div>
										</div>
										<div class="service-lists">Senior Military Colleges<ul class="row" mat-list="">
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="https://corps.tamu.edu/" target="_blank">Texas A&amp;M Corps of
															Cadets</a><br />1-800-TAMU-AGS (800-826-8247)</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.norwich.edu/" target="_blank">Norwich
															University</a><br />802-485-2000</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.vmi.edu/" target="_blank">The Virginia Military
															Institute</a><br />540-464-7230</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.citadel.edu/" target="_blank">The
															Citadel</a><br />843-225-3294</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.vtcc.vt.edu/" target="_blank">Virginia Tech Corps of
															Cadets</a><br />540-231-6000</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://ung.edu/military-college-admissions/index.php"
															target="_blank">University of North Georgia</a><br />888-413-9366</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.marybaldwin.edu/vwil/" target="_blank">Mary Baldwin
															Women's Institute for Leadership</a><br />540-887-7042</div>
												</li>
												<li class="small-12 medium-6 large-4 column"></li>
												<li class="small-12 medium-6 large-4 column"></li>
											</ul>
										</div>
										<div class="row">
											<div class="small-12 medium-12 large-12 column"><strong>Maritime Academies</strong>
												<p>The United States Merchant Marine is the fleet of civilian-owned merchant ships that transport service
													members and supplies for the Military.</p>
												<p>Maritime Academies produce shipboard officers for these vessels, but a service commitment is not always
													required.</p>
											</div>
										</div>
										<div class="service-lists">Maritime Academies<ul class="row" mat-list="">
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.maritime.edu/" target="_blank">Massachusetts
															Maritime Academy</a><br />508-830-5000</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.nmc.edu/maritime" target="_blank">Great Lakes
															Maritime Academy</a><br />877-824-7447</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.mainemaritime.edu/" target="_blank">Maine Maritime
															Academy</a><br />800-464-6565</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.csum.edu/" target="_blank">California State
															University Maritime Academy</a><br />707-654-1000</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.sunymaritime.edu/" target="_blank">State University
															of New York Maritime College</a><br />718-409-7200</div>
												</li>
												<li class="small-12 medium-6 large-4 column">
													<div class="service-lists-info"><a href="http://www.tamug.edu/corps/" target="_blank">Texas Maritime
															Academy</a><br />409-740-4706</div>
												</li>
											</ul>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel #panel2="" [expanded]="step === 'panel2'" id="rotc">
										<mat-expansion-panel-header>
											<mat-panel-title>ROTC</mat-panel-title>
										</mat-expansion-panel-header>
										<div>
											<p>Reserve Officer Training Corps (ROTC) programs provide officer training for students during college in
												exchange for scholarship money. In return, the students commit to serving for a set period of time after
												graduation. ROTC programs are offered at schools in every state and allow the student to have college
												experience while preparing to be an officer.</p>
											<p>College classes are mixed with service-specific ROTC curriculum (in the classroom and in the field),
												which covers everything from leadership studies to combat technique. Upon completion, you enter your
												chosen service as an officer.</p>
											<p><strong>ARMY ROTC</strong>&nbsp;Army ROTC teaches leadership development, military skills and career
												training. Additional summer programs, such as Jump School, may also be attended.</p>
											<p><a href="https://www.goarmy.com/rotc.html" target="_blank">Learn more about Army ROTC</a></p>
											<p><strong>NAVY AND MARINE CORPS ROTC</strong><br />Navy ROTC offers a mixture of military training and
												normal academic study. Upon completion, NROTC graduates have the ability to choose an officer career in
												surface warfare, naval aviation, submarine or special warfare.</p>
											<p>Aspiring Marine Corps officers also participate in Navy ROTC. The ROTC academic curriculum for a Marine
												Corps-option student requires classes in national security policy and the history of American military
												affairs, in addition to the regular academic requirements for the student's degree.</p>
											<p>Learn more about&nbsp;<a href="https://www.navy.com/joining/college-options/nrotc.html"
													target="_blank">Navy-option ROTC</a></p>
											<p>Learn more about&nbsp;<a href="https://www.marines.com/becoming-a-marine/officer.html"
													target="_blank">Marine-option ROTC</a></p>
											<p><strong>AIR FORCE ROTC</strong><br />Air Force ROTC offers a four-year program and a three-year program,
												both based on Air Force requirements and led by active-duty Air Force officers. Upon completion, a student
												enters the Air Force as an officer.</p>
											<p>Learn more about&nbsp;<a href="https://www.afrotc.com/" target="_blank">Air Force ROTC</a></p>
											<p><strong>COAST GUARD SPLIT TRAINING</strong><br />The Coast Guard does not have an ROTC program. However,
												high school seniors, college and vocational students between the ages of 17 and 31 can enroll in Coast
												Guard Split Training. Enlistees train for two summers and serve one weekend a month during the school
												year. Schooling continues uninterrupted. You receive pay for weekend service and, after training is
												complete, begin Reserve duty.</p>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel #panel3="">
										<mat-expansion-panel-header>
											<mat-panel-title>OFFICER CANDIDATE SCHOOL</mat-panel-title>
										</mat-expansion-panel-header>
										<p>After completing a four-year degree, graduates may enroll in Officer Candidate School (OCS), or Officer
											Training School (OTS) in the Air Force. Courses focus on military subjects, physical training, and
											leadership skills.</p>There are three types of people who attend OCS/OTS:<ul mat-list="">
											<li>Graduates from a traditional four-year college or university</li>
											<li>Enlisted service members transitioning from enlisted into officer roles</li>
											<li>Direct Commission Officers (DCOs), those with specialized skills or professional degrees</li>
										</ul>
										<section class="table officer-school-table hide-for-small-only ">
											<div class="list-view">
												<table style="width:817px;">
													<tbody>
														<tr>
															<td>&nbsp;</td>
															<td><strong>Army</strong></td>
															<td><strong>Marine Corps</strong></td>
															<td><strong>Navy</strong></td>
															<td><strong>Air Force</strong></td>
															<td><strong>Coast Guard</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>12 weeks</td>
															<td>10 weeks</td>
															<td>12 weeks</td>
															<td>9 weeks</td>
															<td>17 weeks</td>
														</tr>
														<tr>
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Second&nbsp;<br />Lieutenant</td>
															<td>Second&nbsp;<br />Lieutenant</td>
															<td>Ensign</td>
															<td>Second&nbsp;<br />Lieutenant</td>
															<td>Ensign</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Fort Benning&nbsp;<br />Columbus, GA</td>
															<td>Marine Corps&nbsp;<br />Base Quantico&nbsp;<br />Quantico, Va.</td>
															<td>Naval Station&nbsp;<br />Newport&nbsp;<br />Newport, R.I.</td>
															<td>Maxwell-Gunter&nbsp;<br />Air Force Base&nbsp;<br />Montgomery, Ala.</td>
															<td>Coast Guard&nbsp;<br />Academy&nbsp;<br />New London, Conn.</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="https://www.benning.army.mil/MCoE/199th/OCS/" target="_blank">Army OCS</a></td>
															<td><a href="https://www.marines.com/becoming-a-marine/officer/training.html" target="_blank">Marine
																	Corps&nbsp;<br />OCS</a></td>
															<td><a href="http://www.ocs.navy.mil/" target="_blank">Navy&nbsp;<br />OCS</a></td>
															<td><a href="https://www.airforceots.com/" target="_blank">Air Force OCS</a></td>
															<td><a href="http://www.uscga.edu/" target="_blank">Coast Guard OCS</a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>
										<section class="table officer-school-mobile-table show-for-small-only">
											<div class="list-view">
												<table style="width:817px;">
													<tbody>
														<tr>
															<td colspan="2"><strong>Army</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>12 weeks</td>
														</tr>
														<tr>
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Second&nbsp;<br />Lieutenant</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Fort Benning Columbus, GA</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="http://www.benning.army.mil/infantry/199th/ocs/" target="_blank">Army OCS</a></td>
														</tr>
													</tbody>
												</table>
												<hr />
												<table style="width:817px;">
													<tbody>
														<tr>
															<td colspan="2"><strong>Marine Corps</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>10 weeks</td>
														</tr>
														<tr>
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Second&nbsp;<br />Lieutenant</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Marine Corps Base Quantico Quantico, Va.</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="https://www.marines.com/becoming-a-marine/officer/training.html" target="_blank">Marine
																	Corps OCS</a></td>
														</tr>
													</tbody>
												</table>
												<hr />
												<table style="width:817px;">
													<tbody>
														<tr>
															<td colspan="2"><strong>Navy</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>12 weeks</td>
														</tr>
														<tr>
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Ensign</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Naval Station Newport Newport, R.I.</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="http://www.ocs.navy.mil/" target="_blank">Navy OCS</a></td>
														</tr>
													</tbody>
												</table>
												<hr />
												<table style="width:817px;">
													<tbody>
														<tr>
															<td colspan="2"><strong>Air Force</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>9 weeks</td>
														</tr>
														<tr>
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Second&nbsp;<br />Lieutenant</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Maxwell-Gunter Air Force Base Montgomery, Ala.</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="https://www.airforceots.com/" target="_blank">Air Force OCS</a></td>
														</tr>
													</tbody>
												</table>
												<hr />
												<table style="width:817px;">
													<tbody>
														<tr>
															<td colspan="2"><strong>Coast Guard</strong></td>
														</tr>
														<tr>
															<td><strong>Duration</strong></td>
															<td>17 weeks</td>
														</tr>
														<tr mat-rpw="">
															<td><strong>Rank Upon&nbsp;<br />Graduation</strong></td>
															<td>Ensign</td>
														</tr>
														<tr>
															<td><strong>Location</strong></td>
															<td>Coast Guard Academy New London, Conn.</td>
														</tr>
														<tr>
															<td><strong>More Info</strong></td>
															<td><a href="http://www.uscga.edu/" target="_blank">Coast Guard OCS</a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</section>
									</mat-expansion-panel>
									<mat-expansion-panel #panel4="">
										<mat-expansion-panel-header>
											<mat-panel-title>DIRECT COMMISSION</mat-panel-title>
										</mat-expansion-panel-header>
										<div>
											<p>Direct Commission Officers (DCOs) are individuals who have earned professional degrees in fields such as
												medicine, law, religious studies, engineering, or intelligence. Groups such as the Judge Advocate
												General's (JAG) Corps, Chaplain Corps and Medical Corps frequently employ DCOs. Regular age limits and
												requirements may be waived for some of these positions. A&nbsp;<a
													(click)="redirect('options-contact-recruiter')">recruiter</a>&nbsp;is the best resource for real-time
												information about direct commission.</p>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel #panel5="">
										<mat-expansion-panel-header>
											<mat-panel-title>TRANSITIONING FROM ENLISTED TO OFFICER</mat-panel-title>
										</mat-expansion-panel-header>
										<div>
											<p>Enlisted service members can make the transition into officer roles. Enlisted service members with the
												right qualifications may be recommended by their commanding officers for OCS/OTS or ROTC (if they plan to
												go back to school).</p>
											<p>In addition, enlisted service members can earn an officer title. Warrant officers are promoted from the
												enlisted ranks for technical expertise and rank between the highest enlisted and lowest commissioned
												officers. Non-commissioned officers (NCOs) are high-ranking enlisted service members who have been given
												officer-like authority by their superiors.</p>
										</div>
									</mat-expansion-panel>
								</mat-accordion>
							</div>
						</div>
						<section class="small-12 contact-bar"><a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>

				<div *ngIf="showEnlistmentProcess">
					<div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
						<div [innerHTML]="pageHtml[0]"></div>
						<div class="row">
							<div class="small-12 column">
								<mat-accordion>
									<mat-expansion-panel #panel1>
										<mat-expansion-panel-header>
											<mat-panel-title>STEP 1: TAKE THE ASVAB</mat-panel-title>
										</mat-expansion-panel-header>
										<p>ASVAB stands for Armed Services Vocational Aptitude Battery. It is a multiple-choice aptitude test
											that estimates your performance in academic and vocational endeavors. It consists of 10 subtests that
											test your knowledge of standard school subjects like math, English, and science, and other subjects
											like electronics and mechanical comprehension.</p>
					
										<p>You'll receive an AFQT (Military Entrance Score). The AFQT score is what the Military will use to
											determine enlistment eligibility. You'll also receive a score for each of the individual subtests. Each
											Service uses a custom combination of ASVAB subtest to produce a composite score you'll need to achieve
											in order to qualify for different careers. These score requirements are subject to change without
											notice. Learn more about Service composites,
											<li *ngIf="isLoggedIn();then loggedin else loggedout"></li>
											 <a (click)="loginRedirect('composite-scores')"> here</a>
					
											<p>If you participated in the ASVAB CEP at your high school, you're ahead of the competition. Knowing
												your AFQT and composite scores puts the power in your hands. You can explore careers and services to
												determine which the best fit is for you before you talk to a recruiter. Be sure to tell your recruiter
												about your participation to see if your results are still valid.</p>
											<ul mat-list>
												<li>Learn more about <a href="https://www.asvabprogram.com" target="_blank">ASVAB CEP</a></li>
												<li>Learn more about <a href="http://www.officialasvab.com" target="_blank">ASVAB</a></li>
											</ul>
									</mat-expansion-panel>
									<mat-expansion-panel #panel2>
										<mat-expansion-panel-header>
											<mat-panel-title>STEP 2: GET PHYSICAL</mat-panel-title>
										</mat-expansion-panel-header>
										<div>
											<p>Each Service has different physical fitness requirements. Use these guidelines to prepare for the <a
												 (click)="redirect('options-boot-camp-services')">physical fitness test (PFT).</a> </p>
					
											<span>The physical is a regular medical exam, similar to what you would receive at a primary care
												doctor. Examinations include:</span>
											<ul mat-list class="list">
												<li>Height and weight measurements</li>
												<li>Hearing and vision examinations</li>
												<li>Urine and blood tests</li>
												<li>Drug and alcohol tests</li>
												<li>Muscle group and joint maneuvers</li>
												<li>Specialized test if required (pregnancy test for women, body fat percentage test for those who
													are overweight, tests relating to any unusual medical history)</li>
											</ul>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel #panel3>
										<mat-expansion-panel-header>
											<mat-panel-title>STEP 3: DETERMINE A CAREER and SIGN ENLISTMENT CONTRACT</mat-panel-title>
										</mat-expansion-panel-header>
										<div>
											<p>You will work with a service liaison counselor who will tell you about job
												opportunities and the enlistment agreement.</p>
											<p>Based on the criteria below, you will choose from the billets (job openings)
												available on the day you enlist:</p>
											<ul mat-list class="list">
												<li>Needs of the Service</li>
												<li>Job availability</li>
												<li>ASVAB score</li>
												<li>Physical requirements (for example, a recruit needs normal color vision for some
													careers)</li>
												<li>Recruit preference</li>
											</ul>
											<br>
											<p>Then, you will review the enlistment agreement which is the terms of your enlistment,
												duty obligations, and the particular job you will hold. Be sure anything you were promised,
												like enlistment bonus or any special military schools or training, is laid out in writing
												in the enlistment contract before signing. When in doubt, ASK!</p>
											<p>You will then be fingerprinted for use in background checks and security clearances.</p>
										</div>
									</mat-expansion-panel>
									<mat-expansion-panel #panel4>
										<mat-expansion-panel-header>
											<mat-panel-title>STEP 4: TAKE THE OATH OF ENLISTMENT</mat-panel-title>
										</mat-expansion-panel-header>
					
										<div>
											<p>Once you determine a career, you'll take the Oath of Enlistment. In this
												statement, you vow to defend the U.S. Constitution and obey the Uniform Code of Military
												Justice (UCMJ). Family members are invited to attend and take photos.</p>
											<p>
												<i>I, (name), do solemnly swear (or affirm) that I will support and defend the
													Constitution of the United States against all enemies, foreign and domestic; that I will
													bear true faith and allegiance to the same; and that I will obey the orders of the
													President of the United States and the orders of the officers appointed over me, according
													to regulations and the Uniform Code of Military Justice. So help me God.</i>
											</p>
										</div>
					
									</mat-expansion-panel>
					
									<mat-expansion-panel #panel5>
										<mat-expansion-panel-header>
											<mat-panel-title>STEP 5: DECIDE WHEN TO GO</mat-panel-title>
										</mat-expansion-panel-header>
					
										<div>
											<p>Depending on the terms of enlistment, you'll have the option to:</p>
											<ul mat-list class="list">
												<li>Direct Ship - report to Basic Training soon. (It varies based on job assignment
													and branch.) A recruiter will provide instructions on transportation to Basic Training at
													this time.</li>
												<li>Delayed Entry Program (DEP) - commit to Basic Training, generally within one year,
													return home until the time comes to report for duty.</li>
											</ul>
											<br>
											<p>A recruiter is the best resource to answer any questions you have about the
												enlistment process.</p>
										</div>
									</mat-expansion-panel>
								</mat-accordion>
							</div>
						</div>
						<div class="row">
							<section class="small-12 contact-bar">
								<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
							</section>
						</div>
					</div>
				</div>

				<div *ngIf="showEnlistmentRequirements">
					<div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
						<div class="row" ng-init="showAge = false;">
							<div class="small-12 medium-12 large-12 column">
								<p class="bodysize"><strong>Basic Enlistment Requirements</strong></p>
								<p class="bodysize">There are a few requirements to join (or enlist in) the Military. Some jobs&nbsp;may have
									additional requirements, but generally speaking, to enlist you must:</p>
								<ol mat-list="">
									<li>				<div style="display: inline" [innerHTML]="pageHtml[0]"></div> <a (click)="showAge = !showAge;"
											class="ng-binding">Show Age Requirements [v]</a>
										<table [hidden]="!showAge" class="ng-hide k-table">
											<tbody>
												<tr>
													<td><strong>Army</strong></td>
													<td><strong>Marine Corps</strong></td>
													<td><strong>Navy</strong></td>
													<td><strong>Air Force</strong></td>
													<td><strong>Coast Guard</strong></td>
												</tr>
												<tr>
													<td>Active Duty</td>
													<td>17-34</td>
													<td>17-29</td>
													<td>17-39</td>
													<td>17-39</td>
													<td>17-31</td>
												</tr>
												<tr>
													<td>Reserve</td>
													<td>17-34</td>
													<td>17-29</td>
													<td>17-39</td>
													<td>17-39</td>
													<td>17-40</td>
												</tr>
												<tr>
													<td>Guard</td>
													<td>17-35</td>
													<td>N/A</td>
													<td>N/A</td>
													<td>17-39</td>
													<td>N/A</td>
												</tr>
												<tr>
													<td>Service Academies</td>
													<td>17-22</td>
													<td>17-22</td>
													<td>17-22</td>
													<td>17-22</td>
													<td>17-22</td>
												</tr>
											</tbody>
										</table>
									</li>
									<li><div [innerHTML]="pageHtml[1]"></div></li>
									<li><div [innerHTML]="pageHtml[2]"></div></li>
									<li><div style="display: inline" [innerHTML]="pageHtml[3]"></div> <a
											(click)="redirect('options-contact-recruiter')">recruiter</a>.
									</li>
									<li><div [innerHTML]="pageHtml[4]"></div></li>
								</ol>
							</div>
						</div>
						<div class="row">
							<div class="small-1 medium-1 large-1 column"><img
									src="https://dev-media.careersinthemilitary.com/citm-images/Download_icon.gif" /></div>
							<div class="small-11 medium-11 large-11 column">
								<p>Download the checklist of basic eligibility requirements,&nbsp;<a
										href="https://www.asvabprogram.com/pdf/Military_Check_list.pdf"
										style="font-family:Calibri, sans-serif;font-size:11pt;" target="_blank">here</a><span
										style="font-family:Calibri, sans-serif;font-size:11pt;">.<br /></span><span
										style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">The Department of Defense
										Instruction for qualification standards can be found <a href="https://www.asvabprogram.com/pdf/130426p.pdf"
											target="_blank">here</a>.</span><br /></p>
							</div>
							<div class="row"></div>
						</div>
						<div class="row">
							<div class="small-12 column">
								<p><strong>Medical Eligibility<br /></strong><span style="font-family:Calibri, sans-serif;font-size:11pt;">There
										many common medical conditions that preclude potential applicants from service. The complete list of
										conditions is available in this document:&nbsp;</span><a href="https://www.asvabprogram.com/pdf/613003p.pdf"
										style="font-family:Calibri, sans-serif;font-size:11pt;" target="_blank">DoD Instruction 6130.03 Medical
										Standards For Appointment, Enlistment, Or Induction Into The Military Services</a><span
										style="font-family:Calibri, sans-serif;font-size:11pt;">. Check with your recruiter to determine waiver
										eligibility.&nbsp;</span></p>
								<p><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;"></span><strong>Tattoo
										Policy</strong><br /><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">Each
										Service has its own tattoo policy 
										
										<!-- <em>[</em><em>infographic coming soon].</em> --> 
										
										<!-- New Changes -->
										<div class="cep_tabs tattoos_tabs tabbed">
											<ul class="nav nav-tabs">
												<li class="active"><a aria-controls="army" role="tab" data-toggle="army"><img
															src="{{citmimages}}army.png"><span>Army</span></a></li>
												<li><a aria-controls="marine_corps" role="tab" data-toggle="marine_corps"><img
															src="{{citmimages}}marines.png"><span>Marine Corps</span></a></li>
												<li><a aria-controls="navy" role="tab" data-toggle="navy"><img
															src="{{citmimages}}navy.png"><span>Navy</span></a></li>
												<li><a aria-controls="air_force" role="tab" data-toggle="air_force"><img
															src="{{citmimages}}airforce.png"><span>Air Force</span></a></li>
												<li><a aria-controls="coast_guard" role="tab" data-toggle="coast_guard"><img
															src="{{citmimages}}coast-guard.png"><span>Coast Guard</span></a></li>
											</ul>
											<!-- Tab panes -->
											<div class="tab-content">
												<div role="tabpanel" class="tab-pane active army_content" id="army">
													<img src="{{citmimages}}tattoo_tab1.jpg">
												</div>
												<div role="tabpanel" class="tab-pane marine_corps_content" id="marine_corps">
													<img src="{{citmimages}}tattoo_tab2.jpg">
												</div>
												<div role="tabpanel" class="tab-pane navy_content" id="navy">
													<img src="{{citmimages}}tattoo_tab3.jpg">
												</div>
												<div role="tabpanel" class="tab-pane air_force_content" id="air_force">
													<img src="{{citmimages}}tattoo_tab4.jpg">
												</div>
												<div role="tabpanel" class="tab-pane coast_guard_content" id="coast_guard">
													<img src="{{citmimages}}tattoo_tab5.jpg">
												</div>
											</div>
										</div>
										<p dir="ltr">
											<em>Caption: Representation of the tattoo regulations for all military Services, as of January 2020. Visit the Service
												websites for official policies.</em>
										</p>
										<!-- Changes Over -->
									
									</span></p>
								<p><span style="font-size:11.0pt;line-height:107%;font-family:'Calibri',sans-serif;">Once
										you&nbsp;</span>understand all of the enlistment requirements, check out the <a
										(click)="redirect('options-enlistment-process')">
										enlistment
										process
									</a>.
								</p>
							</div>
						</div>
						<div class="row">
							<section class="small-12 contact-bar"><a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
							</section>
						</div>
					</div>
				</div>


				<div *ngIf="showEnlistedVsOfficer">
					<div class="small-12 medium-9 large-9 right-part column full-black-text enlisted-vs-officer">
						<div class="row">
							<div class="small-12 medium-7 large-8 column">
								<div [innerHTML]="pageHtml[0]"></div>
								<br/>
								<p><span *ngIf="rankData"><a (click)="openRankDialog(rankData)">View US Military Ranks</a></span></p>
								<div [innerHTML]="pageHtml[1]"></div>
								<br/>
								<p class="text-center bold-link">
									<a (click)="redirect('advanced-search/enlisted')"><b>Search Enlisted Careers</b></a>
									<span>|</span>
									<a (click)="redirect('advanced-search/officer')"><b>Search Officer Careers</b></a>
								</p>
							</div>
							<div class="small-12 medium-5 large-4 column">
								<div [innerHTML]="pageHtml[2]"></div>
							</div>
						</div>
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>

				<div *ngIf="showBootCampServices">
					<div class="small-12 medium-9 large-9 right-part column hide-for-small-only ">
						<p><strong>To serve in the Military you must complete boot camp. This rigorous physical and classroom training
								prepares recruits mentally and physically for life in the Military.</strong></p>
						<div id="Military-table-bootcamp">
							<table>
								<tbody>
									<tr>
										<td>
											<img src="/assets/images/army.png" alt="#">
											<h5>Army</h5>
										</td>
										<td>
											<img src="/assets/images/marines.png" alt="#">
											<h5>Marine Corps</h5>
										</td>
										<td>
											<img src="/assets/images/navy.png" alt="#">
											<h5>Navy</h5>
										</td>
										<td>
											<img src="/assets/images/air-force.png" alt="#">
											<h5>Air Force</h5>
										</td>
										<td>
											<img src="/assets/images/coast-guard.png" alt="#">
											<h5>Coast Guard</h5>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="boot-camp-table" class="data-table clearfix">
							<section class="small-12 column boot-camp-header clearfix">
								<div class="large-10 medium-9 small-12 column">
									<h5>Boot Camp Duration and LOCATIONS </h5>
								</div>
								<div class="large-2 medium-3 small-12 column">
									<a (click)="onClickBootCamp()" (hidden)="!mapView" class="map_btn"><i class="fas fa-map-marker"></i> {{ aText }}
									</a>
									<a (click)="onClickBootCamp()" (hidden)="mapView" class="list_btn"><i class="fas fa-bars"></i> {{ aText }} </a>
								</div>
							</section>
							<section class="table clearfix">
								<div [style.display]="getDisplayMapBootCamp() ? 'none' : 'inline'" class="list-view">
									<table>
										<tbody>
											<tr>
												<td colspan="5">&nbsp;</td>
											</tr>
											<tr>
												<td>10 weeks</td>
												<td>12 weeks</td>
												<td>7-9 weeks</td>
												<td>7.5 weeks</td>
												<td>8 weeks</td>
											</tr>
											<tr>
												<td>
													<p><strong>Fort Benning</strong><br> Columbus, Georgia</p>
													<p><strong>Fort Jackson</strong><br> Columbia, South Carolina</p>
													<p><strong>Fort Leonard Wood</strong><br> Waynesville, Missouri</p>
													<p><strong>Fort Sill</strong><br> Lawton, Oklahoma</p>
												</td>
												<td valign="top">
													<p><strong>Marine Corps Recruit Depot, Parris Island </strong><br> Parris Island, South Carolina</p>
													<p><strong>Marine Corps Recruit Depot, San Diego</strong><br> San Diego, California</p>
												</td>
												<td valign="top">
													<p><strong>Great Lakes Recruit Training Command</strong><br> Great Lakes, Illinois</p>
												</td>
												<td valign="top">
													<p><strong>Lackland Air Force Base</strong><br> San Antonio, Texas</p>
												</td>
												<td valign="top">
													<p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, New Jersey</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div [style.display]="getDisplayMapBootCamp() ? 'inline' : 'none'" class="map-view">
									<div class="map-table">
										<table class="map">
											<tbody>
												<tr>
													<td>10 weeks</td>
													<td>12 weeks</td>
													<td>7-9 weeks</td>
													<td>7.5 weeks</td>
													<td>8 weeks</td>
												</tr>
												<tr>
													<td align="center"><img src="/assets/images/yellow_marker.png" alt="#"></td>
													<td align="center"><img src="/assets/images/red_marker.png" alt="#"></td>
													<td align="center"><img src="/assets/images/deep_blue_marker.png" alt="#"></td>
													<td align="center"><img src="/assets/images/light_blue_marker.png" alt="#"></td>
													<td align="center"><img src="/assets/images/green_marker.png" alt="#"></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div [hidden]=!mapView class="map">
										<img src="/assets/images/map.jpg" alt="#">
									</div>
								</div>
							</section>
						</div>
						<div id="physical-fitness" class="data-table">
							<section class="small-12 column boot-camp-header">
								<div class="small-12 column">
									<h5>Physical Fitness Requirements</h5>
								</div>
							</section>
							<section class="table">
								<table>
									<tbody>
										<tr>
											<td colspan="5">&nbsp;</td>
										</tr>
										<tr>
											<td>
												<h6>Army</h6>
											</td>
											<td>
												<h6>Marine Corps</h6>
											</td>
											<td>
												<h6>Navy</h6>
											</td>
											<td>
												<h6>Air Force</h6>
											</td>
											<td>
												<h6>Coast Guard</h6>
											</td>
										</tr>
										<tr>
											<td valign="top">
												<ul mat-list>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div><span> Timed 2-mile
															run </span>
													</li>
													<li class="clearfix">
														<div class="img">
															<img src="/assets/images/sit_up_icon.png" alt="#">
														</div>
														<span>2 minutes of sit-ups</span>
													</li>
													<li class="clearfix">
														<div class="img">
															<img src="/assets/images/push_up_icon.png" alt="#">
														</div>
														<span>2 minutes of push-ups </span>
													</li>
												</ul>
											</td>
											<td valign="top">
												<ul mat-list>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/run_icon.png" alt="#"> </div>
														<span> Timed 3-mile run </span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/pull_up_icon.png" alt="#"> </div>
														<span>A pullup count </span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/abdominal_icon.png" alt="#"> </div>
														<span>2 minutes of abdominal crunches</span>
													</li>
												</ul>
											</td>
											<td valign="top">
												<ul mat-list>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div>
														<span> Timed 1.5-mile run </span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/curl_up_icon.png" alt="#"></div>
														<span>2 minutes of curlups</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div>
														<span>2 minutes of pushups</span>
													</li>
												</ul>
											</td>
											<td valign="top">
												<ul mat-list>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div>
														<span> Timed 1.5-mile run</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div>
														<span>1 minute of pushups</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div>
														<span>1 minute of situps </span>
													</li>
												</ul>
											</td>
											<td valign="top">
												<ul mat-list>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span> Timed
															1.5-mile run </span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div>
														<span>1 minute of pushups</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>
															1 minute of situps</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/sit_reach_icon.png" alt="#"> </div><span>
															Sit-and-reach flexibility test</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/swim_icon.png" alt="#"> </div><span>
															5-minute water tread</span>
													</li>
													<li class="clearfix">
														<div class="img"><img src="/assets/images/jump_icon.png" alt="#"> </div>
														<span> 6-foot
															platform jump into a
															100-meter swim </span>
													</li>
												</ul>
											</td>
										</tr>
										<tr>
											<td align="center">
												<a (click)="showFitnessArmyDialogComponent()">
													<span class="circle"><i class="fas fa-plus"></i></span>
													More Details
												</a>
											</td>
											<td align="center">
												<a (click)="showFitnessMarineDialogComponent()">
													<span class="circle"><i class="fas fa-plus"></i></span>
													More Details
												</a>
											</td>
											<td align="center">
												<a (click)="showFitnessNavyDialogComponent()">
													<span class="circle"><i class="fas fa-plus"></i></span>
													More Details
												</a>
											</td>
											<td align="center">
												<a (click)="showFitnessAirForceDialogComponent()">
													<span class="circle"><i class="fas fa-plus"></i></span>
													More Details
												</a>
											</td>
											<td align="center">
												<a (click)="showFitnessCoastGuardDialogComponent()">
													<span class="circle"><i class="fas fa-plus"></i></span>
													More Details
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
					<div class="small-12 show-for-small-only column">
						<div class="service-data army">
							<div class="rows">
								<div class="section-head">
									<img src="/assets/images/army.png" alt="#">
									<h5>Army</h5>
								</div>
							</div>
							<div class="data-table-head">
								<h5>Boot Camp Duration</h5>
							</div>
							<div class="rows">
								<span>10 weeks </span>
							</div>
							<div class="data-table-head clearfix">
								<div class="small-12 column">
									<div class="row">
										<h5>Boot Camp LOCATIONS </h5>
									</div>
								</div>
							</div>
							<div class="rows list-view">
								<p><strong>Fort Benning</strong><br> Columbus, Georgia</p>
								<p><strong>Fort Jackson</strong><br> Columbia, South Carolina</p>
								<p><strong>Fort Leonard Wood</strong><br> Waynesville, Missouri</p>
								<p><strong>Fort Sill</strong><br> Lawton, Oklahoma</p>
							</div>
							<div class="rows map-view">
								<div class="map-table clearfix">
									<ul mat-list class="map text-center clearfix">
										<li>
											<h6>10 weeks</h6>
											<img src="/assets/images/yellow_marker.png" alt="#">
										</li>
										<li>
											<h6>12 weeks</h6>
											<img src="/assets/images/deep_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7-9 weeks</h6>
											<img src="/assets/images/light_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7.5 weeks</h6>
											<img src="/assets/images/red_marker.png" alt="#">
										</li>
										<li>
											<h6>8 weeks</h6>
											<img src="/assets/images/green_marker.png" alt="#">
										</li>
									</ul>
								</div>
								<div class="map">
									<img src="/assets/images/map.jpg" alt="#">
								</div>
							</div>
							<div class="data-table-head">
								<h5>Physical Fitness Requirements</h5>
							</div>
							<div class="rows">
								<ul mat-list>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div><span> Timed 2-mile run </span>
									</li>
									<li class="clearfix">
										<div class="img">
											<img src="/assets/images/sit_up_icon.png" alt="#">
										</div>
										<span>2 minutes of situps</span>
									</li>
									<li class="clearfix">
										<div class="img">
											<img src="/assets/images/push_up_icon.png" alt="#">
										</div>
										<span>2 minutes of pushups </span>
									</li>
								</ul>
							</div>
							<div class="rows more">
								<a (click)="showFitnessArmyDialogComponent()">
									<span class="circle"><i class="fas fa-plus"></i></span>
									More Details
								</a>
							</div>
						</div>
						<div class="service-data marine">
							<div class="rows">
								<div class="section-head">
									<img src="/assets/images/marines.png" alt="#">
									<h5>Marine Corps</h5>
								</div>
							</div>
							<div class="data-table-head">
								<h5>Boot Camp Duration</h5>
							</div>
							<div class="rows">
								<span>12 weeks </span>
							</div>
							<div class="data-table-head clearfix">
								<div class="small-12 column">
									<div class="row">
										<h5>Boot Camp LOCATIONS </h5>
									</div>
								</div>
							</div>
							<div class="rows list-view">
								<p><strong>Marine Corps Recruit Depot Parris Island </strong><br>Parris Island, South Carolina</p>
								<p><strong>Marine Corps Recruit Depot San Diego</strong><br> San Diego, California</p>
							</div>
							<div class="rows map-view">
								<div class="map-table clearfix">
									<ul mat-list class="map text-center clearfix">
										<li>
											<h6>10 weeks</h6>
											<img src="/assets/images/yellow_marker.png" alt="#">
										</li>
										<li>
											<h6>12 weeks</h6>
											<img src="/assets/images/deep_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7-9 weeks</h6>
											<img src="/assets/images/light_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7.5 weeks</h6>
											<img src="/assets/images/red_marker.png" alt="#">
										</li>
										<li>
											<h6>8 weeks</h6>
											<img src="/assets/images/green_marker.png" alt="#">
										</li>
									</ul>
								</div>
								<div class="map">
									<img src="/assets/images/map.jpg" alt="#">
								</div>
							</div>
							<div class="data-table-head">
								<h5>Physical Fitness Requirements</h5>
							</div>
							<div class="rows">
								<ul mat-list>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span> Timed 3-mile run </span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/pull_up_icon.png" alt="#"></div> <span>A pullup count</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/abdominal_icon.png" alt="#"> </div><span>2 minutes of abdominal
											crunches</span>
									</li>
								</ul>
							</div>
							<div class="rows more">
								<a (click)="showFitnessMarineDialogComponent()">
									<span class="circle"><i class="fas fa-plus"></i></span>
									More Details
								</a>
							</div>
						</div>
						<div class="service-data navy">
							<div class="rows">
								<div class="section-head">
									<img src="/assets/images/navy.png" alt="#">
									<h5>Navy</h5>
								</div>
							</div>
							<div class="data-table-head">
								<h5>Boot Camp Duration</h5>
							</div>
							<div class="rows">
								<span>7-9 weeks </span>
							</div>
							<div class="data-table-head clearfix">
								<div class="small-12 column">
									<div class="row">
										<h5>Boot Camp LOCATIONS </h5>
									</div>
								</div>
							</div>
							<div class="rows list-view">
								<p><strong>Great Lakes Recruit Training Command</strong><br> Great Lakes, Illinois</p>
							</div>
							<div class="rows map-view">
								<div class="map-table clearfix">
									<ul mat-list class="map text-center clearfix">
										<li>
											<h6>10 weeks</h6>
											<img src="/assets/images/yellow_marker.png" alt="#">
										</li>
										<li>
											<h6>12 weeks</h6>
											<img src="/assets/images/deep_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7-9 weeks</h6>
											<img src="/assets/images/light_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7.5 weeks</h6>
											<img src="/assets/images/red_marker.png" alt="#">
										</li>
										<li>
											<h6>8 weeks</h6>
											<img src="/assets/images/green_marker.png" alt="#">
										</li>
									</ul>
								</div>
								<div class="map">
									<img src="/assets/images/map.jpg" alt="#">
								</div>
							</div>
							<div class="data-table-head">
								<h5>Physical Fitness Requirements</h5>
							</div>
							<div class="rows">
								<ul mat-list>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/run_icon.png" alt="#"> </div> <span> Timed 1.5-mile run </span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/curl_up_icon.png" alt="#"> </div> <span>2 minutes of curlups</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div> <span>2 minutes of pushups</span>
									</li>
								</ul>
							</div>
							<div class="rows more">
								<a (click)="showFitnessNavyDialogComponent()">
									<span class="circle"><i class="fas fa-plus"></i></span>
									More Details
								</a>
							</div>
						</div>
						<div class="service-data air-force">
							<div class="rows">
								<div class="section-head">
									<img src="/assets/images/air-force.png" alt="#">
									<h5>Air Force</h5>
								</div>
							</div>
							<div class="data-table-head">
								<h5>Boot Camp Duration</h5>
							</div>
							<div class="rows">
								<span>7.5 weeks </span>
							</div>
							<div class="data-table-head clearfix">
								<div class="small-12 column">
									<div class="row">
										<h5>Boot Camp LOCATIONS </h5>
									</div>
								</div>
							</div>
							<div class="rows list-view">
								<p><strong>Lackland Air Force Base</strong><br> San Antonio, Texas</p>
							</div>
							<div class="rows map-view">
								<div class="map-table clearfix">
									<ul mat-list class="map text-center clearfix">
										<li>
											<h6>10 weeks</h6>
											<img src="/assets/images/yellow_marker.png" alt="#">
										</li>
										<li>
											<h6>12 weeks</h6>
											<img src="/assets/images/deep_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7-9 weeks</h6>
											<img src="/assets/images/light_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7.5 weeks</h6>
											<img src="/assets/images/red_marker.png" alt="#">
										</li>
										<li>
											<h6>8 weeks</h6>
											<img src="/assets/images/green_marker.png" alt="#">
										</li>
									</ul>
								</div>
								<div class="map">
									<img src="/assets/images/map.jpg" alt="#">
								</div>
							</div>
							<div class="data-table-head">
								<h5>Physical Fitness Requirements</h5>
							</div>
							<div class="rows">
								<ul mat-list>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span> Timed 1.5-mile run </span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"> </div><span>1 minute of pushups</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>1 minute of situps</span>
									</li>
								</ul>
							</div>
							<div class="rows more">
								<a (click)="showFitnessAirForceDialogComponent()">
									<span class="circle"><i class="fas fa-plus"></i></span>
									More Details
								</a>
							</div>
						</div>
						<div class="service-data coast-guard">
							<div class="rows">
								<div class="section-head">
									<img src="/assets/images/coast-guard.png" alt="#">
									<h5>Coast Guard</h5>
								</div>
							</div>
							<div class="data-table-head">
								<h5>Boot Camp Duration</h5>
							</div>
							<div class="rows">
								<span>8 weeks </span>
							</div>
							<div class="data-table-head clearfix">
								<div class="small-12 column">
									<div class="row">
										<h5>Boot Camp LOCATIONS </h5>
									</div>
								</div>
							</div>
							<div class="rows list-view">
								<p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, New Jersey</p>
							</div>
							<div class="rows map-view">
								<div class="map-table clearfix">
									<ul mat-list class="map text-center clearfix">
										<li>
											<h6>10 weeks</h6>
											<img src="/assets/images/yellow_marker.png" alt="#">
										</li>
										<li>
											<h6>12 weeks</h6>
											<img src="/assets/images/deep_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7-9 weeks</h6>
											<img src="/assets/images/light_blue_marker.png" alt="#">
										</li>
										<li>
											<h6>7.5 weeks</h6>
											<img src="/assets/images/red_marker.png" alt="#">
										</li>
										<li>
											<h6>8 weeks</h6>
											<img src="/assets/images/green_marker.png" alt="#">
										</li>
									</ul>
								</div>
								<div class="map">
									<img src="/assets/images/map.jpg" alt="#">
								</div>
							</div>
							<div class="data-table-head">
								<h5>Physical Fitness Requirements</h5>
							</div>
							<div class="rows">
								<ul mat-list>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/run_icon.png" alt="#"></div> <span> Timed 1.5-mile run </span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/push_up_icon.png" alt="#"></div> <span>1 minute of pushups</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/sit_up_icon.png" alt="#"> </div><span>1 minute of situps</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/sit_reach_icon.png" alt="#"> </div><span>Sit-and-reach flexibility
											test</span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/swim_icon.png" alt="#"> </div><span>5-minute water tread </span>
									</li>
									<li class="clearfix">
										<div class="img"><img src="/assets/images/jump_icon.png" alt="#"> </div><span> 6-foot platform jump
											into a
											100-meter swim </span>
									</li>
								</ul>
							</div>
							<div class="rows more">
								<a (click)="showFitnessCoastGuardDialogComponent()">
									<span class="circle"><i class="fas fa-plus"></i></span>
									More Details
								</a>
							</div>
						</div>
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>
				
				<div *ngIf="showTypesOfServices">
					<div class="small-12 medium-9 large-9 right-part column full-black-text">
						<div [innerHTML]="pageHtml[0]"></div>
						<section class="small-12 contact-bar">
							<a routerLink="/options-contact-recruiter">Find a Recruiter</a>
						</section>
					</div>
				</div>


				<div *ngIf="showContactServices">
					<div [innerHTML]="pageHtml[0]"></div> 
				</div>

				<div *ngIf="showMilitary">
					<div class="small-12 medium-9 large-9 right-part column option-military-content">
						<!-- section: option-military-nutshell -->
						<div [innerHTML]="pageHtml[0]"></div> 

						<!-- section: military-list-table -->
						<div id="Military-table" class="military-list-table">
							<table>
								<tbody>
									<tr>
										<td>
											<img src="/assets/images/military-army.png" alt="#">
											<h5>Army</h5>
											<a data="openMilitaryInfoDialog('A')" (click)="openMilitaryInfoDialog('A')">
											<!-- <a #openMilitaryInfoDialogA id="openMilitaryInfoDialogA"> -->
												<!-- <a onclick="Window.optionsmilitary.openMilitaryInfoDialogA()"> -->
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
										<td>
											<img src="/assets/images/military-marines.png" alt="#">
											<h5>Marine Corps</h5>
											<a data="openMilitaryInfoDialog('M')" (click)="openMilitaryInfoDialog('M')">
											<!-- <a #openMilitaryInfoDialogM id="openMilitaryInfoDialogM"></a> -->
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
										<td>
											<img src="/assets/images/military-navy.png" alt="#">
											<h5>Navy</h5>
											<a (click)="openMilitaryInfoDialog('N')">
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
										<td>
											<img src="/assets/images/military-airforce.png" alt="#">
											<h5>Air Force</h5>
											<a (click)="openMilitaryInfoDialog('F')">
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
										<td>
											<img src="/assets/images/military-spaceforce.png" alt="#">
											<h5>Space Force</h5>
											<a (click)="openMilitaryInfoDialog('S')">
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
										<td>
											<img src="/assets/images/military-coastguard.png" alt="#">
											<h5>Coast Guard</h5>
											<a (click)="openMilitaryInfoDialog('C')">
												<span class="circle"><i class="fas fa-plus"></i></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- section: career-detail -->
						<div [innerHTML]="pageHtml[1]"></div>

						<!-- section: army_text -->
						<div class="army_text">
							<ul mat-list>
								<li>
									<h3><a href="https://www.goarmy.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY')">Army</a></h3>
									<p><a href="https://www.goarmy.com/about/serving-in-the-army/serve-your-way/army-reserve.html"
											target="_blank" (click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY_RESERVE')">Army
											Reserve</a></p>
									<p><a href="https://www.nationalguard.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_ARMY_NATIONAL_GUARD')">Army National Guard</a></p>
								</li>
								<li>
									<h3><a href="https://www.marines.com" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_MARINE_CORPS')">Marine Corps</a></h3>
									<p><a href="https://www.marines.com" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_MARINE_CORPS_RESERVE')">Marine Corps Reserve</a></p>
								</li>
								<li>
									<h3><a href="https://www.navy.com/" target="_blank" (click)="trackClick('#CITM_EXIT_TO_SERVICE_NAVY')">Navy</a>
									</h3>
									<p><a href="https://www.navy.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_NAVY_RESERVE')">Navy Reserve</a></p>
								</li>
								<li>
									<h3><a href="https://www.airforce.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE')">Air Force</a></h3>
									<p><a href="https://afreserve.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE_RESERVE')">Air Force Reserve</a></p>
									<p><a href="https://www.goang.com/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_AIR_FORCE_NATIONAL_GUARD')">Air National Guard</a></p>
								</li>
								<li>
									<h3><a href="https://www.spaceforce.mil/" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_SPACE_FORCE')">Space Force</a></h3>
								</li>
								<li>
									<h3><a href="https://www.gocoastguard.com" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_COAST_GUARD')">Coast Guard</a></h3>
									<p><a href="https://www.gocoastguard.com" target="_blank"
											(click)="trackClick('#CITM_EXIT_TO_SERVICE_COAST_GUARD_RESERVE')">Coast Guard Reserve</a></p>
								</li>
							</ul>
						</div>

						<!-- section: military_text career-detail -->
						<div [innerHTML]="pageHtml[2]"></div>

						<!-- section: contact-bar -->
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
						<div class="service_fav_text career-detail">
							<h3>Add a Service to Your Favorite</h3>
							<div id="Military-table">
								<table>
									<tbody>
										<span [ngStyle]="myStyle">
											<tr>
												<td *ngFor="let s of serviceObjects" style="border: none !important">
													<img *ngIf="!s.favoriteId" [src]="getFavoriteImage(s, false)"
														(click)="onFavoriteClick(s); trackClick('#CITM_FAV_SERVICE_'+s.name)">
													<img *ngIf="s.favoriteId" [src]="getFavoriteImage(s, true)"
														(click)="onFavoriteClick(s); trackClick('#CITM_FAV_SERVICE_'+s.name)">
													<h5>{{ s.name }}</h5>
												</td>
											</tr>
										</span>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="small-12 show-for-small-only column">
						<section class="small-12 contact-bar">
							<a (click)="redirect('options-contact-recruiter')">Find a Recruiter</a>
						</section>
					</div>
				</div>
			</div>
			<div *ngIf="showContactServices">
				<div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
					<app-contact-services [serviceObjects]="serviceObjects"  [payData]="payData" [rankData]="rankData"></app-contact-services>
				</div>
			</div>
			<div *ngIf="!useDynamicContent">
				<app-overview></app-overview>
			</div>
		</mat-card>
	</div>
</div>